<section class="intro">
  <h1>Portal</h1>
  <p>A root-level DOM node for modals, overlays, and dialogs.</p>
</section>

<section class="details">
  <h2>Usage</h2>
  <p>Place just before the closing &lt;/body&gt; tag.</p>
</section>

<section class="details">
  <h2>Features</h2>
  <p>Ensures the component is outside the main document flow, avoids z-index conflicts, and guarantees that modals, overlays, and dialogs render above all other content.</p>
</section>

<section class="content">
  <div class="content-item">
    <div>Placement</div>
    <div class="example">
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;body&gt;
 &lt;!-- Preceding code --&gt;
 &lt;ui-portal&gt;&lt;/ui-portal&gt;
&lt;/body&gt;
</code></pre>

      </div>
    </div>
  </div>
</section>