ui-separator{
  --thickness:1px;
  --spacing:0;
  --color:var(--ui-border-color);
  display:block;
  background-color:var(--color);

  &[orientation='horizontal']{
    width:100%;
    height:var(--thickness);
    margin-block:var(--spacing);
  }

  &[orientation='vertical']{
    align-self:stretch;
    width:var(--thickness);
    margin-inline:var(--spacing);
  }
}