ui-separator{
  --ui-thickness:1px;
  --ui-color:var(--ui-border-color);
  display:block;
  background-color:var(--ui-color);

  &[orientation='horizontal']{
    width:100%;
    height:var(--ui-thickness);
  }

  &[orientation='vertical']{
    width:var(--ui-thickness);
    align-self:stretch;
  }
}