<section class="intro">
  <h1>Separator</h1>
  <p>A component for visually separating content with a line.</p>
</section>

<section class="details">
  <h2>Info</h2>
  <p>This component will become obsolete once <a href="https://www.w3.org/TR/css-gaps-1/" target="_blank">CSS Gaps Decorations Module Level 1</a> is fully implemented across all major browsers.</p>
  <p>Separators default to 100% size along their orientation axis.</p>
</section>

<section class="details">
  <h2>Attributes</h2>
  <p>vertical - static. Sets the separator orientation to vertical.</p>
</section>

<section class="content">

  <div class="content-item">
    <div>Horizontal separator</div>
    <div class="example">
      <div class="preview">
        <ui-separator></ui-separator>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-separator&gt;&lt;/ui-separator&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Vertical separator</div>
    <div class="example">
      <div class="preview" style="height:200px;">
        <ui-separator vertical></ui-separator>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-separator vertical&gt;&lt;/ui-separator&gt;
</code></pre>

      </div>
    </div>
  </div>

</section>