/* document settings */
html{
  font-size:16px;
  tab-size:4;
}

/* reset spacing */
html,body{
  margin:0;
  padding:0;
}

/* consistent box-sizing */
*,*::before,*::after{box-sizing:border-box;}

/* reset for controls */
button,
input:is([type="checkbox"],[type="radio"]){
  appearance:none;
}

button,a,
input:is([type="checkbox"],[type="radio"]){
  touch-action:manipulation;
}

button,select,
input:is([type="checkbox"],[type="radio"]){
  margin:0;
  padding:0;
  background:none;
  border:none;
}

/* disable tap highlight */
button,a,input,textarea,select{
  -webkit-tap-highlight-color:transparent;
}

/* normalize media */
img,picture,video,iframe,embed,object{
  max-width:100%;
  display:block;
  border:none;
}

img,picture,video{height:auto;}
iframe{width:100%;}

/* normalize scrollbar (chromium) */
::-webkit-scrollbar{
  width:0.5rem;
  height:0.5rem;
}

::-webkit-scrollbar-thumb{border-radius:calc(infinity * 1px);}
::-webkit-scrollbar-track{background:transparent;}
::-webkit-scrollbar-corner{display:none;}