*,::before,::after{box-sizing:border-box;}

html{
  font-size:16px;
  tab-size:4;
}

html,body{
  margin:0;
  padding:0;
}

body{-webkit-font-smoothing:antialiased;}

:where(a){text-decoration:none}

:where(table){
  border-collapse:collapse;
  border-spacing:0;
}

:where(h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,dd,blockquote,figure,pre){
  margin:0;
  padding:0;
}

:where(button,input[type="checkbox"],input[type="radio"]){
  appearance:none;
  margin:0;
  padding:0;
  background:none;
  border:none;
}

:where(button,a[href],label[for],summary,input[type="checkbox"],input[type="radio"]){
  touch-action:manipulation;
  -webkit-tap-highlight-color:transparent
}

:where(select,input[type="range"]){
  -webkit-tap-highlight-color:transparent;
}

:where(img,picture,video,canvas,svg,iframe){
  max-width:100%;
  display:block;
}

:where(img,picture,video){height:auto;}
:where(iframe){width:100%;border:none;}