:root{
  font-size:16px;

  --scaling:1;
  --font-size-default:calc(1rem * var(--scaling));

  --font-family-default:ui-sans-serif,system-ui,sans-serif;
  --font-family-heading:var(--font-family-default);
  --font-family-code:ui-monospace,monospace;
  --font-family-emoji:'Apple Color Emoji','Segoe UI Emoji';

  --font-weight-light:300;
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semibold:600;
  --font-weight-bold:700;

  --font-style-normal:normal;
  --font-style-italic:italic;

  --line-height-default:1.6;

  --tab-size-default:4;

  --text-underline-offset-default:0.2rem;
}