:root{
  font-size:16px;

  --scaling:1;
  --font-size-default:calc(1rem * var(--scaling));

  --font-family-sans:ui-sans-serif,system-ui,sans-serif;
  --font-family-serif:ui-serif,serif;
  --font-family-monospace:ui-monospace,monospace;
  --font-family-emoji:'Apple Color Emoji','Segoe UI Emoji';

  --font-family-default:var(--font-family-sans);
  --font-family-heading:var(--font-family-default);
  --font-family-body:var(--font-family-default);
  --font-family-longform:var(--font-family-serif);
  --font-family-code:var(--font-family-monospace);

  --font-weight-light:300;
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semibold:600;
  --font-weight-bold:700;

  --font-style-normal:normal;
  --font-style-italic:italic;

  --line-height-default:1.6;

  --tab-size-default:4;
}