:root{
  --ui-color-white:oklch(1 0 0);
  --ui-color-black:oklch(0 0 0);

  --ui-color-neutral-10:oklch(.10 0 0);
  --ui-color-neutral-20:oklch(.25 0 0);
  --ui-color-neutral-30:oklch(.35 0 0);
  --ui-color-neutral-40:oklch(.45 0 0);
  --ui-color-neutral-50:oklch(.55 0 0);
  --ui-color-neutral-60:oklch(.65 0 0);
  --ui-color-neutral-70:oklch(.75 0 0);
  --ui-color-neutral-80:oklch(.85 0 0);
  --ui-color-neutral-90:oklch(.95 0 0);

  --ui-color-neutral-10:oklch(.1 0 0);
  --ui-color-neutral-15:oklch(.15 0 0);
  --ui-color-neutral-20:oklch(.2 0 0);
  --ui-color-neutral-25:oklch(.25 0 0);
  --ui-color-neutral-30:oklch(.3 0 0);
  --ui-color-neutral-35:oklch(.35 0 0);
  --ui-color-neutral-40:oklch(.4 0 0);
  --ui-color-neutral-45:oklch(.45 0 0);
  --ui-color-neutral-50:oklch(.5 0 0);
  --ui-color-neutral-55:oklch(.55 0 0);
  --ui-color-neutral-60:oklch(.6 0 0);
  --ui-color-neutral-65:oklch(.65 0 0);
  --ui-color-neutral-70:oklch(.7 0 0);
  --ui-color-neutral-75:oklch(.75 0 0);
  --ui-color-neutral-80:oklch(.8 0 0);
  --ui-color-neutral-85:oklch(.85 0 0);
  --ui-color-neutral-90:oklch(.9 0 0);
  --ui-color-neutral-95:oklch(.95 0 0);

  --ui-color-red-10:oklch(0.30 0.12 27);
  --ui-color-red-20:oklch(0.38 0.16 27);
  --ui-color-red-30:oklch(0.46 0.20 27);
  --ui-color-red-40:oklch(0.54 0.22 27);
  --ui-color-red-50:oklch(0.62 0.22 27);
  --ui-color-red-60:oklch(0.70 0.18 27);
  --ui-color-red-70:oklch(0.78 0.10 27);
  --ui-color-red-80:oklch(0.88 0.05 27);
  --ui-color-red-90:oklch(0.95 0.01 27);

  --ui-color-green-10:oklch(0.30 0.10 148);
  --ui-color-green-20:oklch(0.38 0.14 148);
  --ui-color-green-30:oklch(0.46 0.17 148);
  --ui-color-green-40:oklch(0.54 0.19 148);
  --ui-color-green-50:oklch(0.62 0.18 148);
  --ui-color-green-60:oklch(0.70 0.15 148);
  --ui-color-green-70:oklch(0.78 0.10 148);
  --ui-color-green-80:oklch(0.88 0.05 148);
  --ui-color-green-90:oklch(0.95 0.01 148);

  --ui-color-blue-10:oklch(0.30 0.15 252);
  --ui-color-blue-20:oklch(0.38 0.20 252);
  --ui-color-blue-30:oklch(0.46 0.22 252);
  --ui-color-blue-40:oklch(0.54 0.25 252);
  --ui-color-blue-50:oklch(0.62 0.24 252);
  --ui-color-blue-60:oklch(0.70 0.15 252);
  --ui-color-blue-70:oklch(0.78 0.10 252);
  --ui-color-blue-80:oklch(0.88 0.04 252);
  --ui-color-blue-90:oklch(0.95 0.01 252);

  --ui-color-yellow-10:oklch(0.30 0.08 83);
  --ui-color-yellow-20:oklch(0.38 0.12 83);
  --ui-color-yellow-30:oklch(0.46 0.15 83);
  --ui-color-yellow-40:oklch(0.54 0.16 83);
  --ui-color-yellow-50:oklch(0.62 0.16 83);
  --ui-color-yellow-60:oklch(0.70 0.12 83);
  --ui-color-yellow-70:oklch(0.78 0.08 83);
  --ui-color-yellow-80:oklch(0.88 0.04 83);
  --ui-color-yellow-90:oklch(0.95 0.01 83);
}