:root{
  --color-white:oklch(1 0 0);
  --color-black:oklch(0 0 0);
}

ui-button:not([color]),
[color="gray"]{
  --solid-fg:var(--solid-gray-fg);
  --solid-bg:var(--solid-gray-bg);
  --solid-bg-hover:var(--solid-gray-bg-hover);
  --solid-bg-pressed:var(--solid-gray-bg-pressed);

  --soft-fg:var(--soft-gray-fg);
  --soft-bg:var(--soft-gray-bg);
  --soft-bg-hover:var(--soft-gray-bg-hover);
  --soft-bg-pressed:var(--soft-gray-bg-pressed);

  --outline-fg:var(--outline-gray-fg);
  --outline-bg-hover:var(--outline-gray-bg-hover);
  --outline-bg-pressed:var(--outline-gray-bg-pressed);
  --outline-border-color:var(--outline-gray-border);

  --ghost-fg:var(--ghost-gray-fg);
  --ghost-bg-hover:var(--ghost-gray-bg-hover);
  --ghost-bg-pressed:var(--ghost-gray-bg-pressed);
}

[color="blue"]{
  --solid-fg:var(--solid-blue-fg);
  --solid-bg:var(--solid-blue-bg);
  --solid-bg-hover:var(--solid-blue-bg-hover);
  --solid-bg-pressed:var(--solid-blue-bg-pressed);

  --soft-fg:var(--soft-blue-fg);
  --soft-bg:var(--soft-blue-bg);
  --soft-bg-hover:var(--soft-blue-bg-hover);
  --soft-bg-pressed:var(--soft-blue-bg-pressed);

  --outline-fg:var(--outline-blue-fg);
  --outline-bg-hover:var(--outline-blue-bg-hover);
  --outline-bg-pressed:var(--outline-blue-bg-pressed);
  --outline-border-color:var(--outline-blue-border);

  --ghost-fg:var(--ghost-blue-fg);
  --ghost-bg-hover:var(--ghost-blue-bg-hover);
  --ghost-bg-pressed:var(--ghost-blue-bg-pressed);
}

[color="green"]{
  --solid-fg:var(--solid-green-fg);
  --solid-bg:var(--solid-green-bg);
  --solid-bg-hover:var(--solid-green-bg-hover);
  --solid-bg-pressed:var(--solid-green-bg-pressed);

  --soft-fg:var(--soft-green-fg);
  --soft-bg:var(--soft-green-bg);
  --soft-bg-hover:var(--soft-green-bg-hover);
  --soft-bg-pressed:var(--soft-green-bg-pressed);

  --outline-fg:var(--outline-green-fg);
  --outline-bg-hover:var(--outline-green-bg-hover);
  --outline-bg-pressed:var(--outline-green-bg-pressed);
  --outline-border-color:var(--outline-green-border);

  --ghost-fg:var(--ghost-green-fg);
  --ghost-bg-hover:var(--ghost-green-bg-hover);
  --ghost-bg-pressed:var(--ghost-green-bg-pressed);
}

[color="yellow"]{
  --solid-fg:var(--solid-yellow-fg);
  --solid-bg:var(--solid-yellow-bg);
  --solid-bg-hover:var(--solid-yellow-bg-hover);
  --solid-bg-pressed:var(--solid-yellow-bg-pressed);

  --soft-fg:var(--soft-yellow-fg);
  --soft-bg:var(--soft-yellow-bg);
  --soft-bg-hover:var(--soft-yellow-bg-hover);
  --soft-bg-pressed:var(--soft-yellow-bg-pressed);

  --outline-fg:var(--outline-yellow-fg);
  --outline-bg-hover:var(--outline-yellow-bg-hover);
  --outline-bg-pressed:var(--outline-yellow-bg-pressed);
  --outline-border-color:var(--outline-yellow-border);

  --ghost-fg:var(--ghost-yellow-fg);
  --ghost-bg-hover:var(--ghost-yellow-bg-hover);
  --ghost-bg-pressed:var(--ghost-yellow-bg-pressed);
}

[color="red"]{
  --solid-fg:var(--solid-red-fg);
  --solid-bg:var(--solid-red-bg);
  --solid-bg-hover:var(--solid-red-bg-hover);
  --solid-bg-pressed:var(--solid-red-bg-pressed);

  --soft-fg:var(--soft-red-fg);
  --soft-bg:var(--soft-red-bg);
  --soft-bg-hover:var(--soft-red-bg-hover);
  --soft-bg-pressed:var(--soft-red-bg-pressed);

  --outline-fg:var(--outline-red-fg);
  --outline-bg-hover:var(--outline-red-bg-hover);
  --outline-bg-pressed:var(--outline-red-bg-pressed);
  --outline-border-color:var(--outline-red-border);

  --ghost-fg:var(--ghost-red-fg);
  --ghost-bg-hover:var(--ghost-red-bg-hover);
  --ghost-bg-pressed:var(--ghost-red-bg-pressed);
}