:root{
  --color-white:oklch(1 0 0);
  --color-black:oklch(0 0 0);
}

[color="gray"]{
  --variant-solid-fg:var(--variant-solid-fg-gray);
  --variant-solid-bg:var(--variant-solid-bg-gray);
  --variant-solid-bg-hover:var(--variant-solid-bg-gray-hover);
  --variant-solid-bg-pressed:var(--variant-solid-bg-gray-pressed);

  --variant-soft-fg:var(--variant-soft-fg-gray);
  --variant-soft-bg:var(--variant-soft-bg-gray);
  --variant-soft-bg-hover:var(--variant-soft-bg-gray-hover);
  --variant-soft-bg-pressed:var(--variant-soft-bg-gray-pressed);
  --variant-soft-border-color:var(--variant-soft-border-gray);

  --variant-outline-fg:var(--variant-outline-fg-gray);
  --variant-outline-bg-hover:var(--variant-outline-bg-gray-hover);
  --variant-outline-bg-pressed:var(--variant-outline-bg-gray-pressed);
  --variant-outline-border-color:var(--variant-outline-border-gray);

  --variant-text-fg:var(--variant-text-fg-gray);
  --variant-text-bg-hover:var(--variant-text-bg-gray-hover);
  --variant-text-bg-pressed:var(--variant-text-bg-gray-pressed);
}

[color="blue"]{
  --variant-solid-fg:var(--variant-solid-fg-blue);
  --variant-solid-bg:var(--variant-solid-bg-blue);
  --variant-solid-bg-hover:var(--variant-solid-bg-blue-hover);
  --variant-solid-bg-pressed:var(--variant-solid-bg-blue-pressed);

  --variant-soft-fg:var(--variant-soft-fg-blue);
  --variant-soft-bg:var(--variant-soft-bg-blue);
  --variant-soft-bg-hover:var(--variant-soft-bg-blue-hover);
  --variant-soft-bg-pressed:var(--variant-soft-bg-blue-pressed);
  --variant-soft-border-color:var(--variant-soft-border-blue);

  --variant-outline-fg:var(--variant-outline-fg-blue);
  --variant-outline-bg-hover:var(--variant-outline-bg-blue-hover);
  --variant-outline-bg-pressed:var(--variant-outline-bg-blue-pressed);
  --variant-outline-border-color:var(--variant-outline-border-blue);

  --variant-text-fg:var(--variant-text-fg-blue);
  --variant-text-bg-hover:var(--variant-text-bg-blue-hover);
  --variant-text-bg-pressed:var(--variant-text-bg-blue-pressed);
}

[color="green"]{
  --variant-solid-fg:var(--variant-solid-fg-green);
  --variant-solid-bg:var(--variant-solid-bg-green);
  --variant-solid-bg-hover:var(--variant-solid-bg-green-hover);
  --variant-solid-bg-pressed:var(--variant-solid-bg-green-pressed);

  --variant-soft-fg:var(--variant-soft-fg-green);
  --variant-soft-bg:var(--variant-soft-bg-green);
  --variant-soft-bg-hover:var(--variant-soft-bg-green-hover);
  --variant-soft-bg-pressed:var(--variant-soft-bg-green-pressed);
  --variant-soft-border-color:var(--variant-soft-border-green);

  --variant-outline-fg:var(--variant-outline-fg-green);
  --variant-outline-bg-hover:var(--variant-outline-bg-green-hover);
  --variant-outline-bg-pressed:var(--variant-outline-bg-green-pressed);
  --variant-outline-border-color:var(--variant-outline-border-green);

  --variant-text-fg:var(--variant-text-fg-green);
  --variant-text-bg-hover:var(--variant-text-bg-green-hover);
  --variant-text-bg-pressed:var(--variant-text-bg-green-pressed);
}

[color="yellow"]{
  --variant-solid-fg:var(--variant-solid-fg-yellow);
  --variant-solid-bg:var(--variant-solid-bg-yellow);
  --variant-solid-bg-hover:var(--variant-solid-bg-yellow-hover);
  --variant-solid-bg-pressed:var(--variant-solid-bg-yellow-pressed);

  --variant-soft-fg:var(--variant-soft-fg-yellow);
  --variant-soft-bg:var(--variant-soft-bg-yellow);
  --variant-soft-bg-hover:var(--variant-soft-bg-yellow-hover);
  --variant-soft-bg-pressed:var(--variant-soft-bg-yellow-pressed);
  --variant-soft-border-color:var(--variant-soft-border-yellow);

  --variant-outline-fg:var(--variant-outline-fg-yellow);
  --variant-outline-bg-hover:var(--variant-outline-bg-yellow-hover);
  --variant-outline-bg-pressed:var(--variant-outline-bg-yellow-pressed);
  --variant-outline-border-color:var(--variant-outline-border-yellow);

  --variant-text-fg:var(--variant-text-fg-yellow);
  --variant-text-bg-hover:var(--variant-text-bg-yellow-hover);
  --variant-text-bg-pressed:var(--variant-text-bg-yellow-pressed);
}

[color="red"]{
  --variant-solid-fg:var(--variant-solid-fg-red);
  --variant-solid-bg:var(--variant-solid-bg-red);
  --variant-solid-bg-hover:var(--variant-solid-bg-red-hover);
  --variant-solid-bg-pressed:var(--variant-solid-bg-red-pressed);

  --variant-soft-fg:var(--variant-soft-fg-red);
  --variant-soft-bg:var(--variant-soft-bg-red);
  --variant-soft-bg-hover:var(--variant-soft-bg-red-hover);
  --variant-soft-bg-pressed:var(--variant-soft-bg-red-pressed);
  --variant-soft-border-color:var(--variant-soft-border-red);

  --variant-outline-fg:var(--variant-outline-fg-red);
  --variant-outline-bg-hover:var(--variant-outline-bg-red-hover);
  --variant-outline-bg-pressed:var(--variant-outline-bg-red-pressed);
  --variant-outline-border-color:var(--variant-outline-border-red);

  --variant-text-fg:var(--variant-text-fg-red);
  --variant-text-bg-hover:var(--variant-text-bg-red-hover);
  --variant-text-bg-pressed:var(--variant-text-bg-red-pressed);
}