:root{
  /* heights */
  --height-x-small:1.5rem;
  --height-small:2rem;
  --height-medium:2.5rem;
  --height-large:3rem;
  --height-x-large:3.5rem;
  --height-default:var(--height-medium);

  /* sizes */
  --size-3x-small:1rem;
  --size-2x-small:1.25rem;
  --size-x-small:1.5rem;
  --size-small:2rem;
  --size-medium:2.5rem;
  --size-large:3rem;
  --size-x-large:3.5rem;
  --size-2x-large:4rem;
  --size-3x-large:4.5rem;

  /* control sizes */
  --toggle-size-small:1rem;
  --toggle-size-medium:1.25rem;
  --toggle-size-large:1.5rem;

  /* padding */
  --padding-x-small:0.5rem;
  --padding-small:0.75rem;
  --padding-medium:1rem;
  --padding-large:1.25rem;
  --padding-x-large:1.5rem;
  --padding-default:var(--padding-medium);

  /* icon sizes */
  --icon-size-x-small:1rem;
  --icon-size-small:1.125rem;
  --icon-size-medium:1.25rem;
  --icon-size-large:1.375rem;
  --icon-size-x-large:1.5rem;
  --icon-size-default:var(--icon-size-medium);

  /* rounded */
  --rounded-base:0.5rem;
  --rounded-full:calc(infinity * 1px);
  --rounded-none:0;

  /* duration */
  --duration-fast:0.075s;
  --duration-normal:0.15s;
  --duration-slow:0.25s;
  --duration-default:var(--duration-normal);

  /* outline focus */
  --outline-focus-width:2px;
  --outline-focus-style:solid;
  --outline-focus-offset:2px;
}

[data-rounded="full"]{border-radius:var(--rounded-full);}
[data-rounded="none"]{border-radius:var(--rounded-none);}

[data-border]{
  content:'';
  position:absolute;
  inset:0;
  pointer-events:none;
  border-radius:inherit;
  border-width:1px;
  border-style:solid;
}

select,label,
input:is([type="checkbox"],[type="radio"]){
  cursor:pointer;
}

/* states */
/* ::selection{} */

:disabled{
  cursor:not-allowed;
  pointer-events:auto;
}

/* outline */
button,a,input,textarea,select{
  outline-width:var(--outline-focus-width);
  outline-style:var(--outline-focus-style);
  outline-offset:var(--outline-focus-offset);
  outline-color:transparent;

  &:focus-visible{
    outline-color:var(--outline-focus-color);
  }
}