:root{
  /* control heights */
  --control-height-x-small:1.5rem;
  --control-height-small:2rem;
  --control-height-medium:2.5rem;
  --control-height-large:3rem;
  --control-height-x-large:3.5rem;
  --control-height-default:var(--control-height-medium);

  /* padding */
  --padding-x-small:0.5rem;
  --padding-small:0.75rem;
  --padding-medium:1rem;
  --padding-large:1.25rem;
  --padding-x-large:1.5rem;
  --padding-default:var(--padding-medium);

  /* icon sizes */
  --icon-size-x-small:1rem;
  --icon-size-small:1.125rem;
  --icon-size-medium:1.25rem;
  --icon-size-large:1.375rem;
  --icon-size-x-large:1.5rem;
  --icon-size-default:var(--icon-size-medium);

  /* border radius */
  --border-radius-none:0;
  --border-radius-default:0.5rem;
  --border-radius-full:50vmax;

  /* transition duration */
  --transition-duration-fast:0.075s;
  --transition-duration-normal:0.15s;
  --transition-duration-slow:0.25s;
  --transition-duration-default:var(--transition-duration-normal);

  /* outline */
  --outline-offset:2px;
  --outline-width:2px;
  --outline-style:solid;
}

/* text direction */
input,
ui-button,
ui-checkbox,
ui-switch,
ui-tabs{
  direction:inherit;
}

/* states */
:disabled{
  cursor:not-allowed;
  opacity:0.5;
  pointer-events:auto;
}

[busy]{
  cursor:wait;
}

/* disable text selection */
button,
ui-button,
ui-checkbox,
ui-switch,
ui-tab{
  user-select:none;
}

/* button like */
button,
ui-button,
ui-checkbox,
ui-switch,
ui-tab{
  appearance:none;
  cursor:pointer;
  touch-action:manipulation;
}

/* outline */
ui-checkbox,
ui-tab,
button,
input,
textarea,
a{
  outline-offset:var(--outline-offset);
  outline-width:var(--outline-width);
  outline-style:var(--outline-style);
  outline-color:transparent;
}

:focus-visible{
  outline-color:var(--outline-color);
}

/* link */
a{
  color:var(--link-color);
  transition-duration:var(--transition-duration-default);
  transition-property:outline-color,color;

  &:hover{color:var(--link-color-hover);}
  &:active{color:var(--link-color-active);}
}

::-webkit-scrollbar-thumb{
  background-color:var(--scrollbar-color);
}

/* transition */
ui-button{
  transition-duration:var(--transition-duration-default);
}