@import './colors.css';
@import './theme-dark.css';
@import './theme-light.css';

@import '../components/accordion/accordion.css';
@import '../components/alert/alert.css';
@import '../components/button/button.css';
@import '../components/breadcrumb/breadcrumb.css';
@import '../components/checkbox/checkbox.css';
@import '../components/separator/separator.css';
@import '../components/field/field.css';
@import '../components/focus/focus.css';
@import '../components/icon/icon.css';
@import '../components/input/input.css';
@import '../components/label/label.css';
@import '../components/portal/portal.css';
@import '../components/select/select.css';
@import '../components/spinner/spinner.css';
@import '../components/switch/switch.css';
@import '../components/tabs/tabs.css';
@import '../components/textarea/textarea.css';

:root{
  /* font family */
  --ui-font-family:Arial,Helvetica,sans-serif;

  /* line height */
  --ui-line-height-x-small:1;
  --ui-line-height-small:1.2;
  --ui-line-height-normal:1.5;
  --ui-line-height-large:1.7;
  --ui-line-height-x-large:2;

  /* ui size */
  --ui-size-x-small:16px;
  --ui-size-small:24px;
  --ui-size-medium:32px;
  --ui-size-large:40px;
  --ui-size-x-large:48px;

  /* h size */
  --ui-h1-size:48px;
  --ui-h2-size:40px;
  --ui-h3-size:32px;
  --ui-h4-size:24px;
  --ui-h5-size:20px;
  --ui-h6-size:18px;

  /* font size */
  --ui-font-size-x-small:11px;
  --ui-font-size-small:12px;
  --ui-font-size-medium:14px;
  --ui-font-size-large:16px;
  --ui-font-size-x-large:18px;

  /*** border radius ***/
  --ui-border-radius-square:none;
  --ui-border-radius-rounded:8px;
  --ui-border-radius-pill:9999px;
  --ui-border-radius-circle:50%;

  /* text-align */
  --ui-text-align-center:center;
  --ui-text-align-start:start;
  --ui-text-align-end:end;

  /* duration */
  --ui-duration-x-fast:0.075s;
  --ui-duration-fast:0.15s;
  --ui-duration:0.25s;
  --ui-duration-slow:0.4s;
  --ui-duration-x-slow:0.6s;
}

/* base */
ui-button,
ui-checkbox,
ui-switch{
  direction:inherit;
  box-sizing:border-box;
}

/* no-select */
ui-button,
ui-checkbox,
ui-switch{
  -webkit-user-select:none;
  user-select:none;
}

/* button-like */
ui-button,
ui-checkbox,
ui-switch{
  appearance:none;
  cursor:pointer;
  touch-action:manipulation;
}

/* outline */
ui-button,
ui-checkbox,
ui-switch{
  outline-offset:2px;
  outline-width:2px;
  outline-style:solid;
  outline-color:transparent;

  &:focus-visible:not([disabled]){
    outline-color:var(--ui-outline-color);
  }
}

/* transition */
ui-button,
ui-checkbox,
ui-switch{
  transition-duration:var(--ui-duration);
}

h1{font-size:var(--ui-h1-size);}
h2{font-size:var(--ui-h2-size);}
h3{font-size:var(--ui-h3-size);}
h4{font-size:var(--ui-h4-size);}
h5{font-size:var(--ui-h5-size);}
h6{font-size:var(--ui-h6-size);}

/* accent warning danger success */