:root{
  /* sizes */
  --size-3x-small:1rem;
  --size-2x-small:1.25rem;
  --size-x-small:1.5rem;
  --size-small:2rem;
  --size-medium:2.5rem;
  --size-large:3rem;
  --size-x-large:3.5rem;
  --size-2x-large:4rem;
  --size-3x-large:4.5rem;

  /* checkbox | switch | radio */
  --control-choice-small:1rem;
  --control-choice-medium:1.25rem;
  --control-choice-large:1.5rem;

  /* button */
  --control-action-small:2rem;
  --control-action-medium:2.5rem;
  --control-action-large:3rem;
  --control-action-font-size-small:0.875rem;
  --control-action-font-size-medium:1rem;
  --control-action-font-size-large:1.125rem;

  /* padding */
  --padding-x-small:0.5rem;
  --padding-small:0.75rem;
  --padding-medium:1rem;
  --padding-large:1.25rem;
  --padding-x-large:1.5rem;

  /* icon sizes */
  --icon-x-small:1rem;
  --icon-small:1.125rem;
  --icon-medium:1.25rem;
  --icon-large:1.375rem;
  --icon-x-large:1.5rem;

  /* rounded */
  --rounded-base:0.5rem;
  --rounded-full:calc(infinity * 1px);
  --rounded-none:0;

  /* duration */
  --duration-fast:0.075s;
  --duration-normal:0.15s;
  --duration-slow:0.25s;
  --duration-default:var(--duration-normal);

  /* outline focus */
  --outline-focus-width:2px;
  --outline-focus-style:solid;
  --outline-focus-offset:2px;

  --cursor-default:default;
  --cursor-disabled:not-allowed;
  --cursor-action:pointer;
}

[data-rounded="full"]{border-radius:var(--rounded-full);}
[data-rounded="none"]{border-radius:var(--rounded-none);}

*,::before,::after{box-sizing:border-box;}

html,body{
  margin:0;
  padding:0;
}

body{
  font-family:var(--font-family-default);
  font-size:var(--font-size-default);
  font-weight:var(--font-weight-normal);
  font-style:var(--font-style-normal);
  line-height:var(--line-height-default);
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  color:var(--heading-color);
  font-family:var(--font-family-heading);
  font-style:var(--font-style-normal);
}

h1,h2,h3{font-weight:var(--font-weight-semibold);}
h4,h5,h6{font-weight:var(--font-weight-medium);}

h1{
  font-size:calc(2.25rem * var(--scaling));
  line-height:1.1;
}

h2{
  font-size:calc(1.75rem * var(--scaling));
  line-height:1.15;
}

h3{
  font-size:calc(1.5rem * var(--scaling));
  line-height:1.2;
}

h4{
  font-size:calc(1.25rem * var(--scaling));
  line-height:1.25;
}

h5{
  font-size:calc(1.125rem * var(--scaling));
  line-height:1.3;
}

h6{
  font-size:calc(1rem * var(--scaling));
  line-height:1.35;
}

p{
  margin:0;
  padding:0;
}

pre,code{
  tab-size:var(--tab-size-default);
}

pre{
  margin:0;
  padding:0;
}

code{
  font-family:var(--font-family-code);
  font-weight:var(--font-weight-normal);
  font-style:var(--font-style-normal);
  white-space:pre-wrap;
  word-break:break-word;
}

table{
  width:100%;
  border:none;
  border-collapse:collapse;
  border-spacing:0;
  text-align:left;
  vertical-align:top;
}

strong{
  font-weight:var(--font-weight-bold);
  font-style:inherit;
}

em{
  font-style:var(--font-style-italic);
}

u{
  text-decoration-line:underline;
  text-underline-offset:var(--text-underline-offset-default);
}

s{
  text-decoration-line:line-through;
}

blockquote{
  margin-block:1rem;
  padding:1rem;
  font-style:var(--font-style-italic);
}

ul,ol{
  padding:0;
  margin-block:1rem;
  padding-inline-start:2rem;
}

dl,dt,dd{
  margin:0;
  padding:0;
}

input[type="radio"]{
  appearance:none;
  margin:0;
  padding:0;
  background:none;
  border:none;
  cursor:pointer;
  user-select:none;
  touch-action:manipulation;
}

summary{
  touch-action:manipulation;
}

select{
  cursor:pointer;
}

label{
  display:flex;
  column-gap:1rem;
  cursor:pointer;

  &[for]{
    touch-action:manipulation;
    -webkit-tap-highlight-color:transparent;
  }
}

img,picture,video,canvas,svg,iframe{
  display:block;
  max-width:100%;
}

img,picture,video{height:auto;}
iframe{width:100%;border:none;}

figure{
  margin:0;
  padding:0;
}

::-webkit-scrollbar{
  width:0.5rem;
  height:0.5rem;
}

::-webkit-scrollbar-thumb{
  background-color:var(--scrollbar-color);
  border-radius:var(--rounded-full);
}

::-webkit-scrollbar-track{background:transparent;}
::-webkit-scrollbar-corner{display:none;}

:disabled{
  cursor:not-allowed;
  pointer-events:auto;
}

::selection{
  background-color:var(--selection-color);
}

select,
summary,
input:is(
[type="radio"],
[type="range"],
[type="file"]){
  -webkit-tap-highlight-color:transparent;
}