@import './colors.css';

@import '../components/accordion/accordion.css';
@import '../components/alert/alert.css';
@import '../components/button/button.css';
@import '../components/breadcrumb/breadcrumb.css';
@import '../components/checkbox/checkbox.css';
@import '../components/separator/separator.css';
@import '../components/field/field.css';
@import '../components/focus/focus.css';
@import '../components/icon/icon.css';
@import '../components/input/input.css';
@import '../components/portal/portal.css';
@import '../components/select/select.css';
@import '../components/spinner/spinner.css';
@import '../components/switch/switch.css';
@import '../components/tabs/tabs.css';
@import '../components/textarea/textarea.css';

:root{
  /* control heights */
  --ui-control-height-small:2rem;
  --ui-control-height-medium:2.5rem;
  --ui-control-height-large:3rem;
  --ui-control-height-default:var(--ui-control-height-medium);

  /* spacing */
  --ui-spacing-none:0;
  --ui-spacing-base:1.25rem;
  --ui-spacing-default:var(--ui-spacing-base);

  --ui-panel-padding-inline-base:1.25rem;
  --ui-panel-padding-block-base:1rem;

  /* border */
  --ui-border-style:solid;
  --ui-border-width-small:1px;

  --ui-border-radius-none:0;
  --ui-border-radius-full:50vmax;
  --ui-border-radius-rounded:calc(var(--ui-control-height-default) / 4);
  --ui-border-radius-default:var(--ui-border-radius-rounded);

  /* transition duration */
  --ui-transition-duration-fast:0.075s;
  --ui-transition-duration-normal:0.15s;
  --ui-transition-duration-slow:0.25s;
  --ui-transition-duration-default:var(--ui-transition-duration-normal);
}

/* base */
ui-button,
ui-checkbox,
ui-switch,
ui-tabs{
  direction:inherit;
}

/* no-select */
ui-button,
ui-checkbox,
ui-switch,
ui-tab{
  -webkit-user-select:none;
  user-select:none;
}

/* button-like */
ui-button,
ui-checkbox,
ui-switch,
ui-tab,
button{
  appearance:none;
  cursor:pointer;
  touch-action:manipulation;
}

ui-switch[disabled],
button[disabled]{
  cursor:not-allowed;
  opacity:0.5;
  pointer-events:auto;
}

/* outline */
ui-button,
ui-checkbox,
ui-switch,
ui-tab,
button{
  outline-offset:2px;
  outline-width:2px;
  outline-style:solid;
  outline-color:transparent;

  &:focus-visible:not([disabled]){
    outline-color:var(--ui-outline-color);
  }
}

/* transition */
ui-button,
ui-checkbox,
ui-checkbox > ui-icon,
ui-switch,
ui-tab,
button{
  transition-duration:var(--ui-transition-duration-default);
}

/* link */
a{
  color:var(--ui-link-color-default);
  transition-property:color;
  transition-duration:var(--ui-transition-duration-default);

  &:hover{color:var(--ui-link-color-hover);}
  &:active{color:var(--ui-link-color-active);}
}