:root{
  /* control heights */
  --control-height-x-small:1.5rem;
  --control-height-small:2rem;
  --control-height-medium:2.5rem;
  --control-height-large:3rem;
  --control-height-x-large:3.5rem;
  --control-height-default:var(--control-height-medium);

  /* spacing */
  --spacing-none:0;
  --spacing-base:1.25rem;
  --spacing-default:var(--spacing-base);

  --panel-padding-inline-base:1.25rem;
  --panel-padding-block-base:1rem;

  /* border */
  --border-style:solid;
  --border-width-small:1px;

  --border-radius-none:0;
  --border-radius-full:50vmax;
  --border-radius-rounded-small:0.25rem;
  --border-radius-rounded-medium:0.5rem;
  --border-radius-rounded-large:0.75rem;

  --border-radius-rounded:0.5rem;
  --border-radius-default:var(--border-radius-rounded);

  /* transition duration */
  --transition-duration-fast:0.075s;
  --transition-duration-normal:0.15s;
  --transition-duration-slow:0.25s;
  --transition-duration-default:var(--transition-duration-normal);
}

/* normalize button appearance */
button{
  background:none;
  border:none;
  padding:0;
}

button::-moz-focus-inner{
  border:0;
  padding:0;
}

/* base */
ui-button,
ui-checkbox,
ui-switch,
ui-tabs,
input{
  direction:inherit;
}

/* no-select */
ui-button,
ui-checkbox,
ui-switch,
ui-tab{
  -webkit-user-select:none;
  user-select:none;
}

/* button-like */
ui-checkbox,
ui-switch,
ui-tab,
button{
  appearance:none;
  cursor:pointer;
  touch-action:manipulation;
}

ui-switch[disabled],
button[disabled],
textarea[disabled],
input[disabled]{
  cursor:not-allowed;
  opacity:0.5;
  pointer-events:auto;
}

/* outline */
ui-checkbox,
ui-switch,
ui-tab,
button,
input,
textarea{
  outline-offset:2px;
  outline-width:2px;
  outline-style:solid;
  outline-color:transparent;

  &:focus-visible:not([disabled]){
    outline-color:var(--outline-color);
  }
}



/* transition */
ui-checkbox,
ui-checkbox > ui-icon,
ui-switch,
ui-tab,
button,
input{
  transition-duration:var(--transition-duration-default);
}

/* link */
a{
  color:var(--link-color-default);
  transition-property:color;
  transition-duration:var(--transition-duration-default);

  &:hover{color:var(--link-color-hover);}
  &:active{color:var(--link-color-active);}
}