:root{
  /* control heights */
  --control-height-x-small:1.5rem;
  --control-height-small:2rem;
  --control-height-medium:2.5rem;
  --control-height-large:3rem;
  --control-height-x-large:3.5rem;
  --control-height-default:var(--control-height-medium);

  /* control padding inline */
  --control-padding-inline-x-small:0.5rem;
  --control-padding-inline-small:0.75rem;
  --control-padding-inline-medium:1rem;
  --control-padding-inline-large:1.25rem;
  --control-padding-inline-x-large:1.5rem;
  --control-padding-inline-default:var(--control-padding-inline-medium);

  /* control icon sizes */
  --control-icon-size-x-small:1rem;
  --control-icon-size-small:1.125rem;
  --control-icon-size-medium:1.25rem;
  --control-icon-size-large:1.375rem;
  --control-icon-size-x-large:1.5rem;
  --control-icon-size-default:var(--control-icon-size-medium);

  /* spacing */
  --spacing-none:0;
  --spacing-base:1.25rem;
  --spacing-default:var(--spacing-base);

  --panel-padding-inline-base:1.25rem;
  --panel-padding-block-base:1rem;

  /* borders */
  --border-style-solid:solid;
  --border-style-dotted:dotted;
  --border-width-default:1px;

  --border-radius-none:0;
  --border-radius-default:0.5rem;
  --border-radius-full:50vmax;

  /* transition duration */
  --transition-duration-fast:0.075s;
  --transition-duration-normal:0.15s;
  --transition-duration-slow:0.25s;
  --transition-duration-default:var(--transition-duration-normal);

  --outline-offset:2px;
  --outline-width:2px;
  --outline-style:solid;
}

ui-switch[disabled],
button[disabled],
textarea[disabled],
input[disabled]{
  cursor:not-allowed;
  opacity:0.5;
  pointer-events:auto;
}

/* base */
ui-button,
ui-checkbox,
ui-switch,
ui-tabs,
input{
  direction:inherit;
}

/* no-select */
ui-button,
ui-checkbox,
ui-switch,
ui-tab{
  -webkit-user-select:none;
  user-select:none;
}

/* button-like */
ui-checkbox,
ui-switch,
ui-tab,
button{
  appearance:none;
  cursor:pointer;
  touch-action:manipulation;
}

/* outline */
ui-checkbox,
ui-switch,
ui-tab,
button,
input,
textarea,
a{
  outline-offset:2px;
  outline-width:2px;
  outline-style:solid;
  outline-color:transparent;

  &:focus-visible:not([disabled]){
    outline-color:var(--outline-color);
  }
}

/* transition */
ui-checkbox,
ui-checkbox > ui-icon,
ui-switch,
ui-tab,
input{
  transition-duration:var(--transition-duration-default);
}

/* link */
a{
  color:var(--link-color);
  transition-property:outline-color,color;
  transition-duration:var(--transition-duration-default);

  &:hover{color:var(--link-color-hover);}
  &:active{color:var(--link-color-active);}
}

::-webkit-scrollbar-thumb{
  background-color:var(--scrollbar-color);
}