@import './colors.css';
@import './theme-dark.css';
@import './theme-light.css';

@import '../components/accordion/accordion.css';
@import '../components/alert/alert.css';
@import '../components/button/button.css';
@import '../components/breadcrumb/breadcrumb.css';
@import '../components/checkbox/checkbox.css';
@import '../components/separator/separator.css';
@import '../components/field/field.css';
@import '../components/focus/focus.css';
@import '../components/icon/icon.css';
@import '../components/input/input.css';
@import '../components/label/label.css';
@import '../components/portal/portal.css';
@import '../components/select/select.css';
@import '../components/spinner/spinner.css';
@import '../components/switch/switch.css';
@import '../components/tabs/tabs.css';
@import '../components/textarea/textarea.css';

:root{
  /* font size */
  --ui-font-size-x-small:0.75rem;
  --ui-font-size-small:0.875rem;
  --ui-font-size-medium:1rem;
  --ui-font-size-large:1.125rem;
  --ui-font-size-x-large:1.25rem;

  /* line height */
  --ui-line-height-x-small:1;
  --ui-line-height-small:1.2;
  --ui-line-height-normal:1.5;
  --ui-line-height-large:1.7;
  --ui-line-height-x-large:2;

  /* text-align */
  --ui-text-align-center:center;
  --ui-text-align-start:start;
  --ui-text-align-end:end;

  /* ui size */
  --ui-size-x-small:16px;
  --ui-size-small:24px;
  --ui-size-medium:32px;
  --ui-size-large:40px;
  --ui-size-x-large:48px;

  /* border radius */
  --ui-border-radius-square:0px;
  --ui-border-radius-pill:9999px;
  --ui-border-radius-circle:50%;
  --ui-border-radius-rounded:8px;

  /* duration */
  --ui-duration-x-fast:0.075s;
  --ui-duration-fast:0.15s;
  --ui-duration:0.25s;
  --ui-duration-slow:0.4s;
  --ui-duration-x-slow:0.6s;

  /* padding */
  --ui-padding-inline:1.25rem;
}

/* base */
ui-button,
ui-checkbox,
ui-switch,
ui-tabs{
  direction:inherit;
}

/* no-select */
ui-button,
ui-checkbox,
ui-switch,
ui-tab{
  -webkit-user-select:none;
  user-select:none;
}

/* button-like */
ui-button,
ui-checkbox,
ui-switch,
ui-tab,
button{
  appearance:none;
  cursor:pointer;
  touch-action:manipulation;
}

button{
  font-size:1rem;
}

ui-switch[disabled],
button[disabled]{
  cursor:not-allowed;
  opacity:0.5;
  pointer-events:auto;
}

/* outline */
ui-button,
ui-checkbox,
ui-switch,
ui-tab,
button{
  outline-offset:2px;
  outline-width:2px;
  outline-style:solid;
  outline-color:transparent;

  &:focus-visible:not([disabled]){
    outline-color:var(--ui-outline-color);
  }
}

/* transition */
ui-button,
ui-checkbox,
ui-checkbox > ui-icon,
ui-switch,
ui-tab,
button{
  transition-duration:var(--ui-duration);
}
/* accent warning danger success */