:root[data-theme='dark']{
  /* surface */
  --ui-surface-color-default:var(--ui-color-neutral-30);
  --ui-surface-color-secondary:var(--ui-color-neutral-20);
  --ui-surface-color-hover:var(--ui-color-neutral-40);
  --ui-surface-color-active:var(--ui-color-neutral-30);

  /* content */
  --ui-content-color-default:var(--ui-color-neutral-90);
  --ui-content-color-hover:var(--ui-color-white);
  --ui-content-color-focus:var(--ui-color-white);
  --ui-content-color-active:var(--ui-color-white);

  /* outline */
  --ui-outline-color:var(--ui-color-blue-60);

  /* scrollbar */
  --ui-scrollbar-color:var(--ui-color-neutral-30);
}