:root[data-theme='dark']{
  /* surface */
  --ui-surface-color-default:var(--ui-color-gray-20);
  --ui-surface-color-hover:var(--ui-color-gray-25);
  --ui-surface-color-focus:var(--ui-color-gray-20);
  --ui-surface-color-active:var(--ui-color-gray-30);

  /* content */
  --ui-content-color-default:var(--ui-color-gray-80);
  --ui-content-color-hover:var(--ui-color-white);
  --ui-content-color-focus:var(--ui-color-white);
  --ui-content-color-active:var(--ui-color-white);

  /* outline */
  --ui-outline-color:var(--ui-color-gray-500);

  /* scrollbar */
  --theme-scrollbar-color:var(--ui-color-gray-35);
}