:root[data-theme='light']{
  /* surface */
  --ui-surface-color-default:var(--ui-color-neutral-90);
  --ui-surface-color-secondary:var(--ui-color-neutral-80);
  --ui-surface-color-hover:var(--ui-color-neutral-85);
  --ui-surface-color-active:var(--ui-color-neutral-80);

  /* content */
  --ui-content-color-default:var(--ui-color-black);
  --ui-content-color-hover:var(--ui-color-black);
  --ui-content-color-focus:var(--ui-color-black);
  --ui-content-color-active:var(--ui-color-black);

  /* outline */
  --ui-outline-color:var(--ui-color-blue-50);

  /* scrollbar */
  --ui-scrollbar-color:var(--ui-color-black);
}