:root{
  /* font family */
  --font-family-body:system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;
  --font-family-heading:var(--font-family-body);
  --font-family-code:ui-monospace,Menlo,Consolas,monospace;

  /* font weight */
  --font-weight-normal:400;
  --font-weight-semibold:500;
  --font-weight-bold:600;

  /* font size */
  --font-size-x-small:0.75rem;
  --font-size-small:0.875rem;
  --font-size-normal:1rem;
  --font-size-large:1.125rem;
  --font-size-x-large:1.25rem;
  --font-size-default:var(--font-size-normal);

  /* heading font size */
  --heading-font-size-hero:2.5rem;
  --heading-font-size-display:2rem;
  --heading-font-size-headline:1.75rem;
  --heading-font-size-title:1.5rem;
  --heading-font-size-label:1.25rem;
  --heading-font-size-caption:1.125rem;

  /* line height */
  --line-height-condensed:1.2;
  --line-height-normal:1.5;
  --line-height-expanded:2;
}

/* body */
body{
  line-height:var(--line-height-normal);
  font-family:var(--font-family-body);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* form font */
button,
input,
select,
textarea{
  font-size:var(--font-size-default);
  font-family:var(--font-family-body);
}

/* code font */
pre,
code{
  font-family:var(--font-family-code)
}

/* reset pre spacing */
pre{
  margin:0;
}

/* inline link styling */
a{
  text-decoration-line:underline;
  text-decoration-style:dotted;
  text-underline-offset:0.2rem;
  text-decoration-thickness:0.15rem;
}

/* normalize list spacing */
ul,
ol{
  margin:0;
  padding:0;
  padding-inline-start:2rem;
}

/* remove trailing paragraph spacing */
p:last-child{
  margin-block-end:0;
}

/* heading */
h1,h2,h3,h4,h5,h6{
  font-family:var(--font-family-heading);
  line-height:var(--line-height-condensed);
  margin:0;
  padding:0;
}

h1,h2,h3{
  font-weight:var(--font-weight-bold);
}

h4,h5,h6{
  font-weight:var(--font-weight-semibold);
}

h1{font-size:var(--heading-font-size-hero);}
h2{font-size:var(--heading-font-size-display);}
h3{font-size:var(--heading-font-size-headline);}
h4{font-size:var(--heading-font-size-title);}
h5{font-size:var(--heading-font-size-label);}
h6{font-size:var(--heading-font-size-caption);}