:root{
  /* font family */
  --font-family-default:system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;
  --font-family-heading:var(--font-family-default);
  --font-family-code:ui-monospace,Menlo,Consolas,monospace;

  /* font weight */
  --font-weight-light:300;
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semibold:600;
  --font-weight-bold:700;

  /* font sizes */
  --font-size-x-small:max(12px, 0.75rem);
  --font-size-small:0.875rem;
  --font-size-medium:1rem;
  --font-size-large:1.125rem;
  --font-size-x-large:1.25rem;
  --font-size-default:var(--font-size-medium);

  /* heading font sizes */
  --h1-font-size:3rem;
  --h2-font-size:2.5rem;
  --h3-font-size:2rem;
  --h4-font-size:1.5rem;
  --h5-font-size:1.375rem;
  --h6-font-size:1.25rem;

  /* line height */
  --line-height-condensed:1.2;
  --line-height-normal:1.5;
  --line-height-expanded:2;
}

body{
  font-family:var(--font-family-default);
  font-size:var(--font-size-default);
  line-height:var(--line-height-normal);
}

/* controls */
button,input,textarea,select{
  direction:inherit;
  font-family:var(--font-family-default);
  font-size:var(--font-size-default);
}

/* pre, code */
pre,code{
  font-family:var(--font-family-code);
}

code{
  white-space:pre-wrap;
  word-break:break-word;
}

/* lists, paragraph */
ul,ol{
  padding-inline-start:2rem;
}

/* heading */
h1,h2,h3,h4,h5,h6{
  font-family:var(--font-family-heading);
  line-height:var(--line-height-condensed);
}

h1,h2,h3{
  font-weight:var(--font-weight-semibold);
}

h4,h5,h6{
  font-weight:var(--font-weight-medium);
}

h1{font-size:var(--h1-font-size);}
h2{font-size:var(--h2-font-size);}
h3{font-size:var(--h3-font-size);}
h4{font-size:var(--h4-font-size);}
h5{font-size:var(--h5-font-size);}
h6{font-size:var(--h6-font-size);}