:root{
  /* font family */
  --font-family-body:system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;
  --font-family-heading:var(--font-family-body);
  --font-family-code:ui-monospace,Menlo,Consolas,monospace;

  /* font weight */
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semibold:600;
  --font-weight-bold:700;

  /* body font sizes */
  --font-size-x-small:0.75rem;
  --font-size-small:0.875rem;
  --font-size-normal:1rem;
  --font-size-large:1.125rem;
  --font-size-x-large:1.25rem;

  /* heading font sizes */
  --h6-font-size:1.25rem;
  --h5-font-size:1.375rem;  
  --h4-font-size:1.5rem;
  --h3-font-size:2rem;
  --h2-font-size:2.5rem;
  --h1-font-size:3rem;  
  
  /* line height */
  --line-height-condensed:1.2;
  --line-height-normal:1.5;
  --line-height-expanded:2;

  /* text align */
  --text-align-start:start;
  --text-align-end:end;
  --text-align-center:center;
  --text-align-justify:justify;
}

/* body */
body{
  font-family:var(--font-family-body);
  font-size:var(--font-size-normal);
  line-height:var(--line-height-normal);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* form font */
button,input,select,textarea{
  font-family:var(--font-family-body);
  font-size:var(--font-size-normal);
}

/* code font */
pre,code{
  font-family:var(--font-family-code)
}

/* reset pre spacing */
pre{
  margin:0;
}

/* inline link styling */
a{
  text-decoration-line:underline;
  text-decoration-style:dotted;
  text-underline-offset:0.2rem;
  text-decoration-thickness:0.15rem;
}

/* normalize lists */
ul,ol{
  margin-inline:0;
  padding:0;
  padding-inline-start:2rem;
}

/* remove trailing paragraph spacing */
:is(ul,ol,p):last-child{
  margin-block-end:0;
}

/* heading */
h1,h2,h3,h4,h5,h6{
  font-family:var(--font-family-heading);
  line-height:var(--line-height-condensed);
  margin:0;
  padding:0;
}

h1,h2,h3{
  font-weight:var(--font-weight-semibold);
}

h4,h5,h6{
  font-weight:var(--font-weight-medium);
}

h1{font-size:var(--h1-font-size);}
h2{font-size:var(--h2-font-size);}
h3{font-size:var(--h3-font-size);}
h4{font-size:var(--h4-font-size);}
h5{font-size:var(--h5-font-size);}
h6{font-size:var(--h6-font-size);}