/*=== solid ===*/
[variant="solid"]{
  --variant-fg:var(--color-on-surface);
  --variant-bg:var(--color-surface);
}

[variant="solid"] > button:not(:disabled)::before{
  pointer-events:none;
  position:absolute;
  content:'';
  inset:0;
  z-index:-1;
  border-radius:var(--button-border-radius);
  transition-duration:var(--duration-default);
  transition-property:background-color;
}

@media (hover: hover){
  [variant="solid"] > button:not(:disabled):hover::before{
    background-color:oklch(from var(--color-on-surface) l c h / calc(
      var(--state-hover-opacity) * var(--state-intensity)
    ));
  }
}

[variant="solid"] > button:not(:disabled):active::before{
  background-color:oklch(from oklch(0 0 0) l c h / calc(
    var(--state-pressed-opacity) * var(--state-intensity)
  ));
}




/*=== soft ===*/
[variant="soft"]{
  --variant-fg:var(--soft-fg);
  --variant-bg:var(--soft-bg);
}

@media (hover: hover){
  [variant="soft"]:has( > button:not(:disabled):hover){
    --variant-bg-hover:var(--soft-bg-hover);
  }
}

[variant="soft"]:has( > button:not(:disabled):active){
  --variant-bg-pressed:var(--soft-bg-pressed);
}

/*=== outline ===*/
[variant="outline"]{
  --variant-fg:var(--outline-fg);
  --variant-bg:transparent;
}

[variant="outline"][disabled]{
  --variant-bg:transparent;
}

[variant="outline"]::after{
  pointer-events:none;
  position:absolute;
  content:'';
  inset:0;
  border-radius:inherit;
  border-width:var(--control-border-width);
  border-style:var(--control-border-style);
  border-color:var(--outline-border-color);
}

[variant="outline"][disabled]::after{
  border-color:var(--control-border-color-disabled);
}

@media (hover: hover){
  [variant="outline"]:has( > :is(button):not(:disabled):hover){
    --variant-bg-hover:var(--outline-bg-hover);
  }
}

[variant="outline"]:has( > :is(button):not(:disabled):active){
  --variant-bg-pressed:var(--outline-bg-pressed);
}

/*=== ghost ===*/
[variant="ghost"]{
  --variant-fg:var(--ghost-fg);
  --variant-bg:transparent;
}

[variant="ghost"][disabled]{
  --variant-bg:transparent;
}

@media (hover: hover){
  [variant="ghost"]:has( > :is(button):not(:disabled):hover){
    --variant-bg-hover:var(--ghost-bg-hover);
  }
}

[variant="ghost"]:has( > :is(button):not(:disabled):active){
  --variant-bg-pressed:var(--ghost-bg-pressed);
}