/* Button | Badge / Chip | Alert | Card | Input | Tabs | MenuItem */

/*=== solid ===*/
[variant="solid"]{
  --variant-fg:var(--variant-solid-fg);
  --variant-bg:var(--variant-solid-bg);
}

@media (hover: hover){
  [variant="solid"]:has( > :is(button):not(:disabled):hover){
    --variant-bg-hover:var(--variant-solid-bg-hover);
  }
}

[variant="solid"]:has( > :is(button):not(:disabled):active){
  --variant-bg-pressed:var(--variant-solid-bg-pressed);
}

/*=== soft ===*/
[variant="soft"]{
  --variant-fg:var(--variant-soft-fg);
  --variant-bg:var(--variant-soft-bg);
}

@media (hover: hover){
  [variant="soft"]:has( > button:not(:disabled):hover){
    --variant-bg-hover:var(--variant-soft-bg-hover);
  }
}

[variant="soft"]:has( > button:not(:disabled):active){
  --variant-bg-pressed:var(--variant-soft-bg-pressed);
}

/*=== outline ===*/
[variant="outline"]{
  --variant-fg:var(--variant-outline-fg);
  --variant-bg:transparent;
}

[variant="outline"][disabled]{
  --variant-bg:transparent;
}

[variant="outline"]:after{
  pointer-events:none;
  position:absolute;
  content:'';
  inset:0;
  border-radius:inherit;
  border-width:var(--control-border-width);
  border-style:var(--control-border-style);
  border-color:var(--variant-outline-border-color);
}

[variant="outline"][disabled]:after{
  border-color:var(--control-border-color-disabled);
}

@media (hover: hover){
  [variant="outline"]:has( > :is(button):not(:disabled):hover){
    --variant-bg-hover:var(--variant-outline-bg-hover);
  }
}

[variant="outline"]:has( > :is(button):not(:disabled):active){
  --variant-bg-pressed:var(--variant-outline-bg-pressed);
}

/*=== text ===*/
[variant="text"]{
  --variant-fg:var(--variant-text-fg);
  --variant-bg:transparent;
}

[variant="text"][disabled]{
  --variant-bg:transparent;
}

@media (hover: hover){
  [variant="text"]:has( > :is(button):not(:disabled):hover){
    --variant-bg-hover:var(--variant-text-bg-hover);
  }
}

[variant="text"]:has( > :is(button):not(:disabled):active){
  --variant-bg-pressed:var(--variant-text-bg-pressed);
}