ui-badge{
  --badge-size:round(calc(1.5rem * var(--scaling)),2px);
  --badge-padding-inline:round(calc(0.5rem * var(--scaling)),2px);
  --badge-font-size:round(calc(0.875rem * var(--scaling)),1px);
  --badge-column-gap:calc(var(--badge-size) * 0.25);

  isolation:isolate;
  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  justify-content:center;
  white-space:nowrap;
  line-height:1;

  height:var(--badge-size);
  min-width:var(--badge-size);
  border-radius:var(--badge-radius);
  cursor:var(--cursor-default);

  column-gap:var(--badge-column-gap);
  padding-inline:var(--badge-padding-inline);
  font-family:var(--font-family-default);
  font-size:var(--badge-font-size);

  background-color:var(--badge-bg-color);
  color:var(--badge-fg-color);

  transition-duration:var(--duration-default);
  transition-property:background-color,outline-color,border-color;

  &[radius="full"]{--badge-radius:var(--radius-full);}
  &[radius="none"]{--badge-radius:var(--radius-none);}

  /* solid */
  &[variant="solid"]{
    --badge-bg-color:var(--bg-color-emphasis);
    --badge-fg-color:var(--fg-color-on-emphasis);
  }

  @media (hover: hover){
    &[variant="solid"] > button:not(:disabled):hover{
      --badge-bg-color:var(--accent-7);
    }

  }

  &[variant="solid"] > button:not(:disabled):active{
    --badge-bg-color:var(--accent-5);
  }




  /* soft */
  &[variant="soft"]{
    --badge-bg-color:var(--accent-3);
    --badge-fg-color:var(--accent-9);
  }

  @media (hover: hover){
    &[variant="soft"] > button:not(:disabled):hover::before{
      background-color:oklch(from oklch(1 0 0) l c h / var(--state-hover-opacity));
    }
  }

  &[variant="soft"] > button:not(:disabled):active::before{
    background-color:oklch(from oklch(0 0 0) l c h / var(--state-pressed-opacity));
  }

  /* outline */
  &[variant="outline"]{
    --badge-bg-color:var(--accent-3);
    --badge-fg-color:var(--accent-9);
    --badge-border-color:var(--accent-8);
  }

  &[variant="outline"]::after{
    pointer-events:none;
    position:absolute;
    content:'';
    inset:0;
    border-radius:var(--badge-radius);
    border-width:var(--control-border-width);
    border-style:var(--control-border-style);
    border-color:var(--state-button-border-color,var(--badge-border-color));
  }
}