*,*:after,*:before{
  outline:none!important;
  box-sizing:border-box!important;}

html,
body{
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;}

body{
  background-color:rgb(50,50,50);}

#app{
  height:100%;}

#app .wrap{
  padding-top:25px;
  width:calc(100% - 20px);
  max-width:300px;
  margin:auto;}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
  cursor:default!important;}