/* root */
:root{
  --border-radius:6px;
  --font-default:Arial,Helvetica,sans-serif;
  --rgb-255-255-255:rgb(255,255,255);
  --rgb-0-0-0:rgb(0,0,0);
  --rgb-155-155-155:rgb(155,155,155);
  --rgb-185-65-65:rgb(185,65,65);
  --rgb-0-165-100:rgb(0,165,100);
  --rgb-25-125-230:rgb(25,125,230);}

*,*:after,*:before{
  -webkit-tap-highlight-color:rgba(0,0,0,0)!important;
  -webkit-tap-highlight-color:transparent!important;
  box-sizing:border-box!important;
  outline:none!important;}

/* svg */
svg{shape-rendering:geometricPrecision;}

a{
  text-decoration:none;
  color:rgb(255,255,255);}

iframe{border:none;}

html,
body{
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;}

body{
  font-family:var(--font-default);
  font-size:16px;
  color:var(--rgb-255-255-255);
  background-color:var(--rgb-0-0-0);}

#app{
  position:relative;
  display:flex;
  height:100%;}

.nav{
  position:relative;
  display:flex;
  flex-direction:column;
  min-width:220px;
  row-gap:1px;
  padding:0 10px}

.nav .static{
  height:50px;
  min-height:50px;}

.nav .menuItem{
  display:block;
  cursor:pointer;}

.nav span{
  display:flex;
  align-items:center;
  column-gap:10px;
  padding:10px;
  font-size:100%;
  border-radius:var(--border-radius);}

.nav span:hover{
  background-color:rgb(20,20,20);}

#body{
  position:relative;
  display:flex;
  flex-direction:column;
  row-gap:20px;
  max-width:100%;
  padding:50px 10px;}

.section{
  position:relative;
  display:flex;
  flex-direction:column;
  row-gap:15px;
  border-radius:var(--border-radius);
  background-color:rgb(10,10,10);
  padding:20px 20px;}

icon-block svg{height:100px;}

.section .help{
  color:rgb(175,175,175);
  font-size:90%;}

.section > .content{
  display:flex;
  gap:10px;}

#iconsPack > .content > div{
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:var(--border-radius);
  background-color:rgb(30,30,30);
  width:35px;
  height:35px;}

table{
  text-align:left;
  width:100%;}

table thead{
  font-size:105%;
  color:rgb(225,225,225);}

table tbody{
  font-size:95%;
  color:rgb(175,175,175);}

table td{
  padding:10px 15px;}

.example{
  display:flex;
  flex-direction:column;
  row-gap:15px;}

.code{
  display:flex;
  flex-direction:column;
  row-gap:10px;}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
  cursor:default!important;}

input-{
  position:relative;
  display:inline-flex;
  padding:0 10px;
  column-gap:10px;
  overflow:hidden;
  border:0;
  border-radius:var(--border-radius);  
  background-color:rgb(25,25,25);
  transition:background-color 0.2s;}

input- > :nth-child(n),
input- > :nth-child(n) > :nth-child(n){
  position:relative;
  display:flex;
  align-items:center;
  height:inherit;}

input- svg{
  fill:rgb(125,125,125);
  width:20px;
  min-width:20px;}

input-.active svg{
  fill:rgb(200,200,200);}

input- > svg{transition:stroke 0.2s,fill 0.2s;}

input- input{
  border-radius:0!important;
  background-color:transparent!important;
  width:100%;
  height:inherit;}