/* root */
:root{
  --border-radius:6px;
  --font-arial:Arial,Helvetica,sans-serif;
  --rgb-255-255-255:rgb(255,255,255);
  --rgb-0-0-0:rgb(0,0,0);
  --rgb-155-155-155:rgb(155,155,155);
  --rgb-185-65-65:rgb(185,65,65);
  --rgb-0-165-100:rgb(0,165,100);
  --rgb-25-125-230:rgb(25,125,230);}

*,*:after,*:before{
  -webkit-tap-highlight-color:rgba(0,0,0,0)!important;
  -webkit-tap-highlight-color:transparent!important;
  box-sizing:border-box!important;
  outline:none!important;}

/* svg */
svg{shape-rendering:geometricPrecision;}

a{
  text-decoration:none;
  color:rgb(255,255,255);}

html,
body{
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;}

body{

  font-family:var(--font-arial);
  font-size:16px;
  color:var(--rgb-255-255-255);
  background-color:var(--rgb-0-0-0);}

#app{
  position:relative;
  display:flex;
  height:100%;}

nav{
  position:relative;
  width:240px;
  min-width:240px;
  padding:50px 25px;}

article{
  position:relative;
  display:flex;
  flex-direction:column;
  row-gap:20px;
  padding:50px 25px;
  width:100%;
  max-width:100%;}

article section{
  display:flex;
  flex-direction:column;
  row-gap:15px;
  border-radius:var(--border-radius);
  background-color:rgb(15,15,15);
  padding:20px 20px;}

article section .title{
  font-size:150%;}

article section .help{
  color:rgb(175,175,175);
  font-size:90%;}

#icons > .content{
  display:flex;
  gap:10px;}

#icons > .content > div{
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:var(--border-radius);
  background-color:rgb(40,40,40);
  width:35px;
  height:35px;}

table{
  text-align:left;
  width:100%;}

table thead{
  color:rgb(225,225,225);
  font-size:120%;}

table tbody{
  color:rgb(175,175,175);
  font-size:95%;}

table td{
  padding:10px;}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
  cursor:default!important;}

input-{
  position:relative;
  display:inline-flex;
  padding:0 10px;
  column-gap:10px;
  overflow:hidden;
  border:0;
  border-radius:var(--border-radius);  
  background-color:rgb(25,25,25);
  transition:background-color 0.2s;}

input- > :nth-child(n),
input- > :nth-child(n) > :nth-child(n){
  position:relative;
  display:flex;
  align-items:center;
  height:inherit;}

input- svg{
  fill:rgb(125,125,125);
  width:20px;
  min-width:20px;}

input-.active svg{
  fill:rgb(200,200,200);}

input- > svg{transition:stroke 0.2s,fill 0.2s;}

input- input{
  border-radius:0!important;
  background-color:transparent!important;
  width:100%;
  height:inherit;}