/* root */
:root{
  --font-arial:Arial,Helvetica,sans-serif;
  --rgb-255-255-255:rgb(255,255,255);
  --rgb-155-155-155:rgb(155,155,155);
  --rgb-0-0-0:rgb(0,0,0);
  --rgb-185-65-65:rgb(185,65,65);
  --rgb-0-165-100:rgb(0,165,100);
  --rgb-25-125-230:rgb(25,125,230);}

*,*:after,*:before{
  -webkit-tap-highlight-color:rgba(0,0,0,0)!important;
  -webkit-tap-highlight-color:transparent!important;
  box-sizing:border-box!important;
  outline:none!important;}

/* svg */
svg{shape-rendering:geometricPrecision;}

html,
body{
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;}

body{
  font-family:var(--font-arial);
  font-size:16px;
  color:rgb(255,255,255);
  background-color:var(--rgb-0-0-0);}

#app{
  position:relative;
  height:100%;}

#content{
  position:relative;
  padding:50px 25px;
  width:400px;
  max-width:100%;
  margin:auto;}

.helper{
  padding-top:20px;}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
  cursor:default!important;}