:root[data-theme='dark']{
  /* backgrounds */
  --body-background-color:var(--color-neutral-950);
  --header-background-color:var(--color-neutral-950);

  /* surface neutral */
  --surface-color-primary:var(--color-neutral-700);
  --surface-color-hover:color-mix(
    in oklch,
    var(--color-neutral-700),
    var(--color-neutral-600) 40%
  );
  --surface-color-active:color-mix(
    in oklch,
    var(--color-neutral-700),
    var(--color-neutral-800) 50%
  );
  --surface-color-secondary:var(--color-neutral-800);
  --surface-color-tertiary:var(--color-neutral-900);
  --surface-color-default:var(--surface-color-primary);

  /* border */
  --border-color:var(--color-neutral-800);

  /* panel */
  --panel-color-default:var(--color-neutral-900);

  /* menu */
  --menu-background-color-hover:var(--color-neutral-900);
  --menu-background-color-active:var(--color-neutral-800);

  /* text */
  --text-color-default:var(--color-neutral-50);
  --text-color-secondary:var(--color-neutral-400);

  /* link */
  --link-color-default:var(--color-neutral-300);
  --link-color-hover:var(--color-neutral-200);
  --link-color-active:var(--color-neutral-50);

  /* outline */
  --outline-color:var(--color-blue-500);

  /* scrollbar */
  --scrollbar-color:var(--color-neutral-700);
}
/* accent warning danger success */