html{
  font-size:16px;
  tab-size:4;
}

body{
  height:100svh;
  overflow-y:scroll;
  overflow-x:auto;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-button{
  display:none;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
  cursor:default;
}

::-webkit-scrollbar-thumb{
  border-radius:9999px;
}

::-webkit-scrollbar-track{
  background-color:transparent;
}

::-webkit-scrollbar{
  width:0.5rem;
  height:0.5rem;
}