ui-app{
  position:relative;
  display:block;
  max-width:100%;
  height:100vh;
  overflow-y:scroll;
}

.container{
  position:relative;
  display:grid;
  grid-template-columns:240px 1fr;
  max-width:1920px;
  width:100%;
  margin:auto;
}

main{
  position:relative;
  display:flex;
  flex-direction:column;
  width:100%;
  padding-inline:40px;
}

article{
  display:flex;
  flex-direction:column;
  row-gap:50px;
  padding-block:60px;
  flex-grow:1;
}