body{
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

body,
button,
input,
select,
textarea{
  font-family:system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;
}

pre,
code{
  font-family:ui-monospace,Menlo,Consolas,monospace;
}

pre{
  margin:0;
}

ul,
ol{
  margin:0;
  padding:0;
  padding-inline-start:2rem;
}

p:last-child{
  margin-block-end:0;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
  line-height:1.2;
}

h1{font-size:2.5rem;}
h2{font-size:2rem;}
h3{font-size:1.75rem;}
h4{font-size:1.5rem;}
h5{font-size:1.25rem;}
h6{font-size:1rem;}