::-webkit-scrollbar{
  width:0.5rem;
  height:0.5rem;
}

::-webkit-scrollbar-thumb{
  background-color:var(--scrollbar-color);
  border-radius:var(--rounded-full);
}

::-webkit-scrollbar-track{background:transparent;}
::-webkit-scrollbar-corner{display:none;}