ui-breadcrumb{
  & > ol{
    display:flex;
    list-style:none;
    padding:0;
    margin:0;

    & > li{
      display:flex;
      white-space:nowrap;
      align-items:center;

      & > a{
        text-decoration:none;
      }
    }
  }

  & ui-icon[role="presentation"]{
    width:1.25em;
    height:1.25em;
    margin-inline:4px;
  }

  &:dir(rtl) ui-icon[role="presentation"]{
    transform:scaleX(-1)!important;
  }

  & ui-icon:not([role="presentation"]){
    width:var(--ui-breadcrumb-icon-size);
    height:100%;
  }
}