:root[data-color-mode='dark']{
  --color-gray-1: oklch(0.178 0 0);
  --color-gray-2: oklch(0.213 0 0);
  --color-gray-3: oklch(0.252 0 0);
  --color-gray-4: oklch(0.285 0 0);
  --color-gray-5: oklch(0.313 0 0);
  --color-gray-6: oklch(0.348 0 0);
  --color-gray-7: oklch(0.402 0 0);
  --color-gray-8: oklch(0.489 0 0);
  --color-gray-9: oklch(0.538 0 0);
  --color-gray-10: oklch(0.583 0 0);
  --color-gray-11: oklch(0.77 0 0);
  --color-gray-12: oklch(0.949 0 0);

  --color-red-1: oklch(0.188 0.013 18.42);
  --color-red-2: oklch(0.205 0.022 14.064);
  --color-red-3: oklch(0.251 0.065 12.692);
  --color-red-4: oklch(0.289 0.095 14.33);
  --color-red-5: oklch(0.332 0.107 15.526);
  --color-red-6: oklch(0.381 0.111 16.803);
  --color-red-7: oklch(0.45 0.121 18.774);
  --color-red-8: oklch(0.544 0.146 21.762);
  --color-red-9: oklch(0.626 0.193 23.026);
  --color-red-10: oklch(0.663 0.177 22.851);
  --color-red-11: oklch(0.78 0.128 22.139);
  --color-red-12: oklch(0.902 0.053 6.454);

  --color-green-1: oklch(0.187 0.012 167.009);
  --color-green-2: oklch(0.212 0.015 165.915);
  --color-green-3: oklch(0.272 0.04 162.171);
  --color-green-4: oklch(0.317 0.057 161.845);
  --color-green-5: oklch(0.365 0.066 161.229);
  --color-green-6: oklch(0.412 0.072 160.948);
  --color-green-7: oklch(0.467 0.082 160.242);
  --color-green-8: oklch(0.528 0.096 159.39);
  --color-green-9: oklch(0.641 0.133 157.68);
  --color-green-10: oklch(0.675 0.141 157.704);
  --color-green-11: oklch(0.779 0.165 157.287);
  --color-green-12: oklch(0.905 0.083 158.181);

  --color-blue-1: oklch(0.194 0.025 256.492);
  --color-blue-2: oklch(0.213 0.03 261.252);
  --color-blue-3: oklch(0.274 0.066 253.932);
  --color-blue-4: oklch(0.32 0.097 252.347);
  --color-blue-5: oklch(0.367 0.106 250.701);
  --color-blue-6: oklch(0.416 0.113 252.006);
  --color-blue-7: oklch(0.474 0.122 253.088);
  --color-blue-8: oklch(0.541 0.14 253.175);
  --color-blue-9: oklch(0.649 0.193 251.78);
  --color-blue-10: oklch(0.688 0.169 251.404);
  --color-blue-11: oklch(0.764 0.126 249.464);
  --color-blue-12: oklch(0.907 0.051 238.448);

  --color-yellow-1: oklch(0.182 0.014 94.03);
  --color-yellow-2: oklch(0.209 0.017 91.814);
  --color-yellow-3: oklch(0.261 0.047 90.261);
  --color-yellow-4: oklch(0.293 0.06 93.798);
  --color-yellow-5: oklch(0.335 0.068 92.461);
  --color-yellow-6: oklch(0.385 0.078 92.906);
  --color-yellow-7: oklch(0.452 0.081 91.972);
  --color-yellow-8: oklch(0.535 0.095 89.384);
  --color-yellow-9: oklch(0.918 0.184 100.936);
  --color-yellow-10: oklch(0.971 0.182 109.358);
  --color-yellow-11: oklch(0.9 0.166 101.716);
  --color-yellow-12: oklch(0.942 0.075 101.107);

  --color-orange-1: oklch(0.187 0.011 60.681);
  --color-orange-2: oklch(0.208 0.019 62.719);
  --color-orange-3: oklch(0.258 0.045 60.79);
  --color-orange-4: oklch(0.294 0.071 56.7);
  --color-orange-5: oklch(0.334 0.083 54.379);
  --color-orange-6: oklch(0.385 0.087 54.983);
  --color-orange-7: oklch(0.452 0.095 52.659);
  --color-orange-8: oklch(0.541 0.116 50.046);
  --color-orange-9: oklch(0.691 0.191 45.015);
  --color-orange-10: oklch(0.733 0.182 50.865);
  --color-orange-11: oklch(0.789 0.143 56.213);
  --color-orange-12: oklch(0.925 0.052 66.173);

  /* bg = background | fg = foreground */

  /* backgrounds */
  --bg-default:oklch(0.14 0 0);
  --bg-surface:oklch(0.22 0 0);

  /* foregrounds */
  --fg-emphasis:oklch(0.98 0 0);
  --fg-default:oklch(0.95 0 0);
  --fg-muted:oklch(0.83 0 0);
  --fg-subtle:oklch(0.71 0 0);

  /* control foregrounds */
  --control-fg:var(--color-white);
  --control-fg-disabled:oklch(0.56 0 0);
  --control-fg-placeholder:oklch(0.68 0 0);

  /* control backgrounds */
  --control-bg:oklch(0.32 0 0);
  --control-bg-disabled:oklch(0.19 0 0);

  /* control borders */
  --control-border-color:oklch(0.29 0 0);
  --control-border-color-hover:oklch(0.31 0 0);
  --control-border-color-disabled:oklch(0.25 0 0);



  /* checkbox | switch | radio */
  --control-choice-bg:var(--color-gray-1);
  --control-choice-bg-disabled:var(--control-bg-disabled);

  --control-choice-bg-checked:var(--color-blue-8);
  --control-choice-bg-checked-disabled:var(--color-gray-5);

  /* spinner */
  --spinner-track-color:oklch(from var(--color-blue-8) calc(l + 0.05) c h);
  --spinner-thumb-color:oklch(from var(--color-blue-10) calc(l + 0.1) c h);

  /* link */
  --link-color:oklch(0.72 0.2 255);
  --link-color-hover:oklch(from var(--link-color) calc(l + 0.04) c h);
  --link-color-pressed:oklch(from var(--link-color) calc(l - 0.03) c h);

  /* line */
  --line-color:oklch(27% 0 0);

  /* focus-ring */
  --focus-ring-color:oklch(0.72 0.2 255);

  /* scrollbar */
  --scrollbar-color:oklch(0.27 0 0);

  /* selection */
  --selection-color:oklch(1 0 0 / 0.15);



  /*=== variant: solid ===*/
  /* color: dark-gray */
  --solid-dark-gray-fg:var(--color-white);
  --solid-dark-gray-bg:oklch(0.32 0 0);
  --solid-dark-gray-bg-hover:oklch(0.37 0 0);
  --solid-dark-gray-bg-pressed:oklch(0.29 0 0);

  /* color: gray */
  --solid-gray-fg:var(--color-black);
  --solid-gray-bg:oklch(0.98 0 0);
  --solid-gray-bg-hover:oklch(0.91 0 0);
  --solid-gray-bg-pressed:oklch(0.81 0 0);

  /* color: blue */
  --solid-blue-fg:var(--color-white);
  --solid-blue-bg:var(--color-blue-8);
  --solid-blue-bg-hover:oklch(from var(--solid-blue-bg) calc(l + 0.05) c h);
  --solid-blue-bg-pressed:oklch(from var(--solid-blue-bg) calc(l - 0.03) c h);

  /* color: green */
  --solid-green-fg:var(--color-white);
  --solid-green-bg:var(--color-green-8);
  --solid-green-bg-hover:oklch(from var(--solid-green-bg) calc(l + 0.05) c h);
  --solid-green-bg-pressed:oklch(from var(--solid-green-bg) calc(l - 0.03) c h);

  /* color: yellow */
  --solid-yellow-fg:var(--color-white);
  --solid-yellow-bg:var(--color-yellow-8);
  --solid-yellow-bg-hover:oklch(from var(--solid-yellow-bg) calc(l + 0.05) c h);
  --solid-yellow-bg-pressed:oklch(from var(--solid-yellow-bg) calc(l - 0.03) c h);

  /* color: red */
  --solid-red-fg:var(--color-white);
  --solid-red-bg:var(--color-red-8);
  --solid-red-bg-hover:oklch(from var(--solid-red-bg) calc(l + 0.05) c h);
  --solid-red-bg-pressed:oklch(from var(--solid-red-bg) calc(l - 0.03) c h);

  /*=== variant: soft ===*/
  /* color: gray */
  --soft-gray-fg:var(--color-white);
  --soft-gray-bg:var(--color-gray-3);
  --soft-gray-bg-hover:oklch(from var(--soft-gray-bg) calc(l + 0.03) c h);
  --soft-gray-bg-pressed:oklch(from var(--soft-gray-bg) calc(l - 0.02) c h);

  /* color: blue */
  --soft-blue-fg:var(--color-blue-10);
  --soft-blue-bg:var(--color-blue-3);
  --soft-blue-bg-hover:oklch(from var(--soft-blue-bg) calc(l + 0.03) c h);
  --soft-blue-bg-pressed:oklch(from var(--soft-blue-bg) calc(l - 0.02) c h);

  /* color: green */
  --soft-green-fg:var(--color-green-10);
  --soft-green-bg:var(--color-green-3);
  --soft-green-bg-hover:oklch(from var(--soft-green-bg) calc(l + 0.03) c h);
  --soft-green-bg-pressed:oklch(from var(--soft-green-bg) calc(l - 0.02) c h);

  /* color: yellow */
  --soft-yellow-fg:oklch(from var(--color-yellow-10) calc(l - 0.2) c h);
  --soft-yellow-bg:var(--color-yellow-3);
  --soft-yellow-bg-hover:oklch(from var(--soft-yellow-bg) calc(l + 0.03) c h);
  --soft-yellow-bg-pressed:oklch(from var(--soft-yellow-bg) calc(l - 0.02) c h);

  /* color: red */
  --soft-red-fg:oklch(from var(--color-red-10) calc(l + 0.02) c h);
  --soft-red-bg:var(--color-red-3);
  --soft-red-bg-hover:oklch(from var(--soft-red-bg) calc(l + 0.03) c h);
  --soft-red-bg-pressed:oklch(from var(--soft-red-bg) calc(l - 0.02) c h);

  /*=== variant: outline ===*/
  /* color: gray */
  --outline-dark-gray-fg:var(--color-gray-11);
  --outline-dark-gray-bg-hover:var(--color-gray-4);
  --outline-dark-gray-bg-pressed:var(--color-gray-2);
  --outline-dark-gray-border:var(--outline-dark-gray-fg);

  --outline-gray-fg:var(--color-white);
  --outline-gray-bg-hover:var(--color-gray-4);
  --outline-gray-bg-pressed:var(--color-gray-2);
  --outline-gray-border:var(--outline-gray-fg);

  /* color: blue */
  --outline-blue-fg:var(--color-blue-11);
  --outline-blue-bg-hover:var(--color-blue-3);
  --outline-blue-bg-pressed:var(--color-blue-2);
  --outline-blue-border:var(--color-blue-7);

  /* color: green */
  --outline-green-fg:var(--color-green-11);
  --outline-green-bg-hover:var(--color-green-3);
  --outline-green-bg-pressed:var(--color-green-2);
  --outline-green-border:var(--color-green-7);

  /* color: yellow */
  --outline-yellow-fg:var(--color-yellow-11);
  --outline-yellow-bg-hover:var(--color-yellow-3);
  --outline-yellow-bg-pressed:var(--color-yellow-2);
  --outline-yellow-border:var(--color-yellow-7);

  /* color: red */
  --outline-red-fg:var(--color-red-11);
  --outline-red-bg-hover:var(--color-red-3);
  --outline-red-bg-pressed:var(--color-red-2);
  --outline-red-border:var(--color-red-7);

  /*=== variant: ghost ===*/
  /* color: gray */
  --ghost-dark-gray-fg:var(--outline-dark-gray-fg);
  --ghost-dark-gray-bg-hover:var(--color-gray-4);
  --ghost-dark-gray-bg-pressed:var(--color-gray-2);

  --ghost-gray-fg:var(--color-white);
  --ghost-gray-bg-hover:var(--color-gray-4);
  --ghost-gray-bg-pressed:var(--color-gray-2);

  /* color: blue */
  --ghost-blue-fg:var(--color-blue-11);
  --ghost-blue-bg-hover:var(--color-blue-3);
  --ghost-blue-bg-pressed:var(--color-blue-2);

  /* color: green */
  --ghost-green-fg:var(--color-green-11);
  --ghost-green-bg-hover:var(--color-green-3);
  --ghost-green-bg-pressed:var(--color-green-2);

  /* color: yellow */
  --ghost-yellow-fg:var(--color-yellow-11);
  --ghost-yellow-bg-hover:var(--color-yellow-3);
  --ghost-yellow-bg-pressed:var(--color-yellow-2);

  /* color: red */
  --ghost-red-fg:var(--color-red-11);
  --ghost-red-bg-hover:var(--color-red-3);
  --ghost-red-bg-pressed:var(--color-red-2);
}