:root[data-color-mode='light']{
  /* backgrounds */
  --bg-primary-color:oklch(97% 0 0);

  /* foregrounds */
  --fg-primary-color:oklch(14% 0 0);
  --fg-secondary-color:oklch(36% 0 0);
  --fg-tertiary-color:oklch(46% 0 0);

  /* link */
  --link-color:oklch(45% 0.15 245);
  --link-color-hover:oklch(from var(--link-color) calc(l + 0.05) c h);
  --link-color-active:oklch(from var(--link-color) calc(l - 0.03) c h);

  /* surface */
  --surface-bg:var(--color-neutral-200);

  /* control foregrounds */
  --control-fg-default:var(--color-black);

  /* control backgrounds */
  --control-bg-neutral:var(--color-neutral-400);
  --control-bg-blue:var(--color-blue-400);
  --control-bg-green:var(--color-green-400);
  --control-bg-yellow:var(--color-yellow-400);
  --control-bg-red:var(--color-red-400);

  --control-bg-default:var(--control-bg-neutral);

  /* control border */
  --control-border-color:var(--color-neutral-400);

  /* lines */
  --line-color:var(--color-neutral-300);

  /* outline */
  --outline-color:var(--color-blue-400);

  /* scrollbar */
  --scrollbar-color:var(--color-neutral-300);

  /* selection */
  --selection-color:oklch(0% 0 0 / 0.1);
}