ui-field{
  position:relative;
  display:flex;
  align-items:center;

  & > ui-label:first-child{
    padding-inline-end:10px;
  }

  & > ui-label:last-child{
    padding-inline-start:10px;
  }

  &[vertical]{
    align-items:flex-start;
    flex-direction:column;
  }

  &[vertical] > ui-label:first-child{
    padding-block-end:10px;
  }
}