ui-field{
  position:relative;
  display:inline-flex;

  &[orientation="horizontal"]{
    align-items:center;
    flex-direction:row;}

  &[orientation="horizontal"] ui-label{
    padding-top:2px;}

  &[orientation="horizontal"] > ui-label:first-child{
    padding-inline-end:10px;}

  &[orientation="horizontal"] > ui-label:last-child{
    padding-inline-start:10px;}

  &[orientation="vertical"]{
    flex-direction:column;}

  &[orientation="vertical"] > ui-label:first-child{
    padding-block-end:10px;}

}