ui-spinner{
  display:inline-flex;
  align-items:center;
  justify-content:center;}

ui-spinner > svg{
  display:block;
  height:24px;
  width:24px;
  stroke-width:0;
  animation:spin 0.8s linear infinite;}