ui-icon{
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  justify-content:center;
  width:20px;
  height:20px;}

ui-icon[animated]{
  transition-duration:var(--ui-transition-duration);
  transition-property:color;}

ui-icon > svg{
  width:100%;
  height:100%;
  aspect-ratio:1;
  fill:currentColor;
  shape-rendering:geometricPrecision;
  pointer-events:none;}