ui-icon{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  vertical-align:middle;
  flex-shrink:0;
  height:24px;
  width:24px;}

ui-icon[ui]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,color;}

ui-icon > svg{
  display:block;
  height:100%;
  width:100%;
  stroke-width:0;}