ui-checkbox{
  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:var(--ui-object-height);
  width:fit-content;
  aspect-ratio:1;
  border:2px solid rgb(100,100,100);
  border-radius:calc(var(--ui-object-height) / 4);
  outline-width:2px;
  outline-offset:2px;
  outline-style:solid;
  outline-color:transparent;
  background-color:transparent;
  line-height:1;
  cursor:pointer;
  overflow:hidden;}

ui-checkbox[animated]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color;}

ui-checkbox:focus-visible:not([disabled]){
  outline-color:var(--rgb-100-100-100);}

ui-checkbox:focus:not(:focus-visible){
  outline:none;}

ui-checkbox[checked]::before{
  transform:translateX(
    calc(var(--ui-object-height))
  );}

ui-checkbox > ui-icon{
  padding:calc(var(--ui-object-height) / 10);
  aspect-ratio:1;
  color:transparent;}

ui-checkbox[checked] > ui-icon{
  color:rgb(255,255,255);}