ui-checkbox{
  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:24px;
  width:24px;
  aspect-ratio:1;
  border:none;
  outline-width:2px;
  outline-offset:2px;
  outline-style:solid;
  outline-color:transparent;
  background-color:var(--ui-checkbox-background-color);
  color:transparent;
  cursor:pointer;
  overflow:hidden;}

ui-checkbox[ui]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,color;}

ui-checkbox::before{
  content:'';
  position:absolute;
  inset:0;
  border-radius:inherit;
  border-width:2px;
  border-style:solid;
  border-color:rgb(70,70,70);
  overflow:hidden;}

ui-checkbox:focus-visible:not([disabled]){
  outline-color:var(--ui-checkbox-outline-focus);}

ui-checkbox > svg{
  position:absolute;
  padding:calc(var(--ui-object-height) / 10);
  stroke-width:0;
  border-radius:inherit;
  overflow:hidden;}

ui-checkbox[checked] > svg{
  background-color:rgb(25,125,230);
  color:rgb(255,255,255);}

/* color */
ui-checkbox[color="gray"]{
  --ui-checkbox-background-color:var(--ui-color-gray-800);
  --ui-checkbox-outline-focus:var(--ui-color-gray-400);}