ui-checkbox{
  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:var(--ui-checkbox-size);
  width:var(--ui-checkbox-size);
  border:none;
  outline-width:2px;
  outline-offset:2px;
  outline-style:solid;
  outline-color:transparent;
  background-color:var(--ui-checkbox-background-color);
  color:transparent;
  cursor:pointer;
  overflow:hidden;}

ui-checkbox[ui]{
  transition-duration:var(--ui-transition-duration);
  transition-property:outline-color,color;}

ui-checkbox::before{
  content:'';
  position:absolute;
  inset:0;
  border-radius:inherit;
  border-width:2px;
  border-style:solid;
  border-color:var(--ui-checkbox-border-color);
  overflow:hidden;}

ui-checkbox:focus-visible:not([disabled]){
  outline-color:var(--ui-checkbox-outline-focus);}

ui-checkbox > svg{
  position:absolute;
  background-color:var(--ui-color-blue-500);
  color:var(--ui-color-white);
  stroke-width:0;
  border-radius:inherit;
  overflow:hidden;
  opacity:0;}

ui-checkbox[checked] > svg{
  opacity:1;}

/* color */
ui-checkbox[color="gray"]{
  --ui-checkbox-background-color:var(--ui-color-gray-800);
  --ui-checkbox-border-color:var(--ui-color-gray-500);
  --ui-checkbox-outline-focus:var(--ui-color-gray-400);}

/* size */
ui-checkbox[size="x-small"]{
  --ui-checkbox-size:var(--ui-height-x-small);
  --ui-icon-size:var(--ui-icon-size-x-small);}

ui-checkbox[size="small"]{
  --ui-checkbox-size:var(--ui-height-small);
  --ui-icon-size:var(--ui-icon-size-small);}

ui-checkbox[size="medium"]{
  --ui-checkbox-size:var(--ui-height-medium);
  --ui-icon-size:var(--ui-icon-size-medium);}