:root[data-color-mode="light"]{
  color-scheme:light;
  /* background */
  --bg-color-default:var(--neutral-1);
  --bg-color-inverse:var(--neutral-12);

  --surface-color-default:var(--neutral-2);
  --surface-color-subtle:var(--neutral-3);

  /* foreground */
  --fg-color-default:var(--neutral-12);
  --fg-color-inverse:var(--neutral-1);
  --fg-color-subtle:var(--neutral-8);

  /* disabled */
  --bg-color-disabled:var(--neutral-4);
  --fg-color-disabled:var(--neutral-7);
  --border-color-disabled:var(--neutral-5);

  /* state */
  --state-hover-opacity:0.08;
  --state-pressed-opacity:0.12;
}