ui-tabs{
  display:flex;
  flex-direction:column;
  width:100%;
  column-gap:20px;}

ui-tabs [data-ui="tabs-list"]{
  display:flex;
  border-bottom:1px solid var(--ui-tabs-border-color);
  gap:var(--ui-tabs-header-gap);}

ui-tabs [data-ui="tab"] {
  background: none;
  border: none;
  cursor: pointer;
  padding-inline: var(--ui-tabs-header-padding-inline);
  padding-block: var(--ui-tabs-header-padding-block);
  font-size: var(--ui-tabs-header-font-size);
  color: var(--ui-tabs-header-font-color);
  background-color: var(--ui-tabs-header-background-color);
  transition: background-color var(--ui-transition-duration),
              color var(--ui-transition-duration);
  outline: none;
}

ui-tabs [data-ui="tab"]:focus-visible {
  outline: var(--ui-outline-width) solid var(--ui-outline-color);
  outline-offset: var(--ui-outline-offset);
}

@media (hover: hover) {
  ui-tabs [data-ui="tab"]:hover {
    background-color: var(--ui-tabs-header-background-color-hover);
  }
}

ui-tabs [data-ui="tab"][aria-selected="true"] {
  background-color: var(--ui-tabs-header-background-color-active);
  color: var(--ui-tabs-header-font-color-active);
}

ui-tabs [data-ui="tabpanel"] {
  padding-inline: var(--ui-tabs-body-padding-inline);
  padding-block: var(--ui-tabs-body-padding-block);
  font-size: var(--ui-tabs-body-font-size);
  color: var(--ui-tabs-body-font-color);
  background-color: var(--ui-tabs-body-background-color);
  display: block;
}

ui-tabs [data-ui="tabpanel"][hidden]{
  display:none;}

/* Color theme */
ui-tabs[color="default"] {
  --ui-tabs-header-background-color: var(--ui-color-gray-800);
  --ui-tabs-header-background-color-hover: var(--ui-color-gray-750);
  --ui-tabs-header-background-color-active: var(--ui-color-gray-700);
  --ui-tabs-body-background-color: var(--ui-color-gray-850);
  --ui-tabs-header-font-color: var(--ui-color-white);
  --ui-tabs-header-font-color-active: var(--ui-color-white);
  --ui-tabs-body-font-color: var(--ui-color-gray-200);
  --ui-tabs-border-color: var(--ui-color-gray-600);
}

/* Size theme */
ui-tabs[size="default"] {
  --ui-tabs-header-font-size: 18px;
  --ui-tabs-body-font-size: 16px;
  --ui-tabs-row-gap: 10px;
  --ui-tabs-header-padding-inline: 20px;
  --ui-tabs-header-padding-block: 12px;
  --ui-tabs-body-padding-inline: 20px;
  --ui-tabs-body-padding-block: 16px;
  --ui-tabs-header-gap: 4px;
}
