ui-tabs{
  --ui-tabs-gap:10px;
  --ui-tabs-tablist-gap:10px;

  --ui-tabs-tab-border-radius:var(--ui-border-radius-default);
  --ui-tabs-tab-font-size:var(--ui-font-size-default);
  --ui-tabs-tab-padding-inline:20px;
  --ui-tabs-tab-padding-block:12px;
  --ui-tabs-tab-surface-color-default:var(--ui-surface-color-default);
  --ui-tabs-tab-surface-color-hover:var(--ui-surface-color-hover);
  --ui-tabs-tab-surface-color-active:var(--ui-surface-color-active);
  --ui-tabs-tab-content-color-default:var(--ui-content-color-default);
  --ui-tabs-tab-content-color-hover:var(--ui-content-color-hover);
  --ui-tabs-tab-content-color-active:var(--ui-content-color-active);

  --ui-tabs-tabpanel-border-radius:var(--ui-border-radius-default);
  --ui-tabs-tabpanel-font-size:var(--ui-font-size-default);
  --ui-tabs-tabpanel-padding-inline:20px;
  --ui-tabs-tabpanel-padding-block:16px;
  --ui-tabs-tabpanel-surface-color:var(--ui-surface-color-default);
  --ui-tabs-tabpanel-content-color:var(--ui-color-gray-200);
  --ui-tabs-tabpanel-line-height:var(--ui-line-height-normal);

  display:flex;
  flex-direction:column;
  width:100%;
  gap:var(--ui-tabs-gap);

  & > [role="tablist"]{
    display:flex;
    flex-wrap:wrap;
    gap:var(--ui-tabs-tablist-gap);
  }

  & [role="tab"]{
    display:flex;
    background-color:var(--ui-tabs-tab-surface-color-default);
    border-radius:var(--ui-tabs-tab-border-radius);
    padding-inline:var(--ui-tabs-tab-padding-inline);
    padding-block:var(--ui-tabs-tab-padding-block);
    font-size:var(--ui-tabs-tab-font-size);
    color:var(--ui-tabs-tab-content-color-default);
    transition-duration:var(--ui-transition-duration-default);
    transition-property:background-color,outline-color,color;
  }

  @media (hover: hover){
    & [role="tab"]:not([aria-selected="true"]):not([aria-disabled="true"]):hover{
      background-color:var(--ui-tabs-tab-surface-color-hover);
      color:var(--ui-tabs-tab-content-color-hover);
    }
  }

  & [role="tab"]:not([aria-selected="true"]):not([aria-disabled="true"]):active,
  & [role="tab"][aria-selected="true"]:not([aria-disabled="true"]){
    color:var(--ui-tabs-tab-content-color-active);
    background-color:var(--ui-tabs-tab-surface-color-active);
  }

  & [role="tabpanel"]{
    display:block;
    -webkit-user-select:text;
    user-select:text;
    border-radius:var(--ui-tabs-tabpanel-border-radius);
    padding-inline:var(--ui-tabs-tabpanel-padding-inline);
    padding-block:var(--ui-tabs-tabpanel-padding-block);
    font-size:var(--ui-tabs-tabpanel-font-size);
    color:var(--ui-tabs-tabpanel-content-color);
    background-color:var(--ui-tabs-tabpanel-surface-color);
    line-height:var(--ui-tabs-tabpanel-line-height);
  }

  & [role="tabpanel"][hidden]{
    display:none;
  }

  /* shape */
  &[shape="rounded"]{
    --ui-tabs-tab-border-radius:var(--ui-border-radius-rounded);
    --ui-tabs-tabpanel-border-radius:var(--ui-border-radius-rounded);
  }

  &[shape="square"]{
    --ui-tabs-tab-border-radius:var(--ui-border-radius-square);
    --ui-tabs-tabpanel-border-radius:var(--ui-border-radius-square);
  }
}