:root[data-mode='dark']{
  /* backgrounds */
  --bg-primary:oklch(14% 0 0);

  /* foregrounds */
  --fg-primary:oklch(98% 0 0);
  --fg-secondary:oklch(78% 0 0);
  --fg-tertiary:oklch(62% 0 0);

  /* link */
  --link-color:var(--color-blue-400);
  --link-color-hover:oklch(from var(--link-color) calc(l + 0.04) c h);
  --link-color-active:oklch(from var(--link-color) calc(l - 0.01) c h);

  /* surface */
  --surface-bg-neutral:var(--color-neutral-700);
  --surface-bg-blue:var(--color-blue-700);
  --surface-bg-green:var(--color-green-700);
  --surface-bg-yellow:var(--color-yellow-700);
  --surface-bg-red:var(--color-red-700);
  --surface-bg-default:var(--surface-bg-neutral);

  --surface-fg-default:oklch(100% 0 0);

  /* border */
  --border-color:var(--color-neutral-500);

  /* line */
  --line-color:var(--color-neutral-800);

  /* outline focus */
  --outline-focus-color:var(--color-blue-500);

  /* scrollbar */
  --scrollbar-color:var(--color-neutral-700);
}