:root[data-mode='dark']{
  /* backgrounds */
  --bg-base:var(--color-neutral-950);

  /* foregrounds */
  --fg-base:var(--color-neutral-50);
  --fg-muted:var(--color-neutral-400);

  /* link */
  --link-color:var(--color-blue-400);
  --link-color-hover:color-mix(
    in oklch,
    var(--color-blue-400),
    var(--color-blue-300) 50%
  );
  --link-color-active:var(--link-color);

  /* surface */
  --surface-bg:var(--color-neutral-900);

  /* control */
  --control-color-default:var(--color-neutral-700);
  --control-color-default-hover:color-mix(
    in oklch,
    var(--color-neutral-700),
    var(--color-neutral-600) 40%
  );
  --control-color-blue:var(--color-blue-700);
  --control-color-blue-hover:color-mix(
    in oklch,
    var(--color-blue-700),
    var(--color-blue-600) 50%
  );
  --control-color-green:var(--color-green-700);
  --control-color-green-hover:color-mix(
    in oklch,
    var(--color-green-700),
    var(--color-green-600) 40%
  );
  --control-color-yellow:var(--color-yellow-700);
  --control-color-yellow-hover:color-mix(
    in oklch,
    var(--color-yellow-700),
    var(--color-yellow-600) 40%
  );
  --control-color-red:var(--color-red-700);
  --control-color-red-hover:color-mix(
    in oklch,
    var(--color-red-700),
    var(--color-red-600) 60%
  );

  --control-border-color:var(--color-neutral-500);

  /* lines */
  --line-color:var(--color-neutral-800);

  /* outline */
  --outline-color:var(--color-blue-500);

  /* scrollbar */
  --scrollbar-color:var(--color-neutral-700);
}