:root[data-mode='dark']{
  /* backgrounds */
  --bg-base:oklch(15% 0 0);

  /* foregrounds */
  --fg-base:var(--color-white);
  --fg-muted:oklch(70% 0 0);

  /* link */
  --link-color:oklch(85% 0 0);
  --link-color-hover:var(--color-white);
  --link-color-active:oklch(80% 0 0);

  /* surface */
  --surface-bg:var(--color-gray-10);

  /* control */
  --control-color-default:var(--color-gray-40);
  --control-color-info:var(--color-blue-40);
  --control-color-success:var(--color-green-40);
  --control-color-warning:var(--color-yellow-40);
  --control-color-danger:var(--color-red-40);

  --control-state:oklch(1 0 0 / 0);
  --control-state-hover:oklch(1 0 0 / 0.08);
  --control-state-active:oklch(0 0 0 / 0.12);

  /* lines */
  --line-color:oklch(30% 0 0);

  /* outline */
  --outline-color:oklch(60% 0.22 255);

  /* scrollbar */
  --scrollbar-color:oklch(30% 0 0);
}