:root[data-mode='light']{
  /* backgrounds */
  --body-background-color:var(--color-neutral-50);
  --header-background-color:var(--color-neutral-50);

  /* surface neutral */
  --surface-color-primary:var(--color-neutral-300);
  --surface-color-hover:color-mix(
    in oklch,
    var(--color-neutral-300),
    var(--color-neutral-200) 50%
  );
  --surface-color-active:color-mix(
    in oklch,
    var(--color-neutral-300),
    var(--color-neutral-400) 20%
  );
  --surface-color-secondary:var(--color-neutral-200);
  --surface-color-tertiary:var(--color-neutral-100);
  --surface-color-default:var(--surface-color-primary);

  /* border */
  --border-color:var(--color-neutral-300);

  /* panel */
  --panel-color-default:var(--color-neutral-200);

  /* menu */
  --menu-background-color-hover:var(--color-neutral-200);
  --menu-background-color-active:var(--color-neutral-300);

  /* text */
  --text-color-default:var(--color-neutral-950);
  --text-color-secondary:var(--color-neutral-600);

  /* link */
  --link-color-default:var(--color-neutral-700);
  --link-color-hover:var(--color-neutral-800);
  --link-color-active:var(--color-neutral-950);

  /* outline */
  --outline-color:var(--color-blue-500);

  /* scrollbar */
  --scrollbar-color:var(--color-neutral-400);
}
/* accent warning danger success */