:root[data-mode='light']{
  /* backgrounds */
  --bg-base:var(--color-neutral-50);

  /* foregrounds */
  --fg-base:var(--color-neutral-950);
  --fg-muted:var(--color-neutral-500);

  /* link */
  --link-color:var(--color-blue-700);
  --link-color-hover:oklch(from var(--link-color) calc(l + 0.05) c h);
  --link-color-active:oklch(from var(--link-color) calc(l - 0.05) c h);

  /* surface */
  --surface-bg:var(--color-neutral-200);

  /* control foregrounds */
  --control-fg-default:var(--color-black);

  /* control backgrounds */
  --control-bg-neutral:var(--color-neutral-300);
  --control-bg-blue:var(--color-blue-400);
  --control-bg-green:var(--color-green-400);
  --control-bg-yellow:var(--color-yellow-400);
  --control-bg-red:var(--color-red-400);

  --control-bg-default:var(--control-bg-neutral);

  /* control border */
  --control-border-color:var(--color-neutral-400);

  /* lines */
  --line-color:var(--color-neutral-300);

  /* outline */
  --outline-color:var(--color-blue-400);

  /* scrollbar */
  --scrollbar-color:var(--color-neutral-300);
}