:root[data-mode='light']{
  /* backgrounds */
  --bg-base:oklch(97.5% 0 0);

  /* foregrounds */
  --fg-base:var(--color-black);
  --fg-muted:var(--color-neutral-35);

  /* link */
  --link-color:var(--color-neutral-600);
  --link-color-hover:var(--color-neutral-600);
  --link-color-active:var(--color-neutral-800);

  /* surface */
  --surface-bg:var(--color-neutral-200);

  /* surface */
  --control-color-default:var(--color-gray-60);
  --control-color-info:var(--color-blue-60);
  --control-color-success:var(--color-green-60);
  --control-color-warning:var(--color-yellow-60);
  --control-color-danger:var(--color-red-60);

  --control-state:oklch(1 0 0 / 0);
  --control-state-hover:oklch(1 0 0 / 0.12);
  --control-state-active:oklch(0 0 0 / 0.08);

  /* lines */
  --line-color:oklch(90% 0 0);

  /* outline */
  --outline-color:oklch(60% 0.22 255);

  /* scrollbar */
  --scrollbar-color:oklch(85% 0 0);
}