ui-textarea{
  position:relative;
  display:block;
  border:none;
  outline-offset:0px;
  outline-width:2px;
  outline-style:solid;
  outline-color:var(--ui-color-input-outline);
  background-color:var(--ui-color-input-surface);}

ui-textarea[animated]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,outline-color;}

ui-textarea[disabled]{
  outline-color:var(--ui-color-input-outline-disabled);
  background-color:var(--ui-color-input-surface-disabled);}

ui-textarea textarea{
  direction:inherit;
  border:none;
  outline:none;
  padding:12px 16px;
  resize:none;
  font-size:var(--ui-font-size-small);
  color:var(--ui-color-input-content);
  background-color:transparent;}

ui-textarea[disabled] textarea{
  color:var(--ui-color-input-content);}

ui-textarea textarea::placeholder{
  color:var(--ui-color-input-placeholder);}

ui-textarea[disabled] textarea::placeholder{
  color:var(--ui-color-input-placeholder-disabled);}

ui-textarea > ui-icon{
  position:absolute;
  top:4px;
  right:4px;
  color:var(--ui-color-input-icons);
  height:calc(var(--ui-form-control-size-medium) / 2);
  width:calc(var(--ui-form-control-size-medium) / 2);
  cursor:pointer;}

@media (hover:hover){
  ui-textarea:hover:not([disabled]):not([status]){
    outline-color:var(--ui-color-input-outline-active);}

  ui-textarea > ui-icon:hover{
    color:var(--ui-color-input-icons-active);}
}

ui-textarea[focused]:not([disabled]):not([status]){
  outline-color:var(--ui-color-input-outline-active);}

ui-textarea[status="info"]{
  outline-color:var(--ui-color-form-control-info);}

ui-textarea[status="error"]{
  outline-color:var(--ui-color-form-control-error);}

ui-textarea[status="success"]{
  outline-color:var(--ui-color-form-control-success);}

ui-textarea[status="warning"]{
  outline-color:var(--ui-color-form-control-warning);}