ui-spinner{
  --spinner-svg-height:24px;
  --spinner-svg-width:24px;

  display:inline-flex;
  align-items:center;
  justify-content:center;
  height:var(--spinner-height,auto);
  width:var(--spinner-width,auto);

  & > ui-icon > svg{
    height:var(--spinner-svg-height);
    width:var(--spinner-svg-width);
    animation:rotate360 0.8s linear infinite;
  }
}

@keyframes rotate360{
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}