<section class="intro">
  <h1>Spinner</h1>
  <p>A visual indicator of loading or processing.</p>
</section>

<section class="details">
  <h2>Features</h2>
  <p>The spinner is already animated.</p>
</section>

<section class="content">

  <div class="content-item">
    <div class="example">
      <div class="preview">
        <ui-spinner></ui-spinner>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-spinner&gt;&lt;/ui-spinner&gt;
</code></pre>

      </div>
    </div>
  </div>

</section>