<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script>
    (()=>{
      let mode = localStorage.getItem('data-color-mode');
      if(mode !== 'dark' && mode !== 'light'){
        mode = 'dark';
        localStorage.setItem('data-color-mode',mode);
      }
      document.documentElement.setAttribute('data-color-mode',mode);
    })();
  </script>

  <link rel="stylesheet" href="{{ site.baseUrl }}library/styles/reset/reset.css">
  <link rel="stylesheet" href="{{ site.baseUrl }}library/styles/tokens/index.css">
  <link rel="stylesheet" href="{{ site.baseUrl }}library/styles/core/index.css">
  <link rel="stylesheet" href="{{ site.baseUrl }}library/styles/themes/default/index.css">
  <link rel="stylesheet" href="{{ site.baseUrl }}library/styles/core.css">
  <link rel="stylesheet" href="{{ site.baseUrl }}library/styles/template.css">
<!--<link rel="stylesheet" href="{{ site.baseUrl }}library/styles/variants.css">-->
  <link rel="stylesheet" href="{{ site.baseUrl }}library/styles/components.css">

  <script type="module" src="{{ site.baseUrl }}library/lit-core.min.js"></script>
  <link rel="icon" href="data:,">

  <title>{{ title }}</title>
</head>

<body>
  <ui-root>
    <ui-focus></ui-focus>
    <ui-app>
      <div class="sidebar">
        <div class="static">
          <span class="version"></span>
            {% include "parts/sidebar.html" %}
        </div>
        <nav></nav>
      </div>

      <ui-main>
        <header>
          <ui-color-mode></ui-color-mode>
        </header>
        <main>
          <article>
            {{ content }}
          </article>
        </main>
        <footer></footer>
      </ui-main>
    </ui-app>
    <ui-portal></ui-portal>
  </ui-root>
  <script type="module" src="{{ site.baseUrl }}assets/scripts/script.js"></script>
  <script type="module" src="{{ site.baseUrl }}library/components.js"></script>
</body>

</html>