ui-text{
  width:auto;}

ui-text[text-align="start"]{
  text-align:start;}

ui-text[text-align="end"]{
  text-align:end;}

ui-text[text-align="center"]{
  text-align:center;}

ui-text[text-align="justify"]{
  text-align:justify;}