ui-alert{
  --alert-border-radius:var(--border-radius-default);
  --alert-background-color:var(--surface-bg);

  --alert-max-width:100%;
  --alert-padding-block:16px;
  --alert-padding-inline:20px;
  --alert-title-font-size:16px;
  --alert-content-font-size:14px;
  --alert-row-gap:8px;
  --alert-content-color:var(--color-gray-200);

  position:relative;
  display:grid;
  grid-template-columns:auto 1fr;
  grid-template-rows:auto auto;
  width:100%;
  align-items:start;
  padding-block:var(--alert-padding-block);
  padding-inline:var(--alert-padding-inline);
  border-radius:var(--alert-border-radius);
  background-color:var(--alert-background-color);
  max-width:var(--alert-max-width);

  /* icon */
  & > ui-icon{
    align-self:center;
    grid-column:1 / 2;
    grid-row:1 / 3;
    margin-inline-end:20px;
  }

  &:has(:is(h2,h3,h4,h5,h6)):has(div){
    row-gap:var(--alert-row-gap);
  }

  &:has(:is(h2,h3,h4,h5,h6)) > :is(h2,h3,h4,h5,h6),
  &:not(:has(:is(h2,h3,h4,h5,h6))) > div{
    padding-inline-end:32px;
  }

  /* title */
  & > :is(h2,h3,h4,h5,h6){
    flex-grow:1;
    font-size:var(--font-size-large);
    grid-column:2 / 3;
    grid-row:1 / 2;
  }

  /* content */
  & > div{
    color:var(--alert-content-color);
    grid-column:2 / 3;
    grid-row:2 / 3;

    & > :is(ul,ol,p):last-child{margin-bottom:0;}
    & > :is(ul,ol){padding-inline-start:20px;}
  }

  /* close button */
  & > ui-button{
    position:absolute;
    top:12px;
    inset-inline-end:12px;
  }
}