ui-alert{
  --ui-alert-border-radius:var(--ui-border-radius-rounded);
  --ui-alert-max-width:100%;
  --ui-alert-padding-block:16px;
  --ui-alert-padding-inline:20px;
  --ui-alert-title-font-size:16px;
  --ui-alert-content-font-size:14px;
  --ui-alert-icon-height:24px;
  --ui-alert-icon-width:24px;
  --ui-alert-row-gap:8px;
  --ui-alert-surface-color-default:var(--ui-surface-color-default);
  --ui-alert-icon-color:var(--ui-color-white);
  --ui-alert-title-color:var(--ui-color-white);
  --ui-alert-content-color:var(--ui-color-gray-200);

  position:relative;
  display:grid;
  grid-template-columns:auto 1fr;
  grid-template-rows:auto auto;
  width:100%;
  align-items:start;
  padding-block:var(--ui-alert-padding-block);
  padding-inline:var(--ui-alert-padding-inline);
  border-radius:var(--ui-alert-border-radius);
  background-color:var(--ui-alert-surface-color-default);
  max-width:var(--ui-alert-max-width);

  /* icon */
  & > ui-icon{
    --ui-icon-height:var(--ui-alert-icon-height);
    --ui-icon-width:var(--ui-alert-icon-width);
    color:var(--ui-alert-icon-color);
    align-self:center;
    grid-column:1 / 2;
    grid-row:1 / 3;
    margin-inline-end:20px;
  }

  &:has(h6):has(div){
    row-gap:var(--ui-alert-row-gap);
  }

  &:has(h6) > h6,
  &:not(:has(h6)) > div{
    padding-inline-end:24px;
  }

  /* title */
  & > h6{
    flex-grow:1;
    color:var(--ui-alert-title-color);
    grid-column:2 / 3;
    grid-row:1 / 2;
  }

  /* content */
  & > div{
    font-size:var(--ui-alert-content-font-size);
    color:var(--ui-alert-content-color);
    grid-column:2 / 3;
    grid-row:2 / 3;

    & > :is(ul,ol,p):last-child{margin-bottom:0;}
    & > :is(ul,ol){padding-inline-start:20px;}
  }

  /* close button */
  & > ui-button{
    --ui-button-size:24px;
    --ui-button-surface-color-default:transparent;
    --ui-button-icon-height:20px;
    --ui-button-icon-width:20px;

    position:absolute;
    top:12px;
    inset-inline-end:12px;
  }
}