ui-accordion{
  position:relative;
  display:flex;
  flex-direction:column;
  width:100%;
  row-gap:var(--ui-accordion-row-gap);}

ui-accordion > :where([data-ui]),
ui-accordion > :where([data-ui]) > :where([data-ui]){
  width:inherit;}

ui-accordion > :where([data-ui]) > [data-ui="accordion-title"]{
  padding-inline:var(--ui-accordion-padding-inline);
  padding-block:var(--ui-accordion-title-padding-block);
  font-size:var(--ui-accordion-title-font-size);
  color:var(--ui-accordion-title-font-color);
  outline-offset:2px;
  outline-width:2px;
  outline-style:solid;
  outline-color:transparent;
  cursor:pointer;
  background-color:var(--ui-accordion-title-background-color);}

ui-accordion[ui] > :where([data-ui]) > [data-ui="accordion-title"]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,outline-color,color;}

ui-accordion > :where([data-ui]) > [data-ui="accordion-title"]:focus-visible{
  outline-color:var(--ui-accordion-outline-color);}



@media (hover:hover){
  ui-accordion > :where([data-ui]) > [data-ui="accordion-title"]:hover{
    background-color:var(--ui-accordion-title-background-color-hover);
    color:var(--ui-accordion-font-color-hover);}
}

ui-accordion > :where([data-ui]) > [data-ui="accordion-title"]:active{
  background-color:var(--ui-accordion-title-background-color-active);}






ui-accordion > :where([data-ui]) > [data-ui="accordion-content"]{
  font-size:var(--ui-accordion-content-font-size);
  color:var(--ui-accordion-content-font-color);
  padding-inline:var(--ui-accordion-padding-inline);
  padding-block:var(--ui-accordion-content-padding-block);
  line-height:var(--ui-line-height-150);

  background-color:var(--ui-accordion-content-background-color);
}


/* color */
ui-accordion[color="default"]{
  --ui-accordion-title-background-color:var(--ui-color-gray-800);
  --ui-accordion-title-background-color-hover:var(--ui-color-gray-750);
  --ui-accordion-title-background-color-active:var(--ui-color-gray-700);
  --ui-accordion-content-background-color:var(--ui-color-gray-850);
  --ui-accordion-title-font-color:var(--ui-color-white);
  --ui-accordion-content-font-color:var(--ui-color-gray-200);

  --ui-accordion-outline-color:var(--ui-color-gray-500);}

/* size */
ui-accordion[size="default"]{
  --ui-accordion-title-font-size:16px;
  --ui-accordion-content-font-size:14px;
  --ui-accordion-row-gap:10px;
  --ui-accordion-padding-inline:14px;
  --ui-accordion-title-padding-block:16px;
  --ui-accordion-content-padding-block:12px;}