ui-accordion{
  display:flex;
  flex-direction:column;
  row-gap:10px;
  width:100%;
  border-radius:var(--ui-accordion-border-radius);

  & > [data-index]{
    border-radius:inherit;
    width:100%;
    background-color:var(--ui-accordion-background-color);

    > ui-button[aria-controls]{
      justify-content:space-between;
      border-radius:inherit;
      padding-block:var(--ui-accordion-header-padding-block);
      padding-inline:var(--ui-accordion-header-padding-inline);
      font-size:var(--ui-accordion-header-font-size);
      color:var(--ui-accordion-header-font-color);}

    @media (hover: hover){
      > ui-button[aria-controls]:not([disabled]):hover{
        text-decoration:underline;}
    }

    > ui-button[aria-controls] > ui-icon{
      display:flex;
      align-items:center;
      width:var(--ui-accordion-icon-expand-size);
      height:var(--ui-accordion-icon-expand-size);}

    > ui-button[aria-controls][aria-expanded] > ui-icon{
      transition-duration:var(--ui-transition-duration);
      transition-property:transform;}

    > ui-button[aria-controls][aria-expanded="false"] > ui-icon{
      transform:rotate(0deg);}

    > ui-button[aria-controls][aria-expanded="true"] > ui-icon{
      transform:rotate(180deg);}

    > [role="region"]{
      display:block;
      -webkit-user-select:text;
      user-select:text;
      border-radius:inherit;
      font-size:var(--ui-accordion-panel-font-size);
      color:var(--ui-accordion-panel-font-color);
      padding-inline:var(--ui-accordion-panel-padding-inline);
      padding-block:var(--ui-accordion-panel-padding-block);
      line-height:var(--ui-line-height-normal);}

    > [role="region"][hidden]{
      display:none;}
  }

  /* shape */
  &[shape="rounded"]{
    --ui-accordion-border-radius:var(--ui-border-radius-rounded);}

  &[shape="square"]{
    --ui-accordion-border-radius:var(--ui-border-radius-square);}

  /* theme */
  &[theme="default"]{
    --ui-accordion-background-color:var(--ui-color-gray-800);
    --ui-accordion-header-font-color:var(--ui-color-white);
    --ui-accordion-panel-font-color:var(--ui-color-gray-200);}

  /* size */
  &[size="default"]{
    --ui-accordion-header-font-size:16px;
    --ui-accordion-panel-font-size:14px;
    --ui-accordion-header-padding-inline:20px 12px;
    --ui-accordion-panel-padding-inline:20px;
    --ui-accordion-header-padding-block:12px;
    --ui-accordion-panel-padding-block:12px;
    --ui-accordion-icon-expand-size:24px;}
}