:host::before{
  position:absolute;
  inset:0;
  content:"";
  background-color:rgb(255,255,255);
  opacity:0;
  transition:opacity 0.2s;}

@media (hover:hover){
  :host:hover::before{opacity:0.5;}
}

button- :nth-child(n){
  white-space:nowrap;
  pointer-events:none;
  align-items:center;}

button- > :nth-child(n),
button- > :nth-child(n) > :nth-child(n){
  position:relative;
  display:flex;
  height:inherit;}

button- > svg{
  width:20px;
  min-width:16px;
  min-height:16px;
  transition:stroke 0.2s,fill 0.2s;}

button- > span{transition:color 0.2s;}

button- > svg{fill:rgb(255,255,255);}
button- > span{color:rgb(255,255,255);}