input-{
  position:relative;
  display:inline-flex;
  padding:0 10px;
  column-gap:10px;
  overflow:hidden;
  border:0;
  border-radius:var(--border-radius);  
  background-color:rgb(25,25,25);
  transition:background-color 0.2s;}

input- > :nth-child(n),
input- > :nth-child(n) > :nth-child(n){
  position:relative;
  display:flex;
  align-items:center;
  height:inherit;}

input- svg{
  fill:rgb(125,125,125);
  width:20px;
  min-width:20px;}

input-.active svg{
  fill:rgb(200,200,200);}

input- > svg{transition:stroke 0.2s,fill 0.2s;}

input- input{
  border-radius:0!important;
  background-color:transparent!important;
  width:100%;
  height:inherit;}