ui-field{
  position:relative;
  display:flex;
  align-items:center;
  column-gap:10px;

  &:not([passive]) > label{
    cursor:pointer;
  }

  & > label{
    user-select:none;

    & > span{
      padding-inline-start:6px;
      color:var(--color-red-500);
    }
  }

  &[vertical]{
    align-items:flex-start;
    flex-direction:column;
  }

  &[vertical] > label:first-child{
    padding-block-end:10px;
  }
}