<section class="intro">
  <h1>Field</h1>
  <p>The Field component groups a label with a form control.</p>
</section>

<section class="details">
  <h2>Info</h2>
  <p>Only two components are allowed inside: a ui-label and a form control.</p>
  <p>Automatic association between the label and the form control by adding a unique UUID to the label's id attribute and assigning this UUID to the form control's aria-labelledby attribute. You can override the unique UUID by adding a custom id attribute to the ui-label component.</p>
</section>

<section class="details">
  <h2>Attributes</h2>
  <p>label-position - static (optional). Default: start. Defines the position of the ui-label relative to the form control.</p>
  <p>vertical - static (optional). Sets the orientation to vertical.</p>
  <p>required - static (optional). Adds the required attribute to all child elements.</p>
</section>

<section class="content">

  <div class="content-item">
    <div>Default</div>
    <div class="example">
      <div class="preview">
        <ui-field>
          <ui-label>Label</ui-label>
          <ui-checkbox></ui-checkbox>
        </ui-field>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-field&gt;
 &lt;ui-label&gt;Label&lt;/ui-label&gt;
 &lt;ui-checkbox&gt;&lt;/ui-checkbox&gt;
&lt;/ui-field&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>label-position="end"</div>
    <div class="example">
      <div class="preview">
        <ui-field label-position="end">
          <ui-label>Label</ui-label>
          <ui-switch></ui-switch>
        </ui-field>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-field label-position="end"&gt;
 &lt;ui-label&gt;Label&lt;/ui-label&gt;
 &lt;ui-switch&gt;&lt;/ui-switch&gt;
&lt;/ui-field&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Passive, non-clickable label</div>
    <div class="example">
      <div class="preview">
        <ui-field>
          <ui-label passive>Label</ui-label>
          <ui-switch></ui-switch>
        </ui-field>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-field&gt;
 &lt;ui-label passive&gt;Label&lt;/ui-label&gt;
 &lt;ui-switch&gt;&lt;/ui-switch&gt;
&lt;/ui-field&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Required, vertical</div>
    <div class="example">
      <div class="preview">
        <ui-field required vertical>
          <ui-label>Label</ui-label>
          <ui-textarea height="200"></ui-textarea>
        </ui-field>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-field required vertical&gt;
 &lt;ui-label&gt;Label&lt;/ui-label&gt;
 &lt;ui-textarea&gt;&lt;/ui-textarea&gt;
&lt;/ui-field&gt;
</code></pre>

      </div>
    </div>
  </div>

</section>