ui-field{
  position:relative;
  display:flex;
  align-items:center;

  & > label{
    padding-inline-end:10px;
    cursor:pointer;

    & > span{
      padding-inline-start:6px;
      color:var(--ui-color-red-500);
    }
  }

  &[vertical]{
    align-items:flex-start;
    flex-direction:column;
  }

  &[vertical] > label:first-child{
    padding-block-end:10px;
  }
}