ui-select{
  position:relative;
  display:inline-flex;
  align-items:center;
  height:var(--ui-select-height);
  width:200px;
  padding-inline-start:calc(var(--ui-select-height) / 2)!important;
  padding-inline-end:calc(var(--ui-select-height) / 4 + 2px)!important;
  border:none;
  outline-offset:2px;
  outline-width:2px;
  outline-style:solid;
  outline-color:transparent;
  color:var(--ui-select-font-color);
  background-color:var(--ui-select-background-color);
  overflow:hidden;}

ui-select[ui]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,outline-color,color;}

@media (hover:hover){
  ui-select:hover:not([disabled]){
    background-color:var(--ui-select-background-color-hover);}
}

ui-select[expanded]:not([disabled]){
  color:var(--ui-color-white);
  background-color:var(--ui-select-background-color-hover);}

ui-select:focus-visible:not([disabled]){
  outline-color:var(--ui-select-outline-color);}

ui-select [data-ui="select-text"]{
  flex-grow:1;
  padding-inline-end:6px;
  font-size:var(--ui-select-font-size);
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;}

ui-select [data-ui="select-icon-expand"] ui-icon{
  width:var(--ui-select-icon-size);
  transition-duration:var(--ui-transition-duration);
  transition-property:transform;}

ui-select[aria-expanded="true"] [data-ui="select-icon-expand"] ui-icon{
  transform:rotate(180deg);}

/* color */
ui-select[color="default"]{
  --ui-select-background-color:var(--ui-color-gray-800);
  --ui-select-background-color-hover:var(--ui-color-gray-750);
  --ui-select-background-color-active:var(--ui-color-gray-700);
  --ui-select-font-color:var(--ui-color-white);
  --ui-select-outline-color:var(--ui-color-gray-500);}

/* size */
ui-select[size="default"]{
  --ui-select-height:32px;
  --ui-select-padding-inline:16px;
  --ui-select-column-gap:6px;
  --ui-select-icon-size:20px;
  --ui-select-font-size:14px;}