ui-button{
  display:inline-flex;
  justify-content:center;
  align-items:center;
  vertical-align:middle;
  height:var(--ui-object-height);
  padding-inline:calc(var(--ui-object-height) / 4);
  column-gap:calc(var(--ui-object-height) / 4 - 2px);
  border:none;
  border-radius:var(--ui-border-radius);
  color:var(--rgb-175-175-175);
  background-color:var(--rgb-30-30-30);
  line-height:1;
  cursor:pointer;
  overflow:hidden;}

ui-button[animated]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,color;}

@media (hover:hover){
  ui-button:hover:not([disabled]){
    background-color:var(--rgb-40-40-40);
    color:var(--rgb-225-225-225);}
}

ui-button:active:not([disabled]){
  background-color:var(--rgb-50-50-50);}

ui-button[label] > span{
  text-align:center;
  font-size:clamp(
    var(--ui-font-size-x-small),
    calc(var(--ui-object-height) / 2),
    var(--ui-font-size-large)
  );
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;}

ui-button > ui-icon{
  width:fit-content;
  height:clamp(12px,calc(var(--ui-object-height) / 2),20px);}