ui-button{
  --ui-button-border-radius:var(--ui-border-radius-default);
  --ui-button-size:var(--ui-size-default);
  --ui-button-line-height:var(--ui-line-height-x-small);
  --ui-button-font-size:var(--ui-font-size-default);
  --ui-button-padding-inline:16px;
  --ui-button-column-gap:12px;
  --ui-button-icon-height:16px;
  --ui-button-icon-width:16px;
  --ui-button-icon-margin-inline:-2px;
  --ui-button-spinner-icon-height:20px;
  --ui-button-spinner-icon-width:20px;
  --ui-button-spinner-surface-color:var(--ui-surface-color-active);
  --ui-button-content-color-default:var(--ui-content-color-default);
  --ui-button-content-color-hover:var(--ui-content-color-hover);
  --ui-button-content-color-focus:var(--ui-content-color-focus);
  --ui-button-content-color-active:var(--ui-content-color-active);
  --ui-button-surface-color-default:var(--ui-surface-color-default);
  --ui-button-surface-color-hover:var(--ui-surface-color-hover);
  --ui-button-surface-color-focus:var(--ui-surface-color-focus);
  --ui-button-surface-color-active:var(--ui-surface-color-active);

  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  vertical-align:middle;
  height:var(--ui-button-size);
  line-height:var(--ui-button-line-height);
  border-radius:var(--ui-button-border-radius);
  padding-inline:var(--ui-button-padding-inline);
  column-gap:var(--ui-button-column-gap);
  font-size:var(--ui-button-font-size);
  color:var(--ui-button-content-color-default);
  background-color:var(--ui-button-surface-color-default);

  &[icon-only]{
    padding-inline:0;
    width:var(--ui-button-size);}

  &[ui]{
    transition-duration:var(--ui-transition-duration-x-fast);
    transition-property:background-color,outline-color,color;}

  @media (hover: hover){
    &:hover:not([disabled]){
      color:var(--ui-button-content-color-hover);
      background-color:var(--ui-button-surface-color-hover);}
  }

  &:focus-visible:not([disabled]){
    color:var(--ui-button-content-color-focus);
    background-color:var(--ui-button-surface-color-focus);}

  &:active:not([disabled]){
    color:var(--ui-button-content-color-active);
    background-color:var(--ui-button-surface-color-active);}

  & > ui-icon{
    --ui-icon-height:var(--ui-button-icon-height);
    --ui-icon-width:var(--ui-button-icon-width);
    margin-inline:var(--ui-button-icon-margin-inline);}

  /* spinner */
  & > ui-spinner{
    --ui-spinner-icon-height:var(--ui-button-spinner-icon-height);
    --ui-spinner-icon-width:var(--ui-button-spinner-icon-width);
    position:absolute;
    border-radius:inherit;
    inset:0;
    background-color:var(--ui-button-spinner-surface-color);}

  /* shape */
  &[shape="rounded"]{--ui-button-border-radius:var(--ui-border-radius-rounded);}
  &[shape="square"]{--ui-button-border-radius:var(--ui-border-radius-square);}
  &[shape="pill"]{--ui-button-border-radius:var(--ui-border-radius-pill);}
  &[shape="circle"]{--ui-button-border-radius:var(--ui-border-radius-circle);}
}