ui-button{
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  justify-content:center;
  height:var(--ui-object-height);
  column-gap:calc(var(--ui-object-height) / 4);
  border:none;
  border-radius:calc(var(--ui-object-height) / 4);
  outline-offset:2px;
  outline-width:2px;
  outline-style:solid;
  outline-color:transparent;
  color:var(--rgb-175-175-175);
  background-color:rgb(25,25,25);
  text-align:center;
  cursor:pointer;
  overflow:hidden;}

ui-button[animated]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,outline-color,color;}

@media (hover:hover){
  ui-button:hover:not([disabled]){
    background-color:var(--rgb-40-40-40);
    color:var(--ui-color-white);}
}

ui-button:focus-visible:not([disabled]){
  outline-color:var(--rgb-100-100-100);}

ui-button:active:not([disabled]),
ui-button[active]:not([disabled]){
  background-color:var(--rgb-50-50-50);}

ui-button[label] > span{
  font-size:clamp(
    var(--ui-font-size-x-small),
    calc(var(--ui-object-height) / 2 - 2px),
    var(--ui-font-size-medium)
  );
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;}

ui-button[label]{
  padding-inline:calc(var(--ui-object-height) / 2);}

ui-button:not([label]){
  padding-inline:calc(var(--ui-object-height) / 4);}

ui-button > ui-icon{
  flex-grow:0!important;
  width:fit-content;
  height:clamp(
    12px,
    calc(var(--ui-object-height) / 2),
    20px
  );}