ui-breadcrumb{
  --ui-breadcrumb-font-size:var(--ui-font-size-default);
  --ui-breadcrumb-icon-size:16px;
  --ui-breadcrumb-separator-size:20px;
  --ui-breadcrumb-font-color:var(--ui-color-gray-150);
  --ui-breadcrumb-font-color-hover:var(--ui-color-white);

  font-size:var(--ui-breadcrumb-font-size);

  & [role="list"]{
    display:flex;
    list-style:none;
    padding:0;
    margin:0;
  }

  & [role="listitem"]{
    display:flex;
    white-space:nowrap;
    align-items:center;

    & > a{
      color:var(--ui-breadcrumb-font-color);
      text-decoration:none;
      transition-duration:var(--ui-transition-duration);
      transition-property:color;
    }

    @media (hover: hover){
      & > a:hover{color:var(--ui-breadcrumb-font-color-hover);}
    }
  }

  & ui-icon[role="presentation"]{
    width:var(--ui-breadcrumb-separator-size);
    height:100%;
    margin-inline:4px;
  }

  & ui-icon:not([role="presentation"]){
    width:var(--ui-breadcrumb-icon-size);
    height:100%;
    margin-top:-3px;
    margin-inline-start:-2px;
    margin-inline-end:6px;
  }
}