ui-input{
  --input-size:var(--control-action-medium);
  --input-width:100%;

  --input-border-radius:calc(var(--input-size) / 4);
  --input-padding-inline:calc(var(--input-size) / 4);

  --input-font-size:var(--control-action-font-size-medium);

  position:relative;
  height:var(--input-size);
  border-radius:var(--input-border-radius);

  & > input{
    appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;

    height:inherit;
    padding-inline:var(--input-padding-inline);
    font-family:var(--font-family-default);
    font-size:var(--input-font-size);
    color:var(--input-font-color);
    background-color:transparent;

    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--border-color);

    outline-width:var(--outline-focus-width);
    outline-style:var(--outline-focus-style);
    outline-offset:var(--outline-focus-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:outline-color;

    &:focus-visible{
      outline-color:var(--outline-focus-color);
    }
  }

  & input::placeholder{
    color:var(--text-color-secondary);
  }

  & input[disabled],
  & input[disabled]::placeholder{
    color:var(--input-disabled-color);
  }

  &[clearable] > input{
    padding-inline-end:0;
  }

  & > ui-icon{
    height:100%;
    width:var(--input-icon-size);
    color:var(--input-svg-color);
    padding:var(--input-icon-padding);
    cursor:pointer;
    pointer-events:all!important;
  }


  @media (hover:hover){
    &:hover:not([disabled]){
      outline-color:var(--input-outline-color);
    }

    & > ui-icon:hover{
      color:var(--color-input-icons-active);
    }
  }

  &:focus-within:not([disabled]){
    outline-color:var(--input-outline-color);
  }

  /* size */
  &[data-size="small"]{
    --input-size:var(--control-action-small);
    --input-font-size:var(--control-action-font-size-small);
  }

  &[data-size="medium"]{
    --input-size:var(--control-action-medium);
    --input-font-size:var(--control-action-font-size-medium);
  }

  &[data-size="large"]{
    --input-size:var(--control-action-large);
    --input-font-size:var(--control-action-font-size-large);
  }
}