ui-input{
  --input-border-radius:var(--border-radius-default);
  --input-height:var(--control-height-default);

  --input-background-color:var(--surface-color-tertiary);

  --input-width:auto;
  --input-font-size:14px;
  --input-icon-size:28px;
  --input-icon-padding:4px;
  --input-padding-inline:12px;

  --input-border-color:var(--border-color);
  --input-border-color-hover:var(--color-gray-100);

  --input-outline-color:var(--color-gray-500);
  --input-font-color:var(--text-color-default);
  --input-svg-color:var(--color-gray-400);
  --input-placeholder-color:var(--color-gray-500);
  --input-disabled-color:var(--color-gray-300);

  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:var(--input-height);
  border-radius:var(--input-border-radius);
  background-color:var(--input-background-color);


  &::after{
    content:'';
    position:absolute;
    inset:0;
    pointer-events:none;
    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--input-border-color);
  }

  & > input{
    border:none;
    border-radius:inherit;
    padding:0;
    height:100%;
    padding-inline:var(--input-padding-inline);
    color:var(--input-font-color);
    background-color:transparent;
    transition-duration:var(--transition-duration-default);
    transition-property:outline-color;
  }

  & input::placeholder{
    color:var(--text-color-secondary);
  }

  & input[disabled],
  & input[disabled]::placeholder{
    color:var(--input-disabled-color);
  }

  &[clearable] > input{
    padding-inline-end:0;
  }

  & > ui-icon{
    height:100%;
    width:var(--input-icon-size);
    color:var(--input-svg-color);
    padding:var(--input-icon-padding);
    cursor:pointer;
    pointer-events:all!important;
  }


  @media (hover:hover){
    &:hover:not([disabled]){
      outline-color:var(--input-outline-color);
    }

    & > ui-icon:hover{
      color:var(--color-input-icons-active);
    }
  }

  &:focus-within:not([disabled]){
    outline-color:var(--input-outline-color);
  }

  /* shape */
  &[shape="rounded"]{
    --input-border-radius:var(--border-radius-rounded);
  }

  &[shape="square"]{
    --input-border-radius:var(--border-radius-none);
  }

  &[shape="pill"]{
    --input-border-radius:var(--border-radius-full);
  }
}