ui-input{
  --ui-input-border-radius:var(--ui-border-radius-default);
  --ui-input-height:var(--ui-control-height-default);


  --ui-input-background-color:var(--ui-color-gray-800);


  --ui-input-width:auto;
  --ui-input-font-size:14px;
  --ui-input-icon-size:28px;
  --ui-input-icon-padding:4px;
  --ui-input-padding-inline:12px;
  --ui-input-border-color:var(--ui-color-gray-500);
  --ui-input-border-color-hover:var(--ui-color-gray-100);
  --ui-input-outline-color:var(--ui-color-gray-500);
  --ui-input-font-color:var(--ui-color-white);
  --ui-input-svg-color:var(--ui-color-gray-400);
  --ui-input-placeholder-color:var(--ui-color-gray-500);
  --ui-input-disabled-color:var(--ui-color-gray-300);

  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:var(--ui-input-height);
  border-radius:var(--ui-input-border-radius);
  background-color:var(--ui-input-background-color);
  transition-property:outline-color;

  &::before{
    content:'';
    position:absolute;
    inset:0;
    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--ui-input-border-color);
    pointer-events:none;
  }

  & input{
    direction:inherit;
    border:none;
    outline:none;
    padding:0;
    height:100%;
    font-size:var(--ui-input-font-size);
    padding-inline:var(--ui-input-padding-inline);
    color:var(--ui-input-font-color);
    background-color:transparent;
  }

  & input::placeholder{
    color:var(--ui-input-placeholder-color);
  }

  &[disabled] input,
  &[disabled] input::placeholder{
    color:var(--ui-input-disabled-color);
  }

  &[clearable] > input{
    padding-inline-end:0;
  }

  & > ui-icon{
    display:block;
    height:100%;
    width:var(--ui-input-icon-size);
    color:var(--ui-input-svg-color);
    padding:var(--ui-input-icon-padding);
    cursor:pointer;
    pointer-events:all!important;
  }


  @media (hover:hover){
    &:hover:not([disabled]){
      outline-color:var(--ui-input-outline-color);
    }

    & > ui-icon:hover{
      color:var(--ui-color-input-icons-active);
    }
  }

  &:focus-within:not([disabled]){
    outline-color:var(--ui-input-outline-color);
  }

  /* shape */
  &[shape="rounded"]{--ui-input-border-radius:var(--ui-border-radius-rounded);}
  &[shape="square"]{--ui-input-border-radius:var(--ui-border-radius-square);}
  &[shape="pill"]{--ui-input-border-radius:var(--ui-border-radius-pill);}
}