ui-icon{
  --ui-icon-height:auto;
  --ui-icon-width:auto;

  display:inline-flex;
  align-items:center;
  justify-content:center;
  vertical-align:middle;
  flex-shrink:0;
  height:var(--ui-icon-height);
  width:var(--ui-icon-width);

  & > svg{
    display:block;
    fill:currentColor;
    stroke:currentColor;
    pointer-events:none;
    shape-rendering:geometricPrecision;
  }
}