<section class="intro">
  <h1>Icon</h1>
  <p>A component for displaying an icon.</p>
</section>

<section class="details">
  <h2>Features</h2>
  <p>The SVG uses currentColor.</p>
</section>

<section class="details">
  <h2>Attributes</h2>
  <p>name - reactive (required). Specifies the name of the icon to display.</p>
</section>

<section class="content">
  <div class="content-item">
    <div>Icon</div>
    <div class="example">
      <div class="preview">
        <ui-icon name="home" id="t"></ui-icon>
        <ui-button onclick="changeIconName()">Reactivity Test</ui-button>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-icon name="home"&gt;&lt;/ui-icon&gt;
</code></pre>

      </div>
    </div>
  </div>
</section>

<script>
  function changeIconAttribute(attribute,values){
    const iconBlock = document.querySelector('ui-icon:first-child');
    if(!iconBlock) return;

    const currentValue = iconBlock.getAttribute(attribute);
    const currentIndex = values.indexOf(currentValue);
    const nextIndex = (currentIndex + 1) % values.length;
    const nextValue = values[nextIndex];

    iconBlock.setAttribute(attribute,nextValue);
  }

  function changeIconName(){
    changeIconAttribute('name',['search','article','settings']);}
</script>