body{
  background-color:var(--bg-base);
  color:var(--fg-base);
}

ui-root{
  position:relative;
}

ui-layout{
  max-width:1920px;
  margin-inline:auto;
}

ui-main{
  position:relative;
  display:flex;
  flex-direction:column;
  width:100%;
  padding-inline:20px;
}

header{
  position:sticky;
  display:flex;
  align-items:center;
  top:0;
  left:0;
  right:0;
  z-index:1;
  padding-block:10px;
  background-color:var(--bg-base);
  border-bottom:1px solid var(--line-color);
}

footer{
  background-color:var(--bg-base);
}

/* nav */
ui-sidebar{
  position:sticky;
  display:flex;
  flex-direction:column;
  flex-shrink:0;
  row-gap:20px;
  top:0;
  overflow-y:scroll; 
  overflow-x:hidden;
  overscroll-behavior:contain;
  height:100svh;
  width:260px;
  padding-block:20px;
  padding-inline:20px;
}

nav{
  position:relative;
  display:flex;
  flex-direction:column;
  flex-grow:1;
}

nav > ul{
  position:relative;
  display:flex;
  flex-direction:column;
  list-style:none;
  margin:0;
  padding:0;
  row-gap:20px;
}

nav .static{
  display:flex;
  align-items:center;
  height:60px;
  min-height:60px;
}

nav .menu-title{
  padding-bottom:6px;
}

nav ui-button.menu-item:active > button,
nav ui-button.menu-item.active > button{
  --button-color:var(--control-color-default);
}

nav .menu-item button{
  width:100%;
}


/* main */
main{
  position:relative;

  & > article{
    display:flex;
    flex-direction:column;
    row-gap:50px;
    padding-block:30px;

    & > :first-child > h1 + p{
      color:var(--fg-muted);
    }
  }
}


.visual-block{
  background-color:var(--surface-bg);
}


/* content */
.content,
.content > .content-item{
  display:flex;
  flex-direction:column;
}

.content{
  row-gap:50px;
}

.content > .content-item{
  row-gap:10px;
}

.example{
  overflow:hidden;
  border:1px solid var(--line-color);
  border-radius:var(--border-radius-default);

  & > :is(.example-preview,.example-code){
    position:relative;
    max-width:100%;
    padding:20px;
  }

  & > .example-preview{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:20px;
    border-bottom:1px solid var(--line-color);
    overflow-x:auto;
  }
}


/* icons */
.content-item > .icons{
  display:inline-flex;
  gap:20px;
  flex-wrap:wrap;
  padding:0;
}

.content-item > .icons > .icon-card{
  display:flex;
  flex-direction:column;
  line-height:1;
  min-width:140px;
  row-gap:12px;
  padding:12px 10px 10px;
  align-items:center;
  background-color:var(--surface-bg);
  border-radius:var(--border-radius-default);


  & > :not(ui-icon){
    font-size:var(--font-size-small);
    color:var(--fg-muted);
  }
}