a{
  text-decoration-line:underline;
  text-decoration-style:dashed;
  text-underline-offset:0.2rem;
  text-decoration-thickness:1px;
  color:var(--link-color);
  transition-duration:var(--duration-default);
  transition-property:outline-color,color;

  @media (hover: hover){
    &:hover{color:var(--link-color-hover);}
  }

  &:active{color:var(--link-color-active);}
}