a{
  text-decoration-line:var(--decoration-line);
  text-decoration-style:var(--decoration-style);
  text-decoration-thickness:var(--decoration-thickness);
  text-underline-offset:var(--underline-offset);
  cursor:var(--cursor-interactive);
  color:var(--link-color);

  outline-width:var(--outline-focus-width);
  outline-style:var(--outline-focus-style);
  outline-offset:var(--outline-focus-offset);
  outline-color:transparent;

  transition-duration:var(--duration-default);
  transition-property:outline-color,color;

  @media (hover: hover){
    &:hover{color:var(--link-color-hover);}
  }

  &:active{color:var(--link-color-active);}

  &:focus-visible{
    outline-color:var(--outline-focus-color);
  }

  &[href]{
    touch-action:manipulation;
    -webkit-tap-highlight-color:transparent;
  }
}