ui-tabs{
  --tabs-border-radius:var(--radius-md);
  --tabs-gap:10px;

  --tabs-tab-padding-inline:20px;
  --tabs-tab-padding-block:12px;
  --tabs-tab-bg:var(--surface-bg);
  --tabs-tab-surface-color-hover:var(--surface-color-hover);
  --tabs-tab-surface-color-active:var(--surface-color-active);

  --tabs-tabpanel-padding-inline:20px;
  --tabs-tabpanel-padding-block:16px;

  --tabs-tab-fg:var(--content-color-default);
  --tabs-tabpanel-bg:var(--surface-bg);
  --tabs-tabpanel-fg:var(--content-color-default);

  position:relative;
  display:flex;
  flex-direction:column;
  width:100%;
  gap:var(--tabs-gap);

  &[orientation="vertical"]{
    flex-direction:row;
  }

  /* tablist */
  & > [role="tablist"]{
    display:flex;
    flex-wrap:wrap;
    gap:var(--tabs-gap);
  }

  &[orientation="vertical"] > [role="tablist"]{
    flex-direction:column;
    flex-shrink:0;
  }

  /* tab */
  & > [role="tablist"] > button[role="tab"]{
    --button-bg:var(--tabs-tab-bg);
    border-radius:var(--tabs-border-radius);
    padding-inline:var(--tabs-tab-padding-inline);
    padding-block:var(--tabs-tab-padding-block);
    color:var(--tabs-tab-content-color-default);
    font-family:var(--font-family-default);
    font-size:var(--button-font-size);

    @media (hover: hover){
      &:not([data-selected],:disabled):hover{
        background-color:var(--tabs-tab-surface-color-hover);
      }
    }

    &:not([data-selected],:disabled):active{
      background-color:var(--tabs-tab-surface-color-active);
    }
  }

  /* tabpanel */
  & > [role="tabpanel"]{
    height:fit-content;
    border-radius:var(--tabs-border-radius);
    padding-inline:var(--tabs-tabpanel-padding-inline);
    padding-block:var(--tabs-tabpanel-padding-block);
    color:var(--tabs-tabpanel-content-color);
    background-color:var(--tabs-tabpanel-bg);

    & > :is(ul,ol,p):first-child{margin-top:0;}
    & > :is(ul,ol,p):last-child{margin-bottom:0;}
    & > :is(ul,ol){padding-inline-start:20px;}
  }

  &[orientation="vertical"] > [role="tabpanel"]{
    flex-grow:1;
  }
}