body{
  color:var(--theme-text-color);
  background-color:var(--theme-background-color);
}

::-webkit-scrollbar-thumb{
  background-color:var(--ui-scrollbar-color);
}

a{
  color:var(--theme-link-color);
  transition-property:color;
  transition-duration:var(--ui-duration);
}
a:hover{color:var(--theme-link-color-hover);}

header{
  position:sticky;
  display:flex;
  align-items:center;
  top:0;
  left:0;
  right:0;
  z-index:1;
  padding-block:10px;
  background-color:var(--theme-background-color);
  border-bottom:1px solid var(--theme-border-color);
}



/* nav */
ui-sidebar{
  position:sticky;
  display:flex;
  flex-direction:column;
  flex-shrink:0;
  row-gap:20px;
  top:0;
  overflow-y:scroll; 
  overflow-x:hidden;
  overscroll-behavior:contain;
  height:100svh;
  width:260px;
  padding-block:20px;
  padding-inline:20px;
}

nav{
  position:relative;
  display:flex;
  flex-direction:column;
  flex-grow:1;
}

nav > ul{
  position:relative;
  display:flex;
  flex-direction:column;
  list-style:none;
  margin:0;
  padding:0;
  row-gap:20px;
}

nav .static{
  display:flex;
  align-items:center;
  height:60px;
  min-height:60px;
}

nav .menu-title{
  padding-bottom:6px;
}

nav .menu-item{
  display:block;
  cursor:pointer;
  color:var(--theme-link-color);
}

nav .menu-item span{
  display:flex;
  align-items:center;
  column-gap:10px;
  padding:5px 10px;
  border-radius:var(--ui-border-radius-rounded);
  transition-duration:var(--ui-duration);
  transition-property:background-color,color;
}

@media (hover:hover){
  nav .menu-item span:hover{
    color:var(--theme-link-color-hover);
    background-color:var(--theme-surface-color);
  }
}

nav .menu-item span.active{
  color:var(--theme-link-color-active);
  background-color:var(--theme-surface-secondary-color);
}

/* main */
main{
  position:relative;

  & > article{
    display:flex;
    flex-direction:column;
    row-gap:50px;
    padding-block:30px;

    & > :first-child > h1 + p{
      color:var(--theme-text-secondary-color);
    }
  }
}


/* content */
.content,
.content > .content-item{
  display:flex;
  flex-direction:column;
}

.content{
  row-gap:50px;
}

.content > .content-item{
  row-gap:10px;
}

.content-item > .example{
  overflow:hidden;
  border:1px solid var(--theme-border-color);
  border-radius:var(--ui-border-radius-rounded);
}

.content-item > .example > .preview,
.content-item > .example > .code,
.content-item > .example > .toolbar{
  position:relative;
  max-width:100%;
}

.content-item > .example > .preview{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  overflow-x:auto;
}

.content-item > .example > .preview,
.content-item > .example > .code{
  padding:20px;
}

.content-item > .example > .code{
  line-height:var(--ui-line-height-normal);
}

.content-item > .example > .code code{
  white-space:pre-wrap;
  word-break:break-word;
}

.content-item > .example > .preview,
.content-item > .example > .toolbar{
  border-bottom:1px solid var(--theme-border-color);
}

.content-item > .example > .toolbar{
  display:flex;
  align-items:center;
  padding:10px 15px;
  gap:10px;
}

.content-item > .example > .toolbar span{
  line-height:1;
  vertical-align:middle;
}


/* icons */
.content-item > .icons{
  display:inline-flex;
  gap:20px;
  border:none;
  flex-wrap:wrap;
  padding:0;
}

.content-item > .icons > .icon-card{
  display:flex;
  min-width:140px;
  row-gap:12px;
  flex-direction:column;
  align-items:center;
  padding:12px 10px 10px;
  background-color:var(--theme-surface-color);
  border-radius:8px;
  line-height:1;
}

.content-item > .icons > .icon-card > .icon-name{
  color:var(--theme-text-secondary-color);
}