ui-textarea{
  --textarea-height:auto;
  --textarea-width:100%;
  --textarea-radius:var(--radius-md);
  --textarea-padding:0.5rem 0.75rem;

  --textarea-bg-color:var(--variant-bg-color,var(--field-bg-color));
  --textarea-fg-color:var(--variant-fg-color,var(--field-fg-color));
  --textarea-border-color:var(--variant-border-color,var(--border-color-emphasis));

  position:relative;
  width:var(--textarea-width);
  border-radius:var(--textarea-radius);

  &[disabled]{
    --textarea-bg-color:var(--bg-color-disabled);
    --textarea-fg-color:var(--fg-color-disabled);
    --textarea-border-color:var(--border-color-disabled);
  }


  :host([resize='none']) textarea {
    resize: none;
  }

  textarea,
  :host([resize='vertical']) textarea {
    resize: vertical;
  }



  :host([resize='both']) textarea {
    resize: both;
  }

  :host([resize='auto']) textarea {
    grid-area: 1 / 1;
    height: 100%;
    resize: none;
    overflow-y: hidden;
  }



  &[resize="auto"]{
    display:grid;
  }

  &[resize="auto"] .adjuster{
    display:block;
    grid-area:1 / 1;

    visibility:hidden;
    white-space:pre-wrap;
    word-break:break-word;

    pointer-events:none;
  }

  &[resize="auto"] textarea{
    resize:none;
    overflow-y:hidden;
    height:100%;
  }

  &[resize="vertical"] textarea{
    resize:vertical;
  }

  &[resize='horizontal'] textarea{
    resize:horizontal;
  }

  & > textarea{
    margin:0;
    padding:0;
    border:none;
    background:none;

    min-height:4rem;
    width:var(--textarea-width);
    padding-block:var(--textarea-padding);
    padding-inline:var(--textarea-padding);

    font-family:var(--font-family-default);
    font-size:var(--textarea-font-size);
    color:var(--textarea-fg-color);
    background-color:var(--textarea-bg-color);

    border-radius:var(--textarea-radius);
    border-width:var(--control-border-width);
    border-style:var(--control-border-style);
    border-color:var(--textarea-border-color);

    outline-width:var(--focus-ring-width);
    outline-style:var(--focus-ring-style);
    outline-offset:var(--focus-ring-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:outline-color;

    &:disabled{
      cursor:var(--cursor-disabled);
    }

    &::placeholder{
      color:var(--placeholder-color);
    }

    &:focus-visible{
      outline-color:var(--focus-ring-color);
    }

    @media (hover: hover){
      &:not(:disabled):hover{

      }
    }
  }

  &[radius="none"]{--textarea-radius:var(--radius-none);}
}