:root[data-theme='dark']{
  /* background */
  --theme-background-color:var(--ui-color-neutral-10);

  /* surface */
  --theme-surface-color:var(--ui-color-neutral-15);
  --theme-surface-secondary-color:var(--ui-color-neutral-20);

  /* scrollbar */
  --theme-scrollbar-color:var(--ui-color-neutral-35);

  /* heading */
  --theme-heading-text-color:var(--ui-color-white);

  /* text */
  --theme-text-color:var(--ui-color-neutral-95);

  /* text secondary */
  --theme-text-secondary-color:var(--ui-color-neutral-70);

  /* link */
  --theme-link-color:var(--ui-color-neutral-80);
  --theme-link-color-hover:var(--ui-color-neutral-95);
  --theme-link-color-active:var(--ui-color-neutral-95);

  /* border */
  --theme-border-color:var(--ui-color-neutral-25);
}