:where(:root[data-color-mode="dark"]){
  color-scheme:dark;
  /* background */
  --surface-color-default:var(--neutral-1);
  --surface-color-inverse:var(--neutral-12);
  --surface-color-contrast:var(--black);


  --bg-color-default:var(--neutral-1);
  --bg-color-subtle:var(--neutral-2);
  --bg-color-inverse:var(--neutral-12);
  --bg-color-contrast:var(--black);

  /* foreground */
  --fg-color-default:var(--neutral-12);
  --fg-color-subtle:var(--neutral-8);
  --fg-color-inverse:var(--neutral-1);
  --fg-color-contrast:var(--white);

  /* surface */
  --surface-color-default:var(--neutral-7);
  --surface-color-subtle:var(--neutral-3);

  /* border */
  --border-color-default:var(--neutral-8);
  --border-color-subtle:var(--neutral-5);

  /* disabled */
  --bg-color-disabled:var(--neutral-4);
  --fg-color-disabled:var(--neutral-6);
  --border-color-disabled:var(--neutral-6);

  --selection-color:oklch(from var(--fg-color-default) l c h / 0.1);
  --overlay-color:oklch(from var(--bg-color-default) l c h / 0.6);

  /* control */
  --control-fg-color-default:var(--white);
  --control-fg-color-subtle:var(--neutral-9);
  --control-border-color:var(--neutral-6);

  /* radio | checkbox | switch */
  --choice-bg-color:var(--neutral-4);
  --choice-bg-color-checked:var(--accent-7);

  /* input | textarea */
  --field-bg-color:var(--neutral-2);
  --field-fg-color:var(--fg-color-default);
  --placeholder-color:var(--fg-color-subtle);

  --indicator-color:var(--white);
  --focus-ring-color:var(--accent-6);
  --scrollbar-color:var(--neutral-6);
}