ui-button{
  --button-height:var(--control-height-default);

  position:relative;
  line-height:0;
  height:var(--button-height, var(--control-height-default));
  border-radius:var(--button-border-radius, var(--border-radius-rounded-default));

  & > button{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align:middle;
    border-radius:inherit;
    height:inherit;
    line-height:1;
    padding-inline:var(--button-padding-inline, var(--control-padding-inline-default));
    column-gap:calc(var(--button-height) / 6);
    font-size:var(--button-font-size);

    color:var(--button-text-color, var(--text-color-default));
    background-color:var(--button-color, var(--surface-color-default));
    transition-property:background-color,outline-color;
  }

  @media (hover: hover){
    & > button:hover:not([disabled]){
      background-color:var(--button-color-hover, var(--surface-color-hover));
    }
  }

  & > button:active:not([disabled]){
    background-color:var(--button-color-active, var(--surface-color-active));
  }

  & > button > ui-icon{
    --icon-height:var(--icon-size-default);
    --icon-width:var(--icon-size-default);
  }

  /* spinner */
  & > ui-spinner{
    position:absolute;
    inset:0;
    border-radius:inherit;
    background-color:var(--button-color, var(--surface-color-default));
  }

  /* shape */
  &[shape="pill"],
  &[shape="circle"]{
    --button-border-radius:var(--border-radius-full);
  }

  &[shape="circle"] > button,
  &[shape="square"] > button{
    aspect-ratio:1;
    --button-padding-inline:0;
  }

  /* size */
  &[size="x-small"]{
    --button-height:var(--control-height-x-small);
    --button-font-size:var(--font-size-x-small);
    --button-padding-inline:var(--control-padding-inline-x-small);
    --button-border-radius:var(--border-radius-rounded-x-small);
  }

  &[size="x-small"] > button > ui-icon{
    --icon-height:var(--icon-x-small);
    --icon-width:var(--icon-x-small);
  }

  &[size="small"]{
    --button-height:var(--control-height-small);
    --button-font-size:var(--font-size-small);
    --button-padding-inline:var(--control-padding-inline-small);
    --button-border-radius:var(--border-radius-rounded-small);
  }

  &[size="small"] > button > ui-icon{
    --icon-height:var(--icon-small);
    --icon-width:var(--icon-small);
  }

  &[size="medium"]{
    --button-height:var(--control-height-medium);
    --button-font-size:var(--font-size-normal);
    --button-padding-inline:var(--control-padding-inline-medium);
    --button-border-radius:var(--border-radius-rounded-medium);
  }

  &[size="medium"] > button > ui-icon{
    --icon-height:var(--icon-medium);
    --icon-width:var(--icon-medium);
  }

  &[size="large"]{
    --button-height:var(--control-height-large);
    --button-font-size:var(--font-size-large);
    --button-padding-inline:var(--control-padding-inline-large);
    --button-border-radius:var(--border-radius-rounded-large);
  }

  &[size="large"] > button > ui-icon{
    --icon-height:var(--icon-large);
    --icon-width:var(--icon-large);
  }

  &[size="x-large"]{
    --button-height:var(--control-height-x-large);
    --button-font-size:var(--font-size-x-large);
    --button-padding-inline:var(--control-padding-inline-x-large);
    --button-border-radius:var(--border-radius-rounded-x-large);
  }

  &[size="x-large"] > button > ui-icon{
    --icon-height:var(--icon-x-large);
    --icon-width:var(--icon-x-large);
  }

  /* variant */
  &[variant="ghost"] > button{
    --button-color:transparent;
  }
}