ui-button{
  position:relative;
  line-height:0;

  & > button{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align:middle;
    line-height:1;
    height:var(--button-height, var(--control-height-default));
    padding-inline:var(
      --button-padding-inline-shape,
      var(--button-padding-inline, var(--control-padding-inline-default))
    );
    border-radius:var(
      --button-border-radius-shape,
      var(--button-border-radius, var(--border-radius-rounded-default))
    );
    column-gap:var(--button-column-gap, 0.5rem);
    font-size:var(--button-font-size);

    color:var(--button-text-color, var(--text-color-default));
    background-color:var(--button-color, var(--surface-color-default));
    transition-property:background-color,outline-color;
  }

  @media (hover: hover){
    & > button:hover:not([disabled]){
      background-color:var(--button-color-hover, var(--surface-color-hover));
    }
  }

  & > button:active:not([disabled]){
    background-color:var(--button-color-active, var(--surface-color-active));
  }

  & > button > ui-icon {
    --icon-height: var(--button-icon-height, var(--control-icon-size-default));
    --icon-width: var(--button-icon-width, var(--control-icon-size-default));
  }

  & > button > ui-icon{
    margin-inline:-2px;
  }

  /* spinner */
  & > ui-spinner{
    position:absolute;
    inset:0;
    border-radius:var(
      --button-border-radius-shape,
      var(--button-border-radius, var(--border-radius-rounded-default))
    );
    background-color:var(--button-color, var(--surface-color-default));
  }

  & > ui-spinner > ui-icon {
    --icon-height:calc(var(--button-icon-height, var(--control-icon-size-default)) * 1.2);
    --icon-width:calc(var(--button-icon-width, var(--control-icon-size-default)) * 1.2);
  }

  /* shape */
  &[shape="pill"],
  &[shape="circle"]{
    --button-border-radius-shape:var(--border-radius-full);
  }

  &[shape="circle"],
  &[shape="square"]{
    --button-padding-inline-shape:0;
  }

  &[shape="circle"] > button,
  &[shape="square"] > button{
    aspect-ratio:1;
  }

  /* size */
  &[size="x-small"]{
    --button-height:var(--control-height-x-small);
    --button-font-size:var(--font-size-x-small);
    --button-padding-inline:var(--control-padding-inline-x-small);
    --button-border-radius:var(--border-radius-rounded-x-small);
    --button-column-gap:max(5px, 0.25rem);
    --button-icon-height:var(--control-icon-size-x-small);
    --button-icon-width:var(--control-icon-size-x-small);
  }

  &[size="small"]{
    --button-height:var(--control-height-small);
    --button-font-size:var(--font-size-small);
    --button-padding-inline:var(--control-padding-inline-small);
    --button-border-radius:var(--border-radius-rounded-small);
    --button-column-gap:0.375rem;
    --button-icon-height:var(--control-icon-size-small);
    --button-icon-width:var(--control-icon-size-small);
  }

  &[size="medium"]{
    --button-height:var(--control-height-medium);
    --button-font-size:var(--font-size-normal);
    --button-padding-inline:var(--control-padding-inline-medium);
    --button-border-radius:var(--border-radius-rounded-medium);
    --button-column-gap:0.5rem;
    --button-icon-height:var(--control-icon-size-medium);
    --button-icon-width:var(--control-icon-size-medium);
  }

  &[size="large"]{
    --button-height:var(--control-height-large);
    --button-font-size:var(--font-size-large);
    --button-padding-inline:var(--control-padding-inline-large);
    --button-border-radius:var(--border-radius-rounded-large);
    --button-column-gap:0.625rem;
    --button-icon-height:var(--control-icon-size-large);
    --button-icon-width:var(--control-icon-size-large);
  }

  &[size="x-large"]{
    --button-height:var(--control-height-x-large);
    --button-font-size:var(--font-size-x-large);
    --button-padding-inline:var(--control-padding-inline-x-large);
    --button-border-radius:var(--border-radius-rounded-x-large);
    --button-column-gap:0.75rem;
    --button-icon-height:var(--control-icon-size-x-large);
    --button-icon-width:var(--control-icon-size-x-large);
  }

  /* variant */
  &[variant="ghost"] > button{
    --button-color:transparent;
  }
}