ui-button{
  --button-height:var(--control-height-default);
  --button-width:fit-content;
  --button-border-radius:calc(var(--button-height) / 4);
  --button-font-size:var(--font-size-default);

  --button-padding-inline:calc(var(--button-height) / 2);
  --button-column-gap:clamp(
    0.3rem,
    calc(var(--button-height) / 3),
    0.75rem);

  --button-text-color:var(--text-color-default);
  --button-color:var(--surface-color-default);
  --button-color-hover:var(--surface-color-hover);
  --button-color-active:var(--surface-color-active);

  position:relative;

  & > button{
    position:relative;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align:middle;
    line-height:1;
    height:var(--button-height);
    width:var(--button-width);
    border-radius:var(--button-border-radius);
    padding-inline:var(--button-padding-inline);
    column-gap:var(--button-column-gap);
    font-size:var(--button-font-size);
    color:var(--button-text-color);
    background-color:var(--button-color);
    transition-property:background-color,outline-color,color;
  }

  &:not([busy]) > button[disabled]{
    cursor:not-allowed;
    opacity:0.5;
    pointer-events:auto;
  }

  &[busy]{
    cursor:wait;
  }

  @media (hover: hover){
    & > button:hover:not([disabled]){
      background-color:var(--button-color-hover);
    }
  }

  & > button:active:not([disabled]){
    background-color:var(--button-color-active);
  }

  & > ui-icon{
    margin-inline:calc(-1 * (var(--button-height) / 10));
  }


  & ui-icon{
    --icon-height:clamp(
    0.75rem,
    calc(var(--button-height) / 1.8),
    1.5rem);

    --icon-width:clamp(
    0.75rem,
    calc(var(--button-height) / 1.8),
    1.5rem);
  }

  /* spinner */
  & > ui-spinner{
    position:absolute;
    border-radius:var(--button-border-radius);
    inset:0;
    background-color:var(--button-color-active);
  }

  /* shape */
  &[shape="pill"] > button,
  &[shape="circle"] > button{
    --button-border-radius:var(--border-radius-full);
  }

  &[shape="circle"] > button,
  &[shape="square"] > button{
    aspect-ratio:1;
    padding-inline:0;
    padding-block:0;
  }

  /* size */
  &[size="small"] > button{
    --button-height:var(--control-height-small);
    --button-font-size:var(--font-size-small);
    --button-padding-inline:calc(var(--button-height) / 2);
  }

  &[size="medium"] > button{
    --button-height:var(--control-height-medium);
    --button-font-size:var(--font-size-medium);
    --button-padding-inline:calc(var(--button-height) / 2);
  }

  &[size="large"] > button{
    --button-height:var(--control-height-large);
    --button-font-size:var(--font-size-large);
    --button-padding-inline:calc(var(--button-height) / 2);
  }

  &[varian="ghost"] > button{
    --button-color:transparent;
  }
}