ui-button{
  --button-height:var(--control-height-default);
  --button-width:auto;
  --button-column-gap:calc(var(--button-height) / 4);
  --button-border-radius:calc(var(--button-height) / 4);
  --button-justify-content:center;

  direction:inherit;
  position:relative;
  line-height:0;
  user-select:none;
  width:var(--button-width);
  border-radius:var(--button-border-radius);

  &[busy]{
    cursor:wait;
  }

  & > button{
    position:relative;
    display:inline-flex;
    align-items:center;
    vertical-align:middle;
    line-height:1;
    appearance:none;
    cursor:pointer;
    touch-action:manipulation;
    border-radius:inherit;

    justify-content:var(--button-justify-content);
    height:var(--button-height);
    width:inherit;
    padding-inline:var(--button-padding-inline, var(--padding-default));
    column-gap:var(--button-column-gap);

    font-family:var(--font-family-default);
    font-size:var(--button-font-size);
    color:var(--control-fg-default);
    background-color:var(--button-bg, var(--control-bg-default));

    transition-duration:var(--transition-duration-default);
    transition-property:background-color,outline-color;

    outline-offset:var(--outline-offset);
    outline-width:var(--outline-width);
    outline-style:var(--outline-style);
    outline-color:transparent;

    &:focus-visible{
      outline-color:var(--outline-color);
    }
  }

  & > button[disabled]{
    cursor:not-allowed;
    opacity:0.5;
    pointer-events:auto;
  }

  @media (hover: hover){
    &:not([busy]) > button:not(:disabled):hover{
      background-color:var(--button-bg-hover, var(--control-bg-default-hover));
    }
  }

  &:not([busy]) > button:not(:disabled):active{
    background-color:var(--button-bg, var(--control-bg-default));
  }

  & > button > ui-icon {
    --icon-height:var(--button-icon-height, var(--icon-size-default));
    --icon-width:var(--button-icon-width, var(--button-icon-height));
  }

  & > button > ui-icon{
    margin-inline:-2px;
  }

  /* spinner */
  & > ui-spinner{
    position:absolute;
    inset:0;
    border-radius:inherit;
    background-color:var(--button-bg, var(--control-bg-default));
  }

  & > ui-spinner > ui-icon {
    --icon-height:calc(var(--button-icon-height, var(--icon-size-default)) * 1.2);
    --icon-width:calc(var(--button-icon-width, var(--icon-size-default)) * 1.2);
  }

  /* shape */
  &[shape="pill"],
  &[shape="circle"]{
    --button-border-radius:var(--border-radius-full);
  }

  &[shape="circle"] > button,
  &[shape="square"] > button{
    --button-padding-inline:0;
  }

  &[shape="circle"] > button,
  &[shape="square"] > button{
    aspect-ratio:1;
  }

  /* size */
  &[size="x-small"]{
    --button-height:var(--control-height-x-small);
    --button-font-size:var(--font-size-x-small);
    --button-padding-inline:var(--padding-x-small);
    --button-icon-height:var(--icon-size-x-small);
  }

  &[size="small"]{
    --button-height:var(--control-height-small);
    --button-font-size:var(--font-size-small);
    --button-padding-inline:var(--padding-small);
    --button-icon-height:var(--icon-size-small);
  }

  &[size="medium"]{
    --button-height:var(--control-height-medium);
    --button-font-size:var(--font-size-normal);
    --button-padding-inline:var(--padding-medium);
    --button-icon-height:var(--icon-size-medium);
  }

  &[size="large"]{
    --button-height:var(--control-height-large);
    --button-font-size:var(--font-size-large);
    --button-padding-inline:var(--padding-large);
    --button-icon-height:var(--icon-size-large);
  }

  &[size="x-large"]{
    --button-height:var(--control-height-x-large);
    --button-font-size:var(--font-size-x-large);
    --button-padding-inline:var(--padding-x-large);
    --button-icon-height:var(--icon-size-x-large);
  }

  /* color */
  &[color="blue"]{
    --button-bg:var(--control-bg-blue);
    --button-bg-hover:var(--control-bg-blue-hover);
  }

  &[color="green"]{
    --button-bg:var(--control-bg-green);
    --button-bg-hover:var(--control-bg-green-hover);
  }

  &[color="yellow"]{
    --button-bg:var(--control-bg-yellow);
    --button-bg-hover:var(--control-bg-yellow-hover);
  }

  &[color="red"]{
    --button-bg:var(--control-bg-red);
    --button-bg-hover:var(--control-bg-red-hover);
  }

  /* appearance */
  &[appearance="transparent"] > button{
    --button-bg:transparent;
    --button-bg-hover:transparent;
    --button-bg-active:transparent;
  }

  &[justify="start"]{
    --button-justify-content:flex-start;
  }

  &[justify="end"]{
    --button-justify-content:flex-end;
  }
}