ui-button{
  --button-height:var(--control-height-default);

  --button-text-color:var(--text-color-default);
  --button-color:var(--surface-color-default);
  --button-color-hover:var(--surface-color-hover);
  --button-color-active:var(--surface-color-active);

  position:relative;
  line-height:0;

  & > button{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align:middle;
    line-height:1;
    height:var(--button-height);
    padding-inline:var(--button-padding-inline, var(--control-padding-inline-default));
    border-radius:calc(var(--button-height) / 4);
    column-gap:calc(var(--button-height) / 6);
    font-size:var(--button-font-size);
    color:var(--button-text-color);
    background-color:var(--button-color);
    transition-property:background-color,outline-color;
  }

  @media (hover: hover){
    & > button:hover:not([disabled]){
      background-color:var(--button-color-hover);
    }
  }

  & > button:active:not([disabled]){
    background-color:var(--button-color-active);
  }

  & > button > ui-icon{
    --icon-height:var(--icon-size-default);
    --icon-width:var(--icon-size-default);
  }

  /* spinner */
  & > ui-spinner{
    position:absolute;
    inset:0;
    border-radius:var(--button-border-radius);
    background-color:var(--button-color-active);
  }

  /* shape */
  &[shape="pill"] > button,
  &[shape="circle"] > button{
    --button-border-radius:var(--border-radius-full);
  }

  &[shape="circle"] > button,
  &[shape="square"] > button{
    aspect-ratio:1;
    padding-inline:0;
  }

  /* size */
  &[size="x-small"] > button{
    --button-height:var(--control-height-x-small);
    --button-font-size:var(--font-size-x-small);
    --button-padding-inline:var(--control-padding-inline-x-small);
  }

  &[size="x-small"] > button > ui-icon{
    --icon-height:var(--icon-x-small);
    --icon-width:var(--icon-x-small);
  }

  &[size="small"] > button{
    --button-height:var(--control-height-small);
    --button-font-size:var(--font-size-small);
    --button-padding-inline:var(--control-padding-inline-small);
  }

  &[size="small"] > button > ui-icon{
    --icon-height:var(--icon-small);
    --icon-width:var(--icon-small);
  }

  &[size="medium"] > button{
    --button-height:var(--control-height-medium);
    --button-font-size:var(--font-size-normal);
    --button-padding-inline:var(--control-padding-inline-medium);
  }

  &[size="medium"] > button > ui-icon{
    --icon-height:var(--icon-medium);
    --icon-width:var(--icon-medium);
  }

  &[size="large"] > button{
    --button-height:var(--control-height-large);
    --button-font-size:var(--font-size-large);
    --button-padding-inline:var(--control-padding-inline-large);
  }

  &[size="large"] > button > ui-icon{
    --icon-height:var(--icon-large);
    --icon-width:var(--icon-large);
  }

  &[size="x-large"] > button{
    --button-height:var(--control-height-x-large);
    --button-font-size:var(--font-size-x-large);
    --button-padding-inline:var(--control-padding-inline-x-large);
  }

  &[size="x-large"] > button > ui-icon{
    --icon-height:var(--icon-x-large);
    --icon-width:var(--icon-x-large);
  }

  /* varian */
  &[varian="ghost"] > button{
    --button-color:transparent;
  }
}