button{
  --button-height:var(--control-action-medium);
  --button-width:auto;
  --button-padding-inline:calc(var(--button-height) / 2);
  --button-column-gap:calc(var(--button-height) / 4);
  --button-border-radius:calc(var(--button-height) / 4);
  --button-justify-content:center;
  --button-bg:var(--surface-bg-default);
  --button-font-family:var(--font-family-default);
  --button-font-size:var(--font-size-default);
  --button-fg:var(--surface-fg-default);
  --button-icon-height:round(calc(var(--button-font-size) * 1.25), 2px);
  --button-icon-width:auto;

  appearance:none;
  margin:0;
  padding:0;
  background:none;
  border:none;

  cursor:pointer;
  user-select:none;
  touch-action:manipulation;
  -webkit-tap-highlight-color:transparent;

  outline-width:var(--outline-focus-width);
  outline-style:var(--outline-focus-style);
  outline-offset:var(--outline-focus-offset);
  outline-color:transparent;

  position:relative;
  display:inline-flex;
  column-gap:var(--button-column-gap);
  align-items:center;
  vertical-align:top;
  justify-content:var(--button-justify-content);
  height:var(--button-height);
  width:var(--button-width);
  padding-inline:var(--button-padding-inline);
  border-radius:var(--button-border-radius);
  font-family:var(--button-font-family);
  font-size:var(--button-font-size);
  font-weight:var(--font-weight-medium);
  color:var(--button-fg);
  background-color:var(--button-bg);
  transition-duration:var(--duration-default);
  transition-property:background-color,outline-color;

  &:focus-visible{
    outline-color:var(--outline-focus-color);
  }

  @media (hover: hover){
    &:not(:disabled):hover{
      background-color:oklch(from var(--button-bg) calc(l + 0.04) c h);
    }
  }

  &:not(:disabled):active{
    background-color:oklch(from var(--button-bg) calc(l - 0.05) c h);
  }

  & > ui-icon{
    --icon-height:var(--button-icon-height);
    --icon-width:var(--button-icon-width, var(--button-icon-height));
    margin-inline:-2px;
  }

  &[data-icon]{
    --button-padding-inline:0;
    aspect-ratio:1;
  }

  /* size */
  &[data-size="small"]{
    --button-height:var(--control-action-small);
    --button-font-size:var(--control-action-font-size-small);
    --button-padding-inline:var(--padding-small);
  }

  &[data-size="medium"]{
    --button-height:var(--control-action-medium);
    --button-font-size:var(--control-action-font-size-medium);
    --button-padding-inline:var(--padding-medium);
  }

  &[data-size="large"]{
    --button-height:var(--control-action-large);
    --button-font-size:var(--control-action-font-size-large);
    --button-padding-inline:var(--padding-large);
  }

  /* color */
  &[data-color="neutral"]{
    --button-bg:var(--surface-bg-neutral);
  }

  &[data-color="blue"]{
    --button-bg:var(--surface-bg-blue);
  }

  &[data-color="green"]{
    --button-bg:var(--surface-bg-green);
  }

  &[data-color="yellow"]{
    --button-bg:var(--surface-bg-yellow);
  }

  &[data-color="red"]{
    --button-bg:var(--surface-bg-red);
  }

  /* variant */
  &[data-variant="invisible"]{
    background-color:transparent;
  }

  @media (hover: hover){
    &[data-variant="invisible"]:not(:disabled):hover{
      background-color:oklch(from var(--button-bg) calc(l + 0.04) c h / 0.2);
    }
  }

  &[data-variant="invisible"]:not(:disabled):active{
    background-color:oklch(from var(--button-bg) calc(l - 0.03) c h / 0.2);
  }

  &[data-variant="outline"]{
    background-color:transparent;
  }

  &[data-variant="outline"]::after{
    content:'';
    position:absolute;
    inset:0;
    pointer-events:none;
    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--button-bg, var(--surface-bg-default));
  }

  @media (hover: hover){
    &[data-variant="outline"]:not(:disabled):hover{
      background-color:oklch(from var(--button-bg) calc(l + 0.04) c h / 0.2);
    }
  }

  &[data-variant="outline"]:not(:disabled):active{
    background-color:oklch(from var(--button-bg) calc(l - 0.03) c h / 0.2);
  }

  &[justify="start"]{
    --button-justify-content:flex-start;
  }

  &[justify="end"]{
    --button-justify-content:flex-end;
  }
}