ui-button{
  position:relative;
  line-height:0;

  &[busy]{
    cursor:wait;
  }

  & > button{
    position:relative;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align:middle;
    line-height:1;
    height:var(--button-height, var(--control-height-default));
    padding-inline:var(--button-padding-inline, var(--padding-default));
    border-radius:var(--button-border-radius, var(--border-radius-default));
    column-gap:var(--button-column-gap, 0.5rem);
    font-size:var(--button-font-size);
    color:var(--button-text-color);
    background-color:var(--button-color, var(--control-color-default));
    transition-duration:var(--transition-duration-default);
    transition-property:background-color,outline-color;
  }

  @media (hover: hover){
    &:not([busy]) > button:not([disabled]):hover{
      background-color:var(--button-color-hover, var(--control-color-default-hover));
    }
  }

  &:not([busy]) > button:not([disabled]):active{
    background-color:var(--button-color, var(--control-color-default));
  }

  & > button > ui-icon {
    --icon-height: var(--button-icon-height, var(--control-icon-size-default));
    --icon-width: var(--button-icon-width, var(--control-icon-size-default));
  }

  & > button > ui-icon{
    margin-inline:-2px;
  }

  /* spinner */
  & > ui-spinner{
    position:absolute;
    inset:0;
    border-radius:var(
      --button-border-radius-shape,
      var(--button-border-radius, var(--border-radius-default))
    );
    background-color:var(--button-color, var(--control-color-default));
  }

  & > ui-spinner > ui-icon {
    --icon-height:calc(var(--button-icon-height, var(--control-icon-size-default)) * 1.2);
    --icon-width:calc(var(--button-icon-width, var(--control-icon-size-default)) * 1.2);
  }

  /* shape */
  &[shape="pill"] > button,
  &[shape="circle"] > button{
    --button-border-radius:var(--border-radius-full);
  }

  &[shape="circle"] > button,
  &[shape="square"] > button{
    --button-padding-inline:0;
  }

  &[shape="circle"] > button,
  &[shape="square"] > button{
    aspect-ratio:1;
  }

  /* size */
  &[size="x-small"]{
    --button-height:var(--control-height-x-small);
    --button-font-size:var(--font-size-x-small);
    --button-padding-inline:var(--padding-x-small);
    --button-border-radius:calc(var(--button-height) / 4);
    --button-column-gap:calc(var(--button-height) / 4);
    --button-icon-height:var(--control-icon-size-x-small);
    --button-icon-width:var(--control-icon-size-x-small);
  }

  &[size="small"]{
    --button-height:var(--control-height-small);
    --button-font-size:var(--font-size-small);
    --button-padding-inline:var(--padding-small);
    --button-border-radius:calc(var(--button-height) / 4);
    --button-column-gap:calc(var(--button-height) / 4);
    --button-icon-height:var(--control-icon-size-small);
    --button-icon-width:var(--control-icon-size-small);
  }

  &[size="medium"]{
    --button-height:var(--control-height-medium);
    --button-font-size:var(--font-size-normal);
    --button-padding-inline:var(--padding-medium);
    --button-border-radius:calc(var(--button-height) / 4);
    --button-column-gap:calc(var(--button-height) / 4);
    --button-icon-height:var(--control-icon-size-medium);
    --button-icon-width:var(--control-icon-size-medium);
  }

  &[size="large"]{
    --button-height:var(--control-height-large);
    --button-font-size:var(--font-size-large);
    --button-padding-inline:var(--padding-large);
    --button-border-radius:calc(var(--button-height) / 4);
    --button-column-gap:calc(var(--button-height) / 4);
    --button-icon-height:var(--control-icon-size-large);
    --button-icon-width:var(--control-icon-size-large);
  }

  &[size="x-large"]{
    --button-height:var(--control-height-x-large);
    --button-font-size:var(--font-size-x-large);
    --button-padding-inline:var(--padding-x-large);
    --button-border-radius:calc(var(--button-height) / 4);
    --button-column-gap:calc(var(--button-height) / 4);
    --button-icon-height:var(--control-icon-size-x-large);
    --button-icon-width:var(--control-icon-size-x-large);
  }

  /* color */
  &[color="blue"]{
    --button-color:var(--control-color-blue);
    --button-color-hover:var(--control-color-blue-hover);
  }

  &[color="green"]{
    --button-color:var(--control-color-green);
    --button-color-hover:var(--control-color-green-hover);
  }

  &[color="yellow"]{
    --button-color:var(--control-color-yellow);
    --button-color-hover:var(--control-color-yellow-hover);
  }

  &[color="red"]{
    --button-color:var(--control-color-red);
    --button-color-hover:var(--control-color-red-hover);
  }

  /* variant */
  &[variant="ghost"] > button{
    --button-color:transparent;
  }

  &[justify="start"] > button{
    justify-content:flex-start;
  }

  &[justify="end"] > button{
    justify-content:flex-end;
  }
}