<section class="intro">
  <h1>Button</h1>
  <p>Buttons are used to perform actions or submit forms.</p>
</section>

<section class="details">
  <h2>Info</h2>
  <p>This component is designed to work with the <a href="#icon">icon</a> component for rendering icons, but can also be easily adapted to use a standard SVG.</p>
  <p>The component can contain text, icons, or both - in any order.</p>
  <p>This component dispatches a custom event "button-action" whenever it is activated via click or keyboard (Enter / Space).External scripts should listen to this event to handle button actions.</p>
  <p><code>
  button.addEventListener('button-action',() =>{<br>
  &nbsp;console.log('Button clicked');<br>
  });
  </code></p>
</section>

<section class="details">
  <h2>Attributes</h2>
  <p>aria-label - static (required). Must be set manually for icon buttons.</p>
  <p>disabled - reactive (optional). Controls the disabled state of the component.</p>
  <p>loading - reactive (optional). Controls the loading state of the component.</p>
  <p>shape - static (optional). Default: rounded. Available options: rounded, pill, square, circle. Sets the corner style.</p>
</section>

<section class="content">

  <div class="content-item">
    <div>Default</div>
    <div class="example">
      <div class="preview">
        <ui-button>Button</ui-button>
        <ui-button aria-label="Button" icon-only>
          <ui-icon name="settings"></ui-icon>
        </ui-button>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-button&gt;Button&lt;/ui-button&gt;

&lt;ui-button aria-label="Button" icon-only&gt;
  &lt;ui-icon name="name"&gt;&lt;/ui-icon&gt;
&lt;/ui-button&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Text-Only, Different Shapes</div>
    <div class="example">
      <div class="preview">
        <ui-button>Button</ui-button>
        <ui-button shape="pill">Button</ui-button>
        <ui-button shape="square">Button</ui-button>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-button&gt;Button&lt;/ui-button&gt;

&lt;ui-button shape="pill"&gt;Button&lt;/ui-button&gt;

&lt;ui-button shape="square"&gt;Button&lt;/ui-button&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Icon-Only, Different Shapes</div>
    <div class="example">
      <div class="preview">
        <ui-button aria-label="Button" icon-only>
          <ui-icon name="article"></ui-icon>
        </ui-button>
        <ui-button aria-label="Button" shape="circle" icon-only>
          <ui-icon name="article"></ui-icon>
        </ui-button>
        <ui-button aria-label="Button" shape="square" icon-only>
          <ui-icon name="article"></ui-icon>
        </ui-button>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-button aria-label="Button" icon-only&gt;
&nbsp;&lt;ui-icon name="name"&gt;&lt;/ui-icon&gt;
&lt;/ui-button&gt;

&lt;ui-button aria-label="Button" shape="circle" icon-only&gt;
&nbsp;&lt;ui-icon name="name"&gt;&lt;/ui-icon&gt;
&lt;/ui-button&gt;

&lt;ui-button aria-label="Button" shape="square" icon-only&gt;
&nbsp;&lt;ui-icon name="name"&gt;&lt;/ui-icon&gt;
&lt;/ui-button&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Text with an icon</div>
    <div class="example">
      <div class="preview">
        <ui-button>
          <ui-icon name="home"></ui-icon>
          Button
        </ui-button>
        <ui-button>
          Button
          <ui-icon name="article"></ui-icon>
        </ui-button>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-button&gt;
 &lt;ui-icon name="name"&gt;&lt;/ui-icon&gt;
 Button
&lt;/ui-button&gt;

&lt;ui-button&gt;
 Button
 &lt;ui-icon name="name"&gt;&lt;/ui-icon&gt;
&lt;/ui-button&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Disabled</div>
    <div class="example">
      <div class="preview">
        <ui-button disabled>Button</ui-button>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-button disabled&gt;Button&lt;/ui-button&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Busy state</div>
    <div class="example">
      <div class="preview">
        <ui-button id="busy">Start</ui-button>
        <ui-button id="reset">Reset</ui-button>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-button&gt;Start&lt;/ui-button&gt;

const buttonBusy = document.getElementById('busy');
const buttonReset = document.getElementById('reset');

buttonBusy.addEventListener('button-action',() =>{
 buttonBusy.busy = true;
});

buttonReset.addEventListener('button-action',() =>{
 buttonBusy.busy = false;
});
</code></pre>

      </div>
    </div>
  </div>

</section>