button{
  --button-height:var(--height-default);
  --button-width:auto;
  --button-column-gap:calc(var(--button-height) / 4);
  --button-border-radius:calc(var(--button-height) / 4);
  --button-justify-content:center;
  --button-bg:var(--surface-bg-default);

  cursor:pointer;
  user-select:none;
  line-height:1;

  position:relative;
  display:inline-flex;
  column-gap:var(--button-column-gap);
  align-items:center;
  vertical-align:top;
  justify-content:var(--button-justify-content);
  height:var(--button-height);
  width:var(--button-width);
  padding-inline:var(--button-padding-inline, var(--padding-default));
  border-radius:var(--button-border-radius);
  font-family:var(--button-font-family);
  font-size:var(--button-font-size);
  color:var(--button-fg, var(--surface-fg-default));
  background-color:var(--button-bg);
  transition-duration:var(--transition-duration-default);
  transition-property:background-color,outline-color;

  @media (hover: hover){
    &:not(:disabled):hover{
      background-color:oklch(from var(--button-bg) calc(l + 0.04) c h);
    }
  }

  &:not(:disabled):active{
    background-color:oklch(from var(--button-bg) calc(l - 0.05) c h);
  }

  & > ui-icon{
    --icon-height:var(--button-icon-height, var(--icon-size-default));
    --icon-width:var(--button-icon-width, var(--button-icon-height));
    margin-inline:-2px;
  }

  &[data-icon]{
    --button-padding-inline:0;
    aspect-ratio:1;
  }

  /* size */
  &[data-size="x-small"]{
    --button-height:var(--height-x-small);
    --button-font-size:var(--font-size-x-small);
    --button-padding-inline:var(--padding-x-small);
    --button-icon-height:var(--icon-size-x-small);
  }

  &[data-size="small"]{
    --button-height:var(--height-small);
    --button-font-size:var(--font-size-small);
    --button-padding-inline:var(--padding-small);
    --button-icon-height:var(--icon-size-small);
  }

  &[data-size="medium"]{
    --button-height:var(--height-medium);
    --button-font-size:var(--font-size-normal);
    --button-padding-inline:var(--padding-medium);
    --button-icon-height:var(--icon-size-medium);
  }

  &[data-size="large"]{
    --button-height:var(--height-large);
    --button-font-size:var(--font-size-large);
    --button-padding-inline:var(--padding-large);
    --button-icon-height:var(--icon-size-large);
  }

  &[data-size="x-large"]{
    --button-height:var(--height-x-large);
    --button-font-size:var(--font-size-x-large);
    --button-padding-inline:var(--padding-x-large);
    --button-icon-height:var(--icon-size-x-large);
  }

  /* color */
  &[data-color="neutral"]{
    --button-bg:var(--surface-bg-neutral);
  }

  &[data-color="blue"]{
    --button-bg:var(--surface-bg-blue);
  }

  &[data-color="green"]{
    --button-bg:var(--surface-bg-green);
  }

  &[data-color="yellow"]{
    --button-bg:var(--surface-bg-yellow);
  }

  &[data-color="red"]{
    --button-bg:var(--surface-bg-red);
  }

  /* variant */
  &[data-variant="invisible"]{
    background-color:transparent;
  }

  @media (hover: hover){
    &[data-variant="invisible"]:not(:disabled):hover{
      background-color:oklch(from var(--button-bg) calc(l + 0.04) c h / 0.2);
    }
  }

  &[data-variant="invisible"]:not(:disabled):active{
    background-color:oklch(from var(--button-bg) calc(l - 0.03) c h / 0.2);
  }

  &[data-variant="outline"]{
    background-color:transparent;
  }

  &[data-variant="outline"]::after{
    content:'';
    position:absolute;
    inset:0;
    pointer-events:none;
    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--button-bg, var(--surface-bg-default));
  }

  @media (hover: hover){
    &[data-variant="outline"]:not(:disabled):hover{
      background-color:oklch(from var(--button-bg) calc(l + 0.04) c h / 0.2);
    }
  }

  &[data-variant="outline"]:not(:disabled):active{
    background-color:oklch(from var(--button-bg) calc(l - 0.03) c h / 0.2);
  }

  &[justify="start"]{
    --button-justify-content:flex-start;
  }

  &[justify="end"]{
    --button-justify-content:flex-end;
  }
}