ui-button{
  --ui-button-height:var(--ui-control-height-default);
  --ui-button-border-radius:calc(var(--ui-button-height) / 4);
  --ui-button-font-size:var(--ui-font-size-default);

  --ui-button-width:fit-content;
  --ui-button-padding-inline:calc(var(--ui-button-height) / 2);
  --ui-button-column-gap:clamp(
    0.3rem,
    calc(var(--ui-button-height) / 3),
    0.75rem);

  --ui-button-surface-color-default:var(--ui-surface-color-default);
  --ui-button-surface-color-hover:var(--ui-surface-color-hover);
  --ui-button-surface-color-active:var(--ui-surface-color-active);

  position:relative;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  vertical-align:middle;
  line-height:1;
  height:var(--ui-button-height);
  width:var(--ui-button-width);
  border-radius:var(--ui-button-border-radius);
  padding-inline:var(--ui-button-padding-inline);
  column-gap:var(--ui-button-column-gap);
  font-size:var(--ui-button-font-size);
  color:var(--ui-text-color-default);
  background-color:var(--ui-button-surface-color-default);
  transition-property:background-color,outline-color,color;

  &[disabled]:not([busy]){
    cursor:not-allowed;
    opacity:0.5;
    pointer-events:auto;
  }

  &[busy]{
    cursor:wait;
  }

  @media (hover: hover){
    &:hover:not([disabled]){
      background-color:var(--ui-button-surface-color-hover);
    }
  }

  &:active:not([disabled]){
    background-color:var(--ui-button-surface-color-active);
  }

  & > ui-icon{
    margin-inline:calc(-1 * (var(--ui-button-height) / 10));
  }


  & ui-icon{
    --ui-icon-height:clamp(
    0.75rem,
    calc(var(--ui-button-height) / 1.8),
    1.5rem);

    --ui-icon-width:clamp(
    0.75rem,
    calc(var(--ui-button-height) / 1.8),
    1.5rem);
  }

  /* spinner */
  & > ui-spinner{
    position:absolute;
    border-radius:inherit;
    inset:0;
    background-color:var(--ui-button-surface-color-active);
  }

  /* shape */
  &[shape="pill"],
  &[shape="circle"]{
    --ui-button-border-radius:var(--ui-border-radius-full);
  }

  &[shape="circle"],
  &[shape="square"]{
    aspect-ratio:1;
    padding-inline:0;
    padding-block:0;
  }

  /* size */
  &[size="small"]{
    --ui-button-height:var(--ui-control-height-small);
    --ui-button-font-size:var(--ui-font-size-small);
  }

  &[size="medium"]{
    --ui-button-height:var(--ui-control-height-medium);
    --ui-button-font-size:var(--ui-font-size-medium);
  }

  &[size="large"]{
    --ui-button-height:var(--ui-control-height-large);
    --ui-button-font-size:var(--ui-font-size-large);
  }
}