ui-button{
  --button-height:var(--control-height-default);
  --button-width:auto;
  --button-padding-inline:1rem;
  --button-column-gap:0.6rem;

  --button-border-radius:calc(var(--button-height) / 4);
  --button-font-size:var(--font-size-default);

  --button-text-color:var(--text-color-default);
  --button-color:var(--surface-color-default);
  --button-color-hover:var(--surface-color-hover);
  --button-color-active:var(--surface-color-active);

  position:relative;

  & > button{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align:middle;
    line-height:1;
    height:var(--button-height);
    width:var(--button-width);
    border-radius:var(--button-border-radius);
    padding-inline:var(--button-padding-inline);
    column-gap:var(--button-column-gap);
    font-size:var(--button-font-size);
    color:var(--button-text-color);
    background-color:var(--button-color);
    transition-property:background-color,outline-color;
  }

  &[busy]{
    cursor:wait;
  }

  @media (hover: hover){
    & > button:hover:not([disabled]){
      background-color:var(--button-color-hover);
    }
  }

  & > button:active:not([disabled]){
    background-color:var(--button-color-active);
  }

  & > button > ui-icon{
    margin-inline:-2px;
  }

  /* spinner */
  & > ui-spinner{
    position:absolute;
    inset:0;
    border-radius:var(--button-border-radius);
    background-color:var(--button-color-active);
  }

  /* shape */
  &[shape="pill"] > button,
  &[shape="circle"] > button{
    --button-border-radius:var(--border-radius-full);
  }

  &[shape="circle"] > button,
  &[shape="square"] > button{
    aspect-ratio:1;
    padding-inline:0;
  }

  /* size */
  &[size="small"] > button{
    --button-height:var(--control-height-small);
    --button-font-size:var(--font-size-small);
    --button-border-radius:calc(var(--button-height) / 4);
    --button-padding-inline:0.8rem;
    --button-column-gap:0.5rem;
  }

  &[size="small"] > button > ui-icon{
    --icon-height:1.2rem;
    --icon-width:1.2rem;
  }

  &[size="medium"] > button{
    --button-height:var(--control-height-medium);
    --button-font-size:var(--font-size-normal);
    --button-border-radius:calc(var(--button-height) / 4);
    --button-padding-inline:1rem;
    --button-column-gap:0.6rem;
  }

  &[size="medium"] > button > ui-icon{
    --icon-height:1.4rem;
    --icon-width:1.4rem;
  }

  &[size="large"] > button{
    --button-height:var(--control-height-large);
    --button-font-size:var(--font-size-large);
    --button-border-radius:calc(var(--button-height) / 4);
    --button-padding-inline:1.2rem;
    --button-column-gap:0.7rem;
  }

  &[size="large"] > button > ui-icon{
    --icon-height:1.6rem;
    --icon-width:1.6rem;
  }

  /* varian */
  &[varian="ghost"] > button{
    --button-color:transparent;
  }
}