:root[data-theme='dark']{
  /* background */
  --theme-background-color:var(--ui-color-gray-10);

  /* surface */
  --theme-surface-color:var(--ui-color-gray-15);
  --theme-surface-secondary-color:var(--ui-color-gray-20);

  /* scrollbar */
  --theme-scrollbar-color:var(--ui-color-gray-35);

  /* heading */
  --theme-heading-text-color:var(--ui-color-white);

  /* text */
  --theme-text-color:var(--ui-color-gray-95);

  /* text secondary */
  --theme-text-secondary-color:var(--ui-color-gray-70);

  /* link */
  --theme-link-color:var(--ui-color-gray-80);
  --theme-link-color-hover:var(--ui-color-gray-95);
  --theme-link-color-active:var(--ui-color-gray-95);

  /* border */
  --theme-border-color:var(--ui-color-gray-25);
}