:root[data-theme='dark']{
  /* body */
  --theme-body-color:rgb(0,0,0);

  /* scrollbar */
  --theme-scrollbar-color:var(--ui-color-gray-600);

  /* link */
  --theme-link-color:rgb(255,255,255);

  /* text */
  --theme-text-color:rgb(255,255,255);
}