:root{
  /* heading */
  --ui-h1-size:40px;
  --ui-h2-size:32px;
  --ui-h3-size:24px;
  --ui-h4-size:22px;
  --ui-h5-size:20px;
  --ui-h6-size:18px;

  /* border */
  --theme-border-radius:8px;
}

:is(*,*::before,*::after){
  -webkit-tap-highlight-color:transparent;
  box-sizing:border-box;}

/* font */
:is(body,button,input,select,textarea){
  font-family:Arial,Helvetica,sans-serif;
}

/* code */
pre{margin:0;}
code{
  font-family:ui-monospace,Menlo,Consolas,monospace;
  letter-spacing:1px;
}

/* embeds */
:is(iframe,embed,object){
  display:block;
  border:none;
  max-width:100%;
  height:auto;
}

/* link */
a{
  color:var(--theme-link-color);
  transition-property:color;
  transition-duration:var(--ui-duration);
}
a:hover{color:var(--theme-link-color-hover);}

/* headings */
:is(h1,h2,h3,h4,h5,h6){
  color:var(--theme-heading-text-color);
  margin:0;
}

h1{font-size:var(--ui-h1-size);}
h2{font-size:var(--ui-h2-size);}
h3{font-size:var(--ui-h3-size);}
h4{font-size:var(--ui-h4-size);}
h5{font-size:var(--ui-h5-size);}
h6{font-size:var(--ui-h6-size);}

/* forms */
input::-ms-reveal{display:none;}

/* scrollbar */
::-webkit-scrollbar{
  width:8px;
  height:8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
  cursor:default;
}

::-webkit-scrollbar-thumb{
  border-radius:4px;
  background-color:var(--theme-scrollbar-color);
}

::-webkit-scrollbar-track{
  background-color:transparent;
}

::-webkit-scrollbar-button{
  display:none;
}

html,
body{
  position:relative;
  margin:0;
  padding:0;
}

body{
  color:var(--theme-text-color);
  background-color:var(--theme-background-color);
  line-height:var(--ui-line-height-normal);
  min-height:100%;
  height:100%;
  overflow-y:scroll;
}

#app{
  position:relative;
  display:flex;
  max-width:100%;
}

.container{
  position:relative;
  display:flex;
  width:1920px;
  max-width:100%;
  margin:auto;
}

main{
  position:relative;
  display:flex;
  flex-direction:column;
  width:100%;
  padding-inline:40px;
}

article{
  display:flex;
  flex-direction:column;
  row-gap:50px;
  padding-block:60px;
  flex-grow:1;
}

/* nav */
nav{
  position:sticky;
  display:flex;
  flex-direction:column;
  top:0;
  bottom:0;
  width:260px;
  height:100vh;
  padding-inline:20px;
  overflow-y:scroll; 
  overflow-x:hidden;
}

nav .dynamic{
  display:flex;
  flex-direction:column;
  row-gap:20px;
}

nav .static{
  display:flex;
  align-items:center;
  height:60px;
  min-height:60px;
}

nav .version{
  font-size:var(--ui-font-size-small);
}

nav .menu-title{
  padding-bottom:6px;
}

nav .menu-item{
  display:block;
  cursor:pointer;
  font-size:var(--ui-font-size-medium);
  color:var(--theme-link-color);
}

nav .menu-item span{
  display:flex;
  align-items:center;
  column-gap:10px;
  padding:5px 10px;
  font-size:100%;
  border-radius:var(--theme-border-radius);
  transition-duration:var(--ui-duration);
  transition-property:background-color,color;
}

@media (hover:hover){
  nav .menu-item span:hover{
    color:var(--theme-link-color-hover);
    background-color:var(--theme-surface-color);
  }
}

nav .menu-item span.active{
  color:var(--theme-link-color-active);
  background-color:var(--theme-surface-secondary-color);
}






/* intro */
.intro{
  > h1{
    font-size:var(--ui-h1-size);
  }

  > p{
    color:var(--theme-text-secondary-color);
  }

  > p:last-child{
    margin-bottom:0;
  }
}

/* details */
.details{
  > h2{
    font-size:var(--ui-h2-size);
  }

  > p:last-child{
    margin-bottom:0;
  }
}

/* content */
.content,
.content > .content-item{
  display:flex;
  flex-direction:column;
}

.content{
  row-gap:50px;
}

.content > .content-item{
  row-gap:10px;
}

.content-item > .example{
  overflow:hidden;
  border:1px solid var(--theme-border-color);
  border-radius:var(--ui-border-radius-rounded);
}

.content-item > .example > .preview,
.content-item > .example > .code,
.content-item > .example > .toolbar{
  position:relative;
  max-width:100%;
}

.content-item > .example > .preview{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  overflow-x:auto;
}

.content-item > .example > .preview,
.content-item > .example > .code{
  padding:20px;
}

.content-item > .example > .code{
  line-height:var(--ui-line-height-normal);
}

.content-item > .example > .code code{
  white-space:pre-wrap;
  word-break:break-word;
}

.content-item > .example > .preview,
.content-item > .example > .toolbar{
  border-bottom:1px solid var(--theme-border-color);
}

.content-item > .example > .toolbar{
  display:flex;
  align-items:center;
  padding:10px 15px;
  font-size:var(--ui-font-size-small);
  gap:10px;
}

.content-item > .example > .toolbar span{
  line-height:1;
  vertical-align:middle;
}


/* icons */
.content-item > .icons{
  display:inline-flex;
  gap:20px;
  border:none;
  flex-wrap:wrap;
  padding:0;
}

.content-item > .icons > .icon-card{
  display:flex;
  min-width:140px;
  row-gap:12px;
  flex-direction:column;
  align-items:center;
  padding:12px 10px 10px;
  background-color:var(--theme-surface-color);
  border-radius:8px;
  line-height:1;
}

.content-item > .icons > .icon-card > .icon-name{
  color:var(--theme-text-secondary-color);
  font-size:var(--ui-font-size-small);
}