:root[data-theme='light']{
  /* body */
  --theme-body-color:rgb(255,255,255);

  /* scrollbar */
  --theme-scrollbar-color:var(--ui-color-gray-300);

  /* link */
  --theme-link-color:rgb(0,0,0);

  /* text */
  --theme-text-color:rgb(0,0,0);
}