:root[data-theme='light']{
  /* background */
  --theme-background-color:var(--ui-color-gray-95);

  /* surface */
  --theme-surface-color:var(--ui-color-gray-90);
  --theme-surface-secondary-color:var(--ui-color-gray-85);

  /* scrollbar */
  --theme-scrollbar-color:var(--ui-color-gray-70);

  /* heading */
  --theme-heading-text-color:var(--ui-color-black);

  /* text */
  --theme-text-color:var(--ui-color-gray-10);

  /* text secondary */
  --theme-text-secondary-color:var(--ui-color-gray-30);

  /* link */
  --theme-link-color:var(--ui-color-gray-40);
  --theme-link-color-hover:var(--ui-color-gray-10);
  --theme-link-color-active:var(--ui-color-gray-10);

  /* border */
  --theme-border-color:var(--ui-color-gray-80);
}