ui-input{
  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:var(--ui-object-height);
  border:none;
  outline-offset:2px;
  outline-width:2px;
  outline-style:solid;
  outline-color:transparent;
  color:rgb(175,175,175);
  background-color:rgb(25,25,25);
  overflow:hidden;}

ui-input[animated]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,color,outline-color;}

ui-input[shape="rounded"]{
  border-radius:calc(var(--ui-object-height) / 4);}

ui-input[shape="pill"]{
  border-radius:var(--ui-border-radius-pill);}

ui-input[shape="square"]{
  border-radius:none;}

ui-input input{
  height:100%;
  flex-grow:1;
  border:none;
  outline:none;
  color:var(--ui-color-white);
  background-color:transparent;
  direction:inherit;
  font-size:clamp(
    var(--ui-font-size-x-small),
    calc(var(--ui-object-height) / 2 - 2px),
    var(--ui-font-size-medium)
  );}

ui-input:not([icon-leading]) input{
  padding-left:calc(var(--ui-object-height) / 4 + 2px);
}

ui-input:not([icon-trailing]):not([clearable]) input{
  padding-right:calc(var(--ui-object-height) / 4 + 2px);
}

ui-input ui-icon{
  padding:calc(var(--ui-object-height) / 4);
  color:rgb(125,125,125)}

ui-button > ui-icon{
  height:clamp(
    16px,
    calc(var(--ui-object-height) / 2),
    24px
  );
  width:clamp(
    16px,
    calc(var(--ui-object-height) / 2),
    24px
  );}

ui-input ui-icon[icon="close"]{
  cursor:pointer;}

@media (hover:hover){
  ui-input[animated]:hover:not([disabled]){
    background-color:rgb(35,35,35);}

  ui-input ui-icon[icon="close"]:hover{
    color:var(--ui-color-white);}
}


ui-input[focused]{
  background-color:rgb(35,35,35);
  outline-color:rgb(100,100,100);}

ui-input[error]{
  outline-color:rgb(210,55,55);}

ui-input[valid]{
  outline-color:rgb(85,175,85);}

ui-input[warning]{
  outline-color:rgb(210,175,20);}