ui-input{
  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  outline-offset:0px;
  outline-width:2px;
  outline-style:solid;
  outline-color:var(--ui-color-input-outline);
  background-color:var(--ui-color-input-surface);
  overflow:hidden;}

ui-input[size="small"]{height:var(--ui-form-control-size-small);}
ui-input[size="medium"]{height:var(--ui-form-control-size-medium);}
ui-input[size="large"]{height:var(--ui-form-control-size-large);}

ui-input[animated]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,outline-color;}

ui-input[disabled]{
  outline-color:var(--ui-color-form-control-outline-disabled);
  background-color:var(--ui-color-form-control-surface-disabled);}

ui-input input{
  direction:inherit;
  border:none;
  outline:none;
  padding:0;
  height:100%;
  color:var(--ui-color-input-content);
  background-color:transparent;}

ui-input[disabled] input{
  color:var(--ui-color-form-control-content-disabled);}

ui-input input::placeholder{
  color:var(--ui-color-input-placeholder);}

ui-input[disabled] input::placeholder{
  color:var(--ui-color-input-placeholder-disabled);}

ui-input[size="small"] > input{
  padding-inline:calc(var(--ui-form-control-size-small) / 4 + 4px);
  font-size:var(--ui-font-size-x-small);}

ui-input[size="medium"] > input{
  padding-inline:calc(var(--ui-form-control-size-medium) / 4 + 4px);
  font-size:var(--ui-font-size-small);}

ui-input[size="large"] > input{
  padding-inline:calc(var(--ui-form-control-size-large) / 4 + 6px);
  font-size:var(--ui-font-size-medium);}

ui-input[clearable] > input{
  padding-inline-end:0;}

ui-input > svg{
  display:block;
  color:var(--ui-color-input-icons);
  fill:currentColor;
  shape-rendering:geometricPrecision;
  transition-duration:var(--ui-transition-duration);
  transition-property:color;
  cursor:pointer;}

ui-input[disabled] > svg{opacity:0;}

ui-input[size="small"] > svg{
  height:var(--ui-form-control-size-small);
  width:var(--ui-form-control-size-small);
  padding:calc(var(--ui-form-control-size-small) / 4 - 2px);}

ui-input[size="medium"] > svg{
  height:var(--ui-form-control-size-medium);
  width:var(--ui-form-control-size-medium);
  padding:calc(var(--ui-form-control-size-medium) / 4 - 2px);}

ui-input[size="large"] > svg{
  height:var(--ui-form-control-size-large);
  width:var(--ui-form-control-size-large);
  padding:calc(var(--ui-form-control-size-large) / 4 - 2px);}

@media (hover:hover){
  ui-input:hover:not([disabled]):not([status]){
    outline-color:var(--ui-color-input-outline-active);}

  ui-input > svg:hover{
    color:var(--ui-color-input-icons-active);}
}

ui-input:focus-within:not([disabled]):not([status]){
  outline-color:var(--ui-color-input-outline-active);}

ui-input[status="accent"]{outline-color:var(--ui-color-form-control-accent);}
ui-input[status="error"]{outline-color:var(--ui-color-form-control-error);}
ui-input[status="success"]{outline-color:var(--ui-color-form-control-success);}
ui-input[status="warning"]{outline-color:var(--ui-color-form-control-warning);}