ui-input{
  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:var(--ui-input-size);
  outline-width:2px;
  outline-offset:2px;
  outline-style:solid;
  outline-color:transparent;
  background-color:var(--ui-input-background-color);}

ui-input[ui]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,outline-color;}

ui-input::before{
  position:absolute;
  content:'';
  inset:0;
  border-radius:inherit;
  border-width:1px;
  border-style:solid;
  border-color:var(--ui-input-border-color);
  pointer-events:none;}

ui-input input{
  direction:inherit;
  border:none;
  outline:none;
  padding:0;
  height:100%;
  font-size:var(--ui-input-font-size);
  padding-inline:var(--ui-input-padding-inline);
  color:var(--ui-input-color);
  background-color:transparent;}

ui-input input::placeholder{
  color:var(--ui-input-placeholder-color);}

ui-input[disabled] input,
ui-input[disabled] input::placeholder{
  color:var(--ui-input-disabled-color);}

ui-input[clearable] > input{
  padding-inline-end:0;}

ui-input > ui-icon{
  display:block;
  height:100%;
  width:var(--ui-input-icon-size);
  color:var(--ui-input-svg-color);
  padding:var(--ui-input-icon-padding);
  stroke-width:0;
  cursor:pointer;
  pointer-events:all!important;}


@media (hover:hover){
  ui-input > ui-icon:hover{
    color:var(--ui-color-input-icons-active);}
}

ui-input:focus-within:not([disabled]){
  outline-color:var(--ui-input-outline-color);}

ui-input[status="accent"]::before{border-color:var(--ui-color-blue-500);}
ui-input[status="error"]::before{border-color:var(--ui-color-red-500);}
ui-input[status="success"]::before{border-color:var(--ui-color-green-500);}
ui-input[status="warning"]::before{border-color:var(--ui-color-yellow-500);}

/* color */
ui-input[color="default"]{
  --ui-input-background-color:var(--ui-color-gray-800);
  --ui-input-border-color:var(--ui-color-gray-500);
  --ui-input-border-color-hover:var(--ui-color-gray-100);
  --ui-input-outline-color:var(--ui-color-gray-500);
  --ui-input-color:var(--ui-color-white);
  --ui-input-svg-color:var(--ui-color-gray-500);
  --ui-input-placeholder-color:var(--ui-color-gray-500);
  --ui-input-disabled-color:var(--ui-color-gray-300);}

/* size */
ui-input[size="default"]{
  --ui-input-font-size:14px;
  --ui-input-size:32px;
  --ui-input-icon-size:28px;
  --ui-input-icon-padding:4px;
  --ui-input-padding-inline:8px;}