/* app shell */
html,
body{
  height:100%;
}

body{
  height:100svh;
  overflow:hidden;
}

/* root app container */
ui-app{
  position:fixed;
  display:block;
  width:100%;
  height:100svh;
  overflow-y:scroll;
  overflow-x:auto;
}

/* page layout */
ui-layout{
  position:relative;
  display:flex;
  width:100%;
  max-width:1600px;
  margin-inline:auto;
}