/* app shell */
html,body{
  height:100%;
}

body{
  overflow:hidden;
}

/* app container */
ui-app{
  position:fixed;
  display:block;
  width:100%;
  height:100svh;
  overflow-y:scroll;
  overflow-x:hidden;
}

/* page layout */
ui-layout{
  position:relative;
  display:flex;
  flex-direction:column;
  width:100%;
}