ui-divider{
  display:inline-flex;
  align-items:center;
  vertical-align:middle;}

ui-divider::before,
ui-divider::after{
  content:'';
  display:block;
  flex-grow:1;
  background-color:var(--ui-divider-background-color);}

ui-divider > span{
  font-size:var(--ui-divider-font-size);
  color:var(--ui-divider-font-color);
  white-space:nowrap;}

ui-divider[content-align="start"]::before,
ui-divider[content-align="end"]::after{
  flex-grow:0;}

ui-divider[orientation="horizontal"]{
  width:100%;
  flex-direction:row;}

ui-divider[orientation="horizontal"] > *{padding-inline:15px;}

ui-divider[orientation="horizontal"]::before,
ui-divider[orientation="horizontal"]::after{height:1px;}

ui-divider[orientation="horizontal"][content-align="start"]::before,
ui-divider[orientation="horizontal"][content-align="end"]::after{
  width:20px;}

ui-divider[orientation="vertical"]{
  height:100%;
  flex-direction:column;}

ui-divider[orientation="vertical"] > *{padding-block:10px;}

ui-divider[orientation="vertical"]::before,
ui-divider[orientation="vertical"]::after{width:1px;}

ui-divider[orientation="vertical"][content-align="start"]::before,
ui-divider[orientation="vertical"][content-align="end"]::after{
  height:20px;}

/* color */
ui-divider[color="default"]{
  --ui-divider-background-color:var(--ui-color-gray-750);
  --ui-divider-font-color:var(--ui-color-gray-250);}

/* size */
ui-divider[size="default"]{
  --ui-divider-font-size:14px;}