ui-app{
  position:relative;
  display:flex;
  width:100%;
  max-width:1600px;
  margin-inline:auto;

  & ui-content{
    position:relative;
    display:flex;
    flex-direction:column;
    width:100%;
    padding-inline:20px;
  }

}