<ui-sidebar>
  <div class="static">
    <span class="version"></span>
  </div>
  <nav>
    <ul class="sidebar-list">
      <li class="nav-category" data-nav-category="essentials">
        <div class="menu-title">Essentials</div>
        <ul>
          <li><a class="menu-item" href="/site/pages/foundation.html">Foundation</a></li>
        </ul>
      </li>

      <li class="nav-category" data-nav-category="tokens">
        <div class="menu-title">Tokens</div>
        <ul>
          <li><a class="menu-item" href="/site/pages/typography.html">Typography</a></li>
        </ul>
      </li>

      <li class="nav-category" data-nav-category="theme">
        <div class="menu-title">Theme</div>
        <ul>
          <li><a class="menu-item" href="/site/pages/icons.html">Icons</a></li>
        </ul>
      </li>

      <li class="nav-category" data-nav-category="primitives">
        <div class="menu-title">Primitives</div>
        <ul>
          <li><a class="menu-item" href="/site/pages/icon.html">Icon</a></li>
          <li><a class="menu-item" href="/site/pages/separator.html">Separator</a></li>
          <li><a class="menu-item" href="/site/pages/spinner.html">Spinner</a></li>
        </ul>
      </li>

      <li class="nav-category" data-nav-category="forms">
        <div class="menu-title">Forms</div>
        <ul>
          <li><a class="menu-item" href="/site/pages/button.html">Button</a></li>
          <li><a class="menu-item" href="/site/pages/checkbox.html">Checkbox</a></li>
          <li><a class="menu-item" href="/site/pages/field.html">Field</a></li>
          <li><a class="menu-item" href="/site/pages/input.html">Input</a></li>
          <li><a class="menu-item" href="/site/pages/radio.html">Radio</a></li>
          <li><a class="menu-item" href="/site/pages/select.html">Select</a></li>
          <li><a class="menu-item" href="/site/pages/switch.html">Switch</a></li>
          <li><a class="menu-item" href="/site/pages/textarea.html">Textarea</a></li>
        </ul>
      </li>

      <li class="nav-category" data-nav-category="components">
        <div class="menu-title">Components</div>
        <ul>
          <li><a class="menu-item" href="/site/pages/accordion.html">Accordion</a></li>
          <li><a class="menu-item" href="/site/pages/alert.html">Alert</a></li>
          <li><a class="menu-item" href="/site/pages/badge.html">Badge</a></li>
          <li><a class="menu-item" href="/site/pages/breadcrumb.html">Breadcrumb</a></li>
          <li><a class="menu-item" href="/site/pages/disclosure.html">Disclosure</a></li>
          <li><a class="menu-item" href="/site/pages/tabs.html">Tabs</a></li>
        </ul>
      </li>

      <li class="nav-category" data-nav-category="utilities">
        <div class="menu-title">Utilities</div>
        <ul>
          <li><a class="menu-item" href="/site/pages/focus.html">Focus</a></li>
          <li><a class="menu-item" href="/site/pages/portal.html">Portal</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</ui-sidebar>