ui-switch{
  --ui-switch-track-border-radius:var(--ui-border-radius-pill);
  --ui-switch-track-height:24px;
  --ui-switch-track-width:40px;
  --ui-switch-track-surface-color:var(--ui-color-gray-600);
  --ui-switch-track-checked-surface-color:var(--ui-color-blue-500);
  --ui-switch-thumb-border-radius:var(--ui-border-radius-circle);
  --ui-switch-thumb-height:16px;
  --ui-switch-thumb-width:16px;
  --ui-switch-thumb-position-start:4px;
  --ui-switch-thumb-position-end:20px;
  --ui-switch-thumb-surface-color:var(--ui-color-white);

  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:var(--ui-switch-track-height);
  width:var(--ui-switch-track-width);
  padding-inline-start:var(--ui-switch-thumb-position-start);
  border-radius:var(--ui-switch-track-border-radius);
  background-color:var(--ui-switch-track-surface-color);
  transition-property:background-color,outline-color,padding-inline-start;

  &[disabled]{
    cursor:not-allowed;
    opacity:0.5;
    pointer-events:auto;
  }

  &:focus-visible:not([disabled]){
    outline-color:var(--ui-outline-color);
  }

  &::before{
    height:var(--ui-switch-thumb-height);
    width:var(--ui-switch-thumb-width);
    border-radius:var(--ui-switch-thumb-border-radius);
    background-color:var(--ui-switch-thumb-surface-color);
    content:'';
  }

  &[checked]{
    padding-inline-start:var(--ui-switch-thumb-position-end);
    background-color:var(--ui-switch-track-checked-surface-color);
  }

  /* shape */
  &[shape="pill"]{
    --ui-switch-track-border-radius:var(--ui-border-radius-pill);
    --ui-switch-thumb-border-radius:var(--ui-border-radius-circle);
  }

  &[shape="square"]{
    --ui-switch-track-border-radius:var(--ui-border-radius-square);
    --ui-switch-thumb-border-radius:var(--ui-border-radius-square);
  }
}