ui-switch{
  --switch-border-radius:var(--rounded-full);

  --switch-track-bg:var(--control-bg-default);

  --switch-track-height:24px;
  --switch-track-width:40px;
  --switch-track-checked-bg-color:var(--color-blue-500);
  --switch-thumb-height:16px;
  --switch-thumb-width:16px;
  --switch-thumb-position-start:4px;
  --switch-thumb-position-end:20px;
  --switch-thumb-bg:var(--control-fg-default);

  border-radius:var(--switch-border-radius);

  & > input{
    justify-content:start;
    height:var(--switch-track-height);
    width:var(--switch-track-width);

    padding-inline-start:var(--switch-thumb-position-start);
    border-radius:inherit;
    background-color:var(--switch-track-bg);
    transition-duration:var(--transition-duration-default);
    transition-property:background-color,outline-color,padding-inline-start;

    @media (hover: hover){
      &:not(:disabled):hover{
        background-color:unset;
      }
    }

  }



  & > input::before{
    position: absolute;
    content:'';
    height:var(--switch-thumb-height);
    width:var(--switch-thumb-width);
    border-radius:inherit;
    background-color:var(--switch-thumb-bg);
  }

  &[checked] > input{
    padding-inline-start:var(--switch-thumb-position-end);
    background-color:var(--switch-track-checked-bg-color);
  }
}