ui-switch{
  --switch-height:var(--control-choice-medium);
  --switch-width:calc(var(--switch-height) * 2);
  --switch-border-radius:var(--rounded-full);

  position:relative;
  display:inline-flex;
  height:var(--switch-height);
  width:var(--switch-width);
  border-radius:var(--switch-border-radius);

  input:is([type="checkbox"]){
    appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;

    cursor:var(--cursor-interactive);
    touch-action:manipulation;
    -webkit-tap-highlight-color:transparent;

    position:relative;
    background-color:var(--control-choice-bg);

    border-width:var(--control-border-width);
    border-style:var(--control-border-style);
    border-color:var(--control-border-color);

    outline-width:var(--outline-focus-width);
    outline-style:var(--outline-focus-style);
    outline-offset:var(--outline-focus-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:outline-color;

    &:disabled{
      cursor:var(--cursor-disabled);
    }

    &:focus-visible{
      outline-color:var(--outline-focus-color);
    }
  }

  & > input[type="checkbox"],
  & > ui-icon{
    position:absolute;
    width:inherit;
    height:inherit;
    border-radius:inherit;
  }

  & > ui-icon{
    pointer-events:none;
    background-color:transparent;
    transition-duration:var(--duration-default);
    transition-property:background-color;
  }

  &:has(> input[type="checkbox"]:checked) > ui-icon{
    background-color:var(--control-choice-bg);
  }

  & > ui-icon > svg{
    pointer-events:none;
    height:calc(var(--switch-height) / 2);
    width:calc(var(--switch-height) / 2);

    border-radius:inherit;
    background-color:var(--color-white);
    margin-inline-start:calc(var(--switch-height) * -1);
    transition-duration:var(--duration-default);
    transition-property:margin-inline-start;
  }

  &:has(> input[type="checkbox"]:checked) > ui-icon > svg{
    margin-inline-start:var(--switch-height);
  }

  &[data-size="small"]{--switch-height:var(--control-choice-small);}
  &[data-size="medium"]{--switch-height:var(--control-choice-medium);}
  &[data-size="large"]{--switch-height:var(--control-choice-large);}

  &[data-rounded="none"]{border-radius:var(--rounded-none);}
}