ui-switch{
  --switch-size:var(--control-choice-medium);
  --switch-border-radius:var(--rounded-full);
  --switch-indicator-bg:var(--control-choice-indicator-bg);
  --switch-indicator-fg:var(--control-choice-indicator-fg);

  position:relative;
  display:inline-flex;
  vertical-align:middle;
  user-select:none;

  height:var(--switch-size);
  width:calc(var(--switch-size) * 2);
  border-radius:var(--switch-border-radius);

  & > input:is([type="checkbox"]){
    appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;

    cursor:var(--cursor-interactive);
    touch-action:manipulation;
    -webkit-tap-highlight-color:transparent;

    background-color:var(--control-choice-bg);

    border-width:var(--control-border-width);
    border-style:var(--control-border-style);
    border-color:var(--control-border-color);

    outline-width:var(--outline-focus-width);
    outline-style:var(--outline-focus-style);
    outline-offset:var(--outline-focus-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:outline-color;

    &:disabled{
      cursor:var(--cursor-disabled);
    }

    &:focus-visible{
      outline-color:var(--outline-focus-color);
    }
  }

  & > input[type="checkbox"],
  & > span{
    position:absolute;
    width:inherit;
    height:inherit;
    border-radius:inherit;
  }

  & > span{
    pointer-events:none;
    display:flex;
    align-items:center;
    background-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:background-color;
  }

  &:has(> input[type="checkbox"]:checked) > span{
    background-color:var(--control-choice-indicator-bg);
  }

  & > span::before{
    content:'';
    position:absolute;
    border-radius:inherit;

    height:calc(var(--switch-size) * 0.5);
    width:calc(var(--switch-size) * 0.5);

    background-color:var(--control-choice-indicator-fg);
    margin-inline-start:calc(var(--switch-size) * 0.25);

    transition-duration:var(--duration-default);
    transition-property:margin-inline-start;
  }

  &:has(> input[type="checkbox"]:checked) > span::before{
    margin-inline-start:calc(var(--switch-size) * 2 - var(--switch-size) * 0.5 - var(--switch-size) * 0.25);
  }

  &[data-size="small"]{--switch-size:var(--control-choice-small);}
  &[data-size="medium"]{--switch-size:var(--control-choice-medium);}
  &[data-size="large"]{--switch-size:var(--control-choice-large);}
}