ui-switch{
  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  justify-content:start;
  height:var(--ui-switch-size);
  width:calc(var(--ui-switch-size) * 2);
  padding:calc(var(--ui-switch-size) / 6);
  border:none;
  border-radius:var(--ui-border-radius-pill);
  outline-width:2px;
  outline-offset:2px;
  outline-style:solid;
  outline-color:transparent;
  background-color:var(--ui-switch-background-color);
  line-height:1;
  cursor:pointer;
  overflow:hidden;}

ui-switch[ui]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color,outline-color;}

ui-switch:focus-visible:not([disabled]){
  outline-color:var(--ui-switch-outline-color);}

ui-switch::before{
  content:'';
  position:absolute;
  top:calc(var(--ui-switch-size) / 6);
  inset-inline-start:calc(var(--ui-switch-size) / 6);
  height:calc(var(--ui-switch-size) - var(--ui-switch-size) / 3);
  aspect-ratio:1;
  border-radius:var(--ui-border-radius-circle);
  background-color:var(--ui-color-white);
  transition-duration:var(--ui-transition-duration);
  transition-property:inset-inline-start;}

ui-switch[checked]::before{
  inset-inline-start:calc(100% - var(--ui-switch-size) + var(--ui-switch-size) / 6);}

ui-switch[checked]{
  background-color:var(--ui-switch-checked-background-color);}

/* color */
ui-switch[color="default"]{
  --ui-switch-background-color:var(--ui-color-gray-600);
  --ui-switch-border-color:var(--ui-color-gray-500);
  --ui-switch-outline-color:var(--ui-outline-color);
  --ui-switch-checked-background-color:var(--ui-color-blue-500);}

/* size */
ui-switch[size="small"]{
  --ui-switch-size:var(--ui-size-small);
  --ui-icon-size:var(--ui-icon-size-small);}

ui-switch[size="medium"]{
  --ui-switch-size:var(--ui-size-medium);
  --ui-icon-size:var(--ui-icon-size-medium);}

ui-switch[size="large"]{
  --ui-switch-size:var(--ui-size-large);
  --ui-icon-size:var(--ui-icon-size-large);}