ui-switch{
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:var(--ui-object-height);
  width:calc(var(--ui-object-height) * 2);
  border:none;
  border-radius:9999px;
  outline-width:2px;
  outline-offset:2px;
  outline-style:solid;
  outline-color:transparent;
  background-color:rgb(100,100,100);
  line-height:1;
  cursor:pointer;
  overflow:hidden;}

ui-switch[animated]{
  transition-duration:var(--ui-transition-duration);
  transition-property:background-color;}

ui-switch:focus-visible:not([disabled]){
  outline-color:var(--rgb-100-100-100);}

ui-switch::before{
  content:'';
  height:calc(var(--ui-object-height) - (var(--ui-object-height) / 4));
  aspect-ratio:1;
  border-radius:50%;
  background-color:var(--color-white);
  transition-duration:var(--ui-transition-duration);
  transition-property:transform;
  transform:translateX(
    calc(var(--ui-object-height) / 8)
  );}

ui-switch[aria-checked="true"]::before{
  transform:translateX(
    calc(var(--ui-object-height) + (var(--ui-object-height) / 8))
  );}

ui-switch[aria-checked="true"]{
  background-color:rgb(35,150,245);}