ui-alert{
  display:flex;
  padding-block:var(--ui-alert-padding-block);
  padding-inline:var(--ui-alert-padding-inline);
  border-radius:var(--ui-alert-border-radius);
  background-color:var(--ui-alert-background-color);
  row-gap:var(--ui-alert-row-gap);
  width:100%;
  max-width:var(--ui-alert-max-width);

  /* icon */
  & > [data-ui="alert-icon"]{
    display:flex;
    align-items:center;
    padding-inline-end:20px;
    height:100%;
    color:var(--ui-alert-icon-color);

    svg{
      width:var(--ui-alert-icon-size);
      height:var(--ui-alert-icon-size);}
  }

  & > [data-ui="alert-body"]{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    min-width:0;
    padding-block-start:2px;
    padding-inline-end:6px;
    row-gap:var(--ui-alert-row-gap);}

  & > [data-ui="alert-title"]{
    -webkit-user-select:text;
    user-select:text;
    flex-grow:1;
    line-height:var(--ui-line-height-150);
    font-size:var(--ui-alert-title-font-size);
    color:var(--ui-alert-title-font-color);}

  & > ui-button[data-ui="alert-close"]{
    color:var(--ui-alert-close-icon-color);
    width:var(--ui-alert-close-icon-size);
    height:var(--ui-alert-close-icon-size);
    padding:4px;

    @media (hover: hover){
      &:hover svg{
        color:var(--ui-alert-close-icon-color-hover);}
    }
  }

  /* description */
  & > [data-ui="alert-description"]{
    -webkit-user-select:text;
    user-select:text;
    line-height:var(--ui-line-height-150);
    font-size:var(--ui-alert-description-font-size);
    color:var(--ui-alert-description-font-color);

    ul,ol,p{margin:0;}
    ul,ol{padding-inline-start:14px;}
  }

  /* shape */
  &[shape="rounded"]{--ui-alert-border-radius:var(--ui-border-radius-rounded);}
  &[shape="square"]{--ui-alert-border-radius:var(--ui-border-radius-square);}

  /* theme */
  &[theme="default"]{
    --ui-alert-background-color:var(--ui-color-gray-800);
    --ui-alert-title-font-color:var(--ui-color-white);
    --ui-alert-description-font-color:var(--ui-color-gray-350);
    --ui-alert-icon-color:var(--ui-color-white);
    --ui-alert-close-icon-color:var(--ui-color-gray-350);
    --ui-alert-close-icon-color-hover:var(--ui-color-white);
    --ui-alert-outline-color:var(--ui-color-gray-500);}

  /* size */
  &[size="default"]{
    --ui-alert-max-width:500px;
    --ui-alert-padding-block:16px;
    --ui-alert-padding-inline:20px 18px;
    --ui-alert-title-font-size:14px;
    --ui-alert-description-font-size:14px;
    --ui-alert-row-gap:8px;
    --ui-alert-icon-size:24px;
    --ui-alert-close-icon-size:17px;}
}