ui-alert{
  position:relative;
  display:grid;
  grid-template-columns:auto 1fr;
  grid-template-rows:auto auto;
  width:100%;
  align-items:start;
  padding-block:var(--ui-alert-padding-block);
  padding-inline:var(--ui-alert-padding-inline);
  border-radius:var(--ui-alert-border-radius);
  background-color:var(--ui-alert-background-color);
  max-width:var(--ui-alert-max-width);

  &:has([role="heading"]):has([role="note"]){gap:8px 0;}

  /* icon */
  & > ui-icon{
    height:100%;
    color:var(--ui-alert-icon-color);
    grid-column:1 / 2;
    grid-row:1 / 3;
    margin-inline-end:20px;

    > svg{
      width:var(--ui-alert-icon-size);
      height:var(--ui-alert-icon-size);}
  }

  &:has([role="heading"]) > [role="heading"],
  &:not(:has([role="heading"])) > [role="note"]{
    padding-inline-end:24px;}

  /* title */
  & > [role="heading"]{
    -webkit-user-select:text;
    user-select:text;
    flex-grow:1;
    line-height:var(--ui-line-height-normal);
    font-size:var(--ui-alert-title-font-size);
    color:var(--ui-alert-title-font-color);
    grid-column:2 / 3;
    grid-row:1 / 2;}

  /* content */
  & > [role="note"]{
    -webkit-user-select:text;
    user-select:text;
    line-height:var(--ui-line-height-normal);
    font-size:var(--ui-alert-content-font-size);
    color:var(--ui-alert-content-font-color);
    grid-column:2 / 3;
    grid-row:2 / 3;

    ul,ol,p{margin:0;}
    ul,ol{padding-inline-start:14px;}
  }

  /* close button */
  & > ui-button[ui="alert-close"]{
    position:absolute;
    top:14px;
    inset-inline-end:12px;
    height:24px;
    width:24px;

    > ui-icon > svg{
      height:16px;
      width:16px;}
  }

  /* shape */
  &[shape="rounded"]{
    --ui-alert-border-radius:var(--ui-border-radius-rounded);}

  &[shape="square"]{
    --ui-alert-border-radius:var(--ui-border-radius-square);}

  /* theme */
  &[theme="default"]{
    --ui-alert-background-color:var(--ui-color-gray-800);
    --ui-alert-title-font-color:var(--ui-color-white);
    --ui-alert-content-font-color:var(--ui-color-gray-350);
    --ui-alert-icon-color:var(--ui-color-white);
    --ui-alert-close-icon-color:var(--ui-color-gray-350);
    --ui-alert-close-icon-color-hover:var(--ui-color-white);}

  /* size */
  &[size="default"]{
    --ui-alert-max-width:500px;
    --ui-alert-padding-block:16px;
    --ui-alert-padding-inline:20px;
    --ui-alert-title-font-size:14px;
    --ui-alert-content-font-size:14px;
    --ui-alert-icon-size:24px;}
}