<section class="intro">
  <h1>Label</h1>
  <p>A label provides accessible, descriptive text for a user interface control.</p>
</section>

<section class="details">
  <h2>Info</h2>
  <p>The component is used in conjunction with a form control and a <a href="#field">field</a>.</p>
  <p>By default, the cursor is set to pointer.</p>
</section>

<section class="details">
  <h2>Attributes</h2>
  <p>passive — static (optional). Sets the cursor to default, giving the impression that the element is not interactive.</p>
  <p>required — static (optional). Indicates whether the associated form control is required.</p>
  <p>indicator — static (optional). Default: *. Overrides the default required indicator. The indicator is added only if the 'required' attribute is present. It can be either a single character or a string.</p>
</section>

<section class="content">

  <div class="content-item">
    <div>Default</div>
    <div class="example">
      <div class="preview">
        <ui-label>Label</ui-label>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-label&gt;Label&lt;/ui-label&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>The label is passive</div>
    <div class="example">
      <div class="preview">
        <ui-label passive>Label</ui-label>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-label passive&gt;Label&lt;/ui-label&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Required</div>
    <div class="example">
      <div class="preview">
        <ui-label required>Label</ui-label>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-label required&gt;Label&lt;/ui-label&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Override required indicator</div>
    <div class="example">
      <div class="preview">
        <ui-label indicator="•" required>Label</ui-label>
        <ui-label indicator="(required)" required>Label</ui-label>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-label indicator="•" required&gt;Label&lt;/ui-label&gt;

&lt;ui-label indicator="(required)" required&gt;Label&lt;/ui-label&gt;
</code></pre>

      </div>
    </div>
  </div>

</section>