<section class="intro">
  <h1>Label</h1>
  <div class="description">A label provides accessible, descriptive text for a user interface control.</div>
</section>

<section class="details">
  <div class="info">
    <h2>Usage</h2>
    <ul>
      <li>
        The component is used in conjunction with a form control and a <a href="#field">field</a>.
      </li>
    </ul>
  </div>
  <div class="info">
    <h2>Features</h2>
    <ul>
      <li>
        By default, the cursor is set to pointer.
      </li>
    </ul>
  </div>
  <div class="info">
    <h2>Attributes</h2>
    <ul>
      <li>
        passive - static (optional).<br>
        Sets the cursor to default, giving the impression that the element is not interactive.
      </li>
      <li>
        required - static (optional).<br>
        Indicates whether the associated form control is required.
      </li>
      <li>
        indicator - static (optional). Default: *.<br>
        Overrides the default required indicator. The indicator is added only if the 'required' attribute is present. It can be either a single character or a string.
      </li>
    </ul>
  </div>
</section>

<section class="content">

  <div class="content-item">
    <div>Label</div>
    <div class="example">
      <div class="preview">
        <ui-label>Label</ui-label>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-label&gt;Label&lt;/ui-label&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>The label is passive</div>
    <div class="example">
      <div class="preview">
        <ui-label passive>Label</ui-label>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-label passive&gt;Label&lt;/ui-label&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Required</div>
    <div class="example">
      <div class="preview">
        <ui-label required>Label</ui-label>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-label required&gt;Label&lt;/ui-label&gt;
</code></pre>

      </div>
    </div>
  </div>

  <div class="content-item">
    <div>Override required indicator</div>
    <div class="example">
      <div class="preview">
        <ui-label indicator="•" required>Label</ui-label>
        <ui-label indicator="(required)" required>Label</ui-label>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-label indicator="•" required&gt;Label&lt;/ui-label&gt;

&lt;ui-label indicator="(required)" required&gt;Label&lt;/ui-label&gt;
</code></pre>

      </div>
    </div>
  </div>

</section>