:root[data-color-mode='light']{
  --bg-color-transparent:oklch(0 0 0 / 0);

  --bg-color-default:oklch(0.97 0 0);
  --bg-color-inset:oklch(0.94 0 0);


  --bg-color-muted:oklch(0.92 0 0);
  --bg-color-emphasis:oklch(0.33 0 0);















  --fg-default:oklch(0.14 0 0);
  --fg-muted:  oklch(0.36 0 0);
  --fg-subtle: oklch(0.46 0 0);

  --state-intensity:1;
  --state-hover-opacity:0.08;
  --state-pressed-opacity:0.12;


  /* checkbox | switch | radio | input | textarea */
  --control-choice-bg-inset:oklch(0.92 0 0);
  --control-choice-bg-checked:oklch(0.56 0.2 255);

  --control-bg-inset:oklch(0.06 0 0);
  --control-bg-default:oklch(0 0 0);
  --control-bg-disabled:oklch(0.85 0 0);

  --control-fg:oklch(1 0 0);
  --control-fg-disabled:oklch(0.56 0 0);



  --bg-soft:oklch(from oklch(0.69 0.01 240) l c h / 0.2);
  --fg-soft:oklch(0 0 0);



  --control-border-color:oklch(0.29 0 0);
  --control-border-color-disabled:oklch(0.35 0 0);



  --control-indicator:oklch(1 0 0);
  --control-indicator-disabled:oklch(0.56 0 0);

  --control-thumb:oklch(1 0 0);
  --control-track:oklch(0.08 0 0);

  --control-placeholder:oklch(0.68 0 0);



  --control-choice-bg-checked:oklch(0.56 0.2 255);





  /* line */
  --line-color:oklch(75% 0 0);

  /* focus-ring */
  --focus-ring-color:oklch(70% 0.16 255);

  /* scrollbar */
  --scrollbar-color:oklch(83% 0 0);

  /* selection */
  --selection-color:oklch(0 0 0 / 0.1);

  /* separator */
  --separator-color:oklch(75% 0 0);

  /* link */
  --link-color:oklch(45% 0.15 245);
  --link-color-hover:oklch(from var(--link-color) calc(l + 0.05) c h);
  --link-color-active:oklch(from var(--link-color) calc(l - 0.03) c h);

  /* spinner */
  --spinner-track-color:oklch(0.72 0.2 255);
  --spinner-thumb-color:oklch(0.88 0.1 255);
}