ui-radio{
  --radio-size:var(--control-choice-medium);
  --radio-border-radius:var(--rounded-full);
  --radio-indicator-bg:var(--control-choice-indicator-bg);
  --radio-indicator-fg:var(--control-choice-indicator-fg);

  position:relative;
  display:inline-flex;
  vertical-align:middle;
  user-select:none;

  height:var(--radio-size);
  width:var(--radio-size);
  border-radius:var(--radio-border-radius);

  & > input[type="radio"]{
    appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;

    cursor:var(--cursor-interactive);
    touch-action:manipulation;
    -webkit-tap-highlight-color:transparent;

    background-color:var(--control-choice-bg);

    border-width:var(--control-border-width);
    border-style:var(--control-border-style);
    border-color:var(--control-border-color);

    outline-width:var(--outline-focus-width);
    outline-style:var(--outline-focus-style);
    outline-offset:var(--outline-focus-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:outline-color;

    &:disabled{
      cursor:var(--cursor-disabled);
    }

    &:focus-visible{
      outline-color:var(--outline-focus-color);
    }
  }

  & > input[type="radio"],
  & > span{
    position:absolute;
    width:inherit;
    height:inherit;
    border-radius:inherit;
  }

  & > span{
    pointer-events:none;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:var(--control-choice-indicator-bg);

    opacity:0;

    transition-duration:var(--duration-default);
    transition-property:opacity;
  }

  &:has(> input[type="radio"]:checked) > span{
    opacity:1;
  }

  & > span::before{
    content:'';
    position:absolute;
    border-radius:inherit;

    background-color:var(--control-choice-indicator-fg);

    height:round(calc(var(--radio-size) * 0.5 - var(--radio-size) * 0.1),1px);
    width:round(calc(var(--radio-size) * 0.5 - var(--radio-size) * 0.1),1px);
  }

  &[data-size="small"]{--radio-size:var(--control-choice-small);}
  &[data-size="medium"]{--radio-size:var(--control-choice-medium);}
  &[data-size="large"]{--radio-size:var(--control-choice-large);}
}