ui-radio{
  --radio-size:var(--control-choice-medium);

  position:relative;
  display:inline-flex;
  vertical-align:middle;

  height:var(--radio-size);
  width:var(--radio-size);
  border-radius:var(--rounded-full);
  color:var(--color-white);

  & > input[type="radio"]{
    appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;

    cursor:var(--cursor-interactive);
    position:relative;
    user-select:none;
    touch-action:manipulation;
    -webkit-tap-highlight-color:transparent;

    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--border-color);

    outline-width:var(--outline-focus-width);
    outline-style:var(--outline-focus-style);
    outline-offset:var(--outline-focus-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:outline-color;

    &:disabled{
      cursor:var(--cursor-disabled);
    }

    &:focus-visible{
      outline-color:var(--outline-focus-color);
    }
  }

  & > input[type="radio"],
  & > ui-icon{
    position:absolute;
    width:inherit;
    height:inherit;
    border-radius:inherit;
  }

  & > ui-icon{
    pointer-events:none;
    opacity:0;
    background-color:var(--control-choice-bg);
    transition-duration:var(--duration-default);
    transition-property:opacity;
  }

  & > ui-icon > svg{
    height:calc(var(--radio-size) * 0.5);
    width:calc(var(--radio-width) * 0.5);
  }

  &:has(> input[type="radio"]:checked) > ui-icon{
    opacity:1;
  }

  &[data-size="small"]{--radio-size:var(--control-choice-small);}
  &[data-size="medium"]{--radio-size:var(--control-choice-medium);}
  &[data-size="large"]{--radio-size:var(--control-choice-large);}

  &[data-rounded="full"]{border-radius:var(--rounded-full);}
  &[data-rounded="none"]{border-radius:var(--rounded-none);}
}