ui-radio{
  --radio-size:var(--choice-md);
  --radio-border-radius:var(--rounded-full);
  --radio-bg:var(--choice-bg);
  --radio-bg-checked:var(--choice-bg-checked);
  --radio-fg:var(--choice-fg);

  position:relative;
  display:inline-flex;
  vertical-align:middle;
  user-select:none;
  -webkit-user-select:none;

  height:var(--radio-size);
  width:var(--radio-size);
  border-radius:var(--radio-border-radius);

  &[disabled]{
    --radio-bg:var(--choice-bg-disabled);
    --radio-bg-checked:var(--choice-bg-checked-disabled);
    --radio-fg:var(--choice-fg-disabled);
  }

  & > input[type="radio"]{
    appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;

    cursor:var(--cursor-interactive);
    touch-action:manipulation;

    background-color:var(--radio-bg);

    border-width:var(--control-border-width);
    border-style:var(--control-border-style);
    border-color:var(--control-border-color);

    outline-width:var(--focus-ring-width);
    outline-style:var(--focus-ring-style);
    outline-offset:var(--focus-ring-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:outline-color,border-color;

    &:disabled{
      cursor:var(--cursor-disabled);
    }

    &:focus-visible{
      outline-color:var(--focus-ring-color);
    }

    &:checked{
      border-color:transparent;
    }

    @media (hover: hover){
      &:not(:disabled,:checked):hover{
        border-color:var(--control-border-color-hover);
      }
    }
  }

  & > input[type="radio"],
  & > span{
    position:absolute;
    width:inherit;
    height:inherit;
    border-radius:inherit;
  }

  & > span{
    pointer-events:none;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:var(--radio-bg-checked);

    opacity:0;

    transition-duration:var(--duration-default);
    transition-property:opacity;
  }

  & > input[type="radio"]:checked + span{
    opacity:1;
  }

  & > span::before{
    content:'';
    position:absolute;
    border-radius:inherit;

    background-color:var(--radio-fg);

    height:round(calc(var(--radio-size) * 0.5 - var(--radio-size) * 0.1),1px);
    width:round(calc(var(--radio-size) * 0.5 - var(--radio-size) * 0.1),1px);
  }

  &[size="small"]{--radio-size:var(--choice-sm);}
  &[size="medium"]{--radio-size:var(--choice-md);}
  &[size="large"]{--radio-size:var(--choice-lg);}
}