ui-accordion{
  --ui-accordion-border-radius:var(--ui-border-radius-rounded);
  --ui-accordion-padding-inline:var(--ui-padding-inline);  
  --ui-accordion-padding-block:20px;
  
  --ui-accordion-header-padding-inline:20px 46px;
  --ui-accordion-surface-color:var(--ui-surface-color-default);

  display:flex;
  flex-direction:column;
  row-gap:10px;
  width:100%;

  & > div{
    position:relative;
    display:grid;

    border-radius:var(--ui-accordion-border-radius);
    background-color:var(--ui-panel-color-default);
    transition-property:grid-template-rows;
    transition-duration:var(--ui-duration);
    transition-timing-function:ease-out;
  }

  & > div[data-expanded="true"]{
    grid-template-rows:max-content 1fr;
  }

  & > div[data-expanded="false"]{
    grid-template-rows:max-content 0fr;
  }

  & > div > div[role="region"]{
    overflow:hidden;
    padding-inline:var(--ui-accordion-padding-inline);
  }

  & > div > div[role="region"]::after{
    content:'';
    position:relative;
    display:block;
    height:var(--ui-accordion-padding-block);
  }

  & > div > :is(h2,h3,h4,h5,h6):first-child{
    font-size:var(--ui-font-size-large);
  }

  & > div > :is(h2,h3,h4,h5,h6):first-child > button{
    position:relative;
    display:flex;
    align-items:center;
    column-gap:10px;
    width:100%;
    border:0;
    border-radius:var(--ui-accordion-border-radius);
    background-color:transparent;
    text-align:start;

    padding-inline:var(--ui-accordion-padding-inline);
    padding-block:var(--ui-accordion-padding-block);
    font-size:inherit;
    color:inherit;
    transition-property:outline-color;

    @media (hover: hover){
      &:not([disabled]):hover{
        text-decoration:underline;
      }
    }

    & > ui-icon[expand-icon]{
      position:absolute;
      inset-inline-end:14px;
      transition-duration:var(--ui-duration);
      transition-property:transform;
    }

    &[aria-expanded="false"] > ui-icon[expand-icon]{transform:rotate(0deg);}
    &[aria-expanded="true"] > ui-icon[expand-icon]{transform:rotate(180deg);}
  }

}