ui-accordion{
  --accordion-border-radius:var(--border-radius-default);
  --accordion-background-color:var(--panel-color-default);

  --accordion-spacing:var(--spacing-default);
  --accordion-padding-inline:var(--accordion-spacing);
  --accordion-padding-block:calc(var(--accordion-spacing) * 0.75);
  --accordion-gap:calc(var(--accordion-spacing) / 2);
  
  display:flex;
  flex-direction:column;
  row-gap:var(--accordion-gap);
  width:100%;

  & > div{
    position:relative;
    display:grid;

    border-radius:var(--accordion-border-radius);
    background-color:var(--accordion-background-color);
    transition-property:grid-template-rows;
    transition-duration:var(--transition-duration-default);
    transition-timing-function:ease-in-out;
  }

  & > div[data-expanded="true"]{
    grid-template-rows:max-content 1fr;
  }

  & > div[data-expanded="false"]{
    grid-template-rows:max-content 0fr;
  }

  & > div > div[role="region"]{
    overflow:hidden;
    padding-inline:var(--accordion-padding-inline);
  }

  & > div > div[role="region"]::after{
    content:'';
    position:relative;
    display:block;
    height:var(--accordion-padding-block);
  }

  & > div > :is(h2,h3,h4,h5,h6):first-child{
    font-size:var(--font-size-large);
  }

  & > div > :is(h2,h3,h4,h5,h6):first-child > button{
    position:relative;
    display:flex;
    align-items:center;
    column-gap:10px;
    width:100%;
    border:0;
    border-radius:var(--accordion-border-radius);
    background-color:transparent;
    text-align:start;

    padding-inline:var(--accordion-padding-inline);
    padding-block:var(--accordion-padding-block);
    font-size:inherit;
    color:inherit;
    transition-property:outline-color;

    @media (hover: hover){
      &:not([disabled]):hover{
        text-decoration:underline;
      }
    }

    & > ui-icon[expand-icon]{
      margin-inline-start:auto;
      margin-inline-end:-0.25rem;
      transition-duration:var(--transition-duration-default);
      transition-property:transform;
    }
  }

  & > div[data-expanded="false"] ui-icon[expand-icon]{transform:rotate(0deg);}
  & > div[data-expanded="true"] ui-icon[expand-icon]{transform:rotate(180deg);}
}