ui-accordion{
  --ui-accordion-border-radius:var(--ui-border-radius-rounded);
  --ui-accordion-padding-inline:var(--ui-padding-inline);  
  --ui-accordion-padding-block:20px;
  
  --ui-accordion-header-padding-inline:20px 46px;
  --ui-accordion-surface-color:var(--ui-surface-color-default);

  display:flex;
  flex-direction:column;
  row-gap:10px;
  width:100%;

  & > div{
    width:100%;
    border-radius:var(--ui-accordion-border-radius);
    background-color:var(--ui-accordion-surface-color);
  }

  & > div > :is(h1,h2,h3,h4,h5,h6):first-child{
    font-size:100%;
  }

  & > div > :is(h1,h2,h3,h4,h5,h6):first-child > button{
    position:relative;
    display:flex;
    align-items:center;
    column-gap:10px;
    width:100%;
    border:0;
    border-radius:var(--ui-accordion-border-radius);
    background-color:transparent;
    text-align:start;

    padding-inline:var(--ui-accordion-padding-inline);
    padding-block:var(--ui-accordion-padding-block);
    font-size:110%;
    color:inherit;
    transition-property:outline-color;

    @media (hover: hover){
      &:not([disabled]):hover{
        text-decoration:underline;
      }
    }

    & > ui-icon[ui-accordion-expand-icon]{
      position:absolute;
      inset-inline-end:14px;
      transition-duration:var(--ui-duration);
      transition-property:transform;
    }

    &[aria-expanded="false"] > ui-icon[ui-accordion-expand-icon]{transform:rotate(0deg);}
    &[aria-expanded="true"] > ui-icon[ui-accordion-expand-icon]{transform:rotate(180deg);}
  }

  & > div > div[role="region"]{
    padding-inline:var(--ui-accordion-padding-inline);
    padding-block-end:calc(var(--ui-accordion-padding-block) - 4px);
  }
}