ui-accordion{
  display:flex;
  flex-direction:column;
  row-gap:0.5rem;
  width:100%;
}

ui-accordion-item{
  --accordion-border-radius:var(--border-radius-default);
  --accordion-bg:var(--surface-bg);

  --accordion-padding-block:var(--padding-medium);
  --accordion-padding-inline:var(--padding-large);

  position:relative;
  display:grid;
  transition-duration:inherit;

  border-radius:var(--accordion-border-radius);
  background-color:var(--accordion-bg);

  transition-property:grid-template-rows;
  transition-timing-function:ease-in-out;

  &[expanded]{
    grid-template-rows:max-content 1fr;
  }

  &:not([expanded]){
    grid-template-rows:max-content 0fr;
  }

  & > div[role="region"]{
    overflow:hidden;
    padding-inline:var(--accordion-padding-inline);
  }

  & > div[role="region"]::after{
    content:'';
    position:relative;
    display:block;
    height:var(--accordion-padding-block);
  }

  & > :is(h2,h3,h4,h5,h6):first-child{
    font-size:var(--font-size-large);
  }

  & > :is(h2,h3,h4,h5,h6):first-child > button{
    position:relative;
    display:flex;
    align-items:center;
    column-gap:10px;
    width:100%;
    border:0;
    border-radius:var(--accordion-border-radius);
    background-color:transparent;
    text-align:start;

    padding-block:var(--accordion-padding-block);
    padding-inline:var(--accordion-padding-inline);
    font-size:inherit;
    color:inherit;
    transition-property:outline-color;

    @media (hover: hover){
      &:not([disabled]):hover{
        text-decoration:underline;
      }
    }

    & > ui-icon:last-of-type{
      margin-inline-start:auto;
      margin-inline-end:-0.25rem;
      transition-duration:var(--transition-duration-default);
      transform-origin:center;
      transition-property:transform;
    }
  }

  &[expanded] ui-icon:last-of-type{
    transform:rotateX(180deg);
  }
}