ui-separator{
  --ui-separator-height:1px;
  --ui-separator-width:100%;
  --ui-separator-surface-color:var(--ui-surface-color-default);

  display:block;
  height:var(--ui-separator-height);
  width:var(--ui-separator-width);
  background-color:var(--ui-separator-surface-color);

  &[vertical]{
    --ui-separator-height:100%;
    --ui-separator-width:1px;
  }
}