ui-disclosure{
  --disclosure-border-radius:var(--radius-default);

  --disclosure-padding-inline:0;
  --disclosure-padding-block:1.25rem;
  --disclosure-spacing:1.25rem;

  --disclosure-fg:var(--fg-default);
  --disclosure-bg:transparent;

  position:relative;
  display:grid;
  grid-template-rows:max-content 0fr;
  width:100%;

  border-radius:var(--disclosure-border-radius);

  background-color:var(--disclosure-bg);

  transition-duration:var(--duration-default);
  transition-property:grid-template-rows;
  transition-timing-function:ease-in-out;

  &[expanded]{
    grid-template-rows:max-content 1fr;
  }

  &:is([variant="soft"],[variant="outline"],[variant="soft-outline"]){
    --disclosure-padding-inline:1.5rem;
  }

  &:is([variant="soft"],[variant="soft-outline"]){
    --disclosure-bg:var(--bg-surface);
  }

  &:is([variant="outline"],[variant="soft-outline"]){
    border-color:red;
  }

  &[variant] > button{
    padding-block:var(--disclosure-padding-block);
  }

  &[variant] > :is(button,button + *){
    padding-inline:var(--disclosure-padding-inline);
  }

  & > button{
    position:relative;
    display:flex;
    align-items:center;
    column-gap:calc(0.5rem * var(--scaling));
    width:100%;
    border-radius:var(--disclosure-border-radius);

    font-size:calc(var(--font-size-default) * 1.125);

    color:var(--fg-default);

    transition-duration:var(--duration-default);
    transition-property:background-color,outline-color;

    &:disabled{
      color:var(--control-fg-disabled);
    }

    & > ui-icon:last-of-type{
      margin-inline-start:auto;
      margin-inline-end:-0.4rem;
      transition-duration:var(--duration-default);
      transform-origin:center;
      transition-property:transform;
    }
  }

  & > button + *{
    overflow:hidden;
  }

  &:not([variant]) > button + *::before{
    display:block;
    content:'';
    width:100%;
    height:var(--disclosure-spacing);
  }

  &[variant] > button + *::after{
    display:block;
    content:'';
    width:100%;
    height:var(--disclosure-spacing);
  }


  &[expanded] > button > ui-icon:last-of-type{
    transform:rotateX(180deg);
  }
}