ui-tabs{
  --ui-tabs-gap:10px;
  --ui-tabs-border-radius:var(--ui-border-radius-rounded);

  --ui-tabs-tab-padding-inline:20px;
  --ui-tabs-tab-padding-block:12px;
  --ui-tabs-tab-surface-color-default:var(--ui-surface-color-default);
  --ui-tabs-tab-surface-color-hover:var(--ui-surface-color-hover);
  --ui-tabs-tab-surface-color-active:var(--ui-surface-color-active);
  --ui-tabs-tab-content-color-default:var(--ui-content-color-default);
  --ui-tabs-tab-content-color-hover:var(--ui-content-color-hover);
  --ui-tabs-tab-content-color-active:var(--ui-content-color-active);

  --ui-tabs-tabpanel-padding-inline:20px;
  --ui-tabs-tabpanel-padding-block:16px;
  --ui-tabs-tabpanel-surface-color:var(--ui-surface-color-default);
  --ui-tabs-tabpanel-content-color:var(--ui-content-color-default);

  display:flex;
  width:100%;
  gap:var(--ui-tabs-gap);

  &:not([vertical]){
    flex-direction:column;
  }

  /* tablist */
  & > div[role="tablist"]{
    display:flex;
    flex-wrap:wrap;
    gap:var(--ui-tabs-gap);
  }

  &:not([vertical]) > div[role="tablist"]{
    flex-wrap:wrap;
  }

  &[vertical] > div[role="tablist"]{
    flex-direction:column;
    flex-shrink:0;
  }

  /* tab */
  & > div[role="tablist"] > button[role="tab"]{
    display:flex;
    background-color:var(--ui-tabs-tab-surface-color-default);
    border-radius:var(--ui-tabs-border-radius);
    padding-inline:var(--ui-tabs-tab-padding-inline);
    padding-block:var(--ui-tabs-tab-padding-block);
    color:var(--ui-tabs-tab-content-color-default);
    transition-property:background-color,outline-color,color;

    &[disabled]{
      cursor:not-allowed;
      opacity:0.5;
      pointer-events:auto;
    }

    @media (hover: hover){
      &:not([data-selected]):not([disabled]):hover{
        background-color:var(--ui-tabs-tab-surface-color-hover);
        color:var(--ui-tabs-tab-content-color-hover);
      }
    }

    &:not([data-selected]):not([disabled]):active,
    &[data-selected]:not([disabled]){
      color:var(--ui-tabs-tab-content-color-active);
      background-color:var(--ui-tabs-tab-surface-color-active);
    }
  }

  /* tabpanel */
  & > div[role="tabpanel"]{
    height:fit-content;
    border-radius:var(--ui-tabs-border-radius);
    padding-inline:var(--ui-tabs-tabpanel-padding-inline);
    padding-block:var(--ui-tabs-tabpanel-padding-block);
    color:var(--ui-tabs-tabpanel-content-color);
    background-color:var(--ui-tabs-tabpanel-surface-color);

    & > :is(ul,ol,p):first-child{margin-top:0;}
    & > :is(ul,ol,p):last-child{margin-bottom:0;}
    & > :is(ul,ol){padding-inline-start:20px;}
  }

  &[vertical] > div[role="tabpanel"]{
    flex-grow:1;
  }
}