ui-tabs{
  --tabs-border-radius:var(--border-radius-default);
  --tabs-gap:10px;

  --tabs-tab-padding-inline:20px;
  --tabs-tab-padding-block:12px;
  --tabs-tab-surface-color-default:var(--surface-color-default);
  --tabs-tab-surface-color-hover:var(--surface-color-hover);
  --tabs-tab-surface-color-active:var(--surface-color-active);

  --tabs-tab-fg:var(--content-color-default);

  --tabs-tabpanel-padding-inline:20px;
  --tabs-tabpanel-padding-block:16px;

  --tabs-tabpanel-bg:var(--surface-bg);
  --tabs-tabpanel-fg:var(--content-color-default);

  display:flex;
  flex-direction:column;
  width:100%;
  gap:var(--tabs-gap);

  &[orientation="vertical"]{
    flex-direction:row;
  }

  /* tablist */
  & > div[role="tablist"]{
    display:flex;
    flex-wrap:wrap;
    gap:var(--tabs-gap);
  }

  &[orientation="vertical"] > div[role="tablist"]{
    flex-direction:column;
    flex-shrink:0;
  }

  /* tab */
  & > div[role="tablist"] > button[role="tab"]{
    display:flex;
    background-color:var(--tabs-tab-surface-color-default);
    border-radius:var(--tabs-border-radius);
    padding-inline:var(--tabs-tab-padding-inline);
    padding-block:var(--tabs-tab-padding-block);
    color:var(--tabs-tab-content-color-default);
    font-size:var(--font-size-large);
    transition-property:background-color,outline-color,color;

    &[disabled]{
      cursor:not-allowed;
      opacity:0.5;
      pointer-events:auto;
    }

    @media (hover: hover){
      &:not([data-selected]):not([disabled]):hover{
        background-color:var(--tabs-tab-surface-color-hover);
      }
    }

    &:not([data-selected]):not([disabled]):active,
    &[data-selected]:not([disabled]){
      background-color:var(--tabs-tab-surface-color-active);
    }
  }

  /* tabpanel */
  & > div[role="tabpanel"]{
    height:fit-content;
    border-radius:var(--tabs-border-radius);
    padding-inline:var(--tabs-tabpanel-padding-inline);
    padding-block:var(--tabs-tabpanel-padding-block);
    color:var(--tabs-tabpanel-content-color);
    background-color:var(--tabs-tabpanel-bg);

    & > :is(ul,ol,p):first-child{margin-top:0;}
    & > :is(ul,ol,p):last-child{margin-bottom:0;}
    & > :is(ul,ol){padding-inline-start:20px;}
  }

  &[orientation="vertical"] > div[role="tabpanel"]{
    flex-grow:1;
  }
}