ui-tabs{
  --ui-tabs-gap:10px;
  --ui-tabs-tablist-gap:10px;
  --ui-tabs-border-radius:var(--ui-border-radius-rounded);

  --ui-tabs-tab-font-size:var(--ui-font-size-default);
  --ui-tabs-tab-padding-inline:20px;
  --ui-tabs-tab-padding-block:12px;
  --ui-tabs-tab-surface-color-default:var(--ui-surface-color-default);
  --ui-tabs-tab-surface-color-hover:var(--ui-surface-color-hover);
  --ui-tabs-tab-surface-color-active:var(--ui-surface-color-active);
  --ui-tabs-tab-content-color-default:var(--ui-content-color-default);
  --ui-tabs-tab-content-color-hover:var(--ui-content-color-hover);
  --ui-tabs-tab-content-color-active:var(--ui-content-color-active);

  --ui-tabs-tabpanel-font-size:var(--ui-font-size-default);
  --ui-tabs-tabpanel-padding-inline:20px;
  --ui-tabs-tabpanel-padding-block:16px;
  --ui-tabs-tabpanel-surface-color:var(--ui-surface-color-default);
  --ui-tabs-tabpanel-content-color:var(--ui-color-gray-200);
  --ui-tabs-tabpanel-line-height:var(--ui-line-height-normal);

  display:flex;
  flex-direction:column;
  width:100%;
  gap:var(--ui-tabs-gap);

  /* tablist */
  & > ui-tablist{
    display:flex;
    flex-wrap:wrap;
    gap:var(--ui-tabs-tablist-gap);
  }

  /* tab */
  & > ui-tablist > ui-tab{
    display:flex;
    background-color:var(--ui-tabs-tab-surface-color-default);
    border-radius:var(--ui-tabs-border-radius);
    padding-inline:var(--ui-tabs-tab-padding-inline);
    padding-block:var(--ui-tabs-tab-padding-block);
    font-size:var(--ui-tabs-tab-font-size);
    color:var(--ui-tabs-tab-content-color-default);
    transition-property:background-color,outline-color,color;

    &[disabled]{
      cursor:not-allowed;
      opacity:0.5;
      pointer-events:auto;
    }

    &:focus-visible:not([disabled]){
      outline-color:var(--ui-outline-color);
    }

    @media (hover: hover){
      &:not([selected]):not([disabled]):hover{
        background-color:var(--ui-tabs-tab-surface-color-hover);
        color:var(--ui-tabs-tab-content-color-hover);
      }
    }

    &:not([selected]):not([disabled]):active,
    &[selected]:not([disabled]){
      color:var(--ui-tabs-tab-content-color-active);
      background-color:var(--ui-tabs-tab-surface-color-active);
    }
  }

  /* tabpanel */
  & > ui-tabpanel{
    display:block;
    -webkit-user-select:text;
    user-select:text;
    border-radius:var(--ui-tabs-border-radius);
    padding-inline:var(--ui-tabs-tabpanel-padding-inline);
    padding-block:var(--ui-tabs-tabpanel-padding-block);
    font-size:var(--ui-tabs-tabpanel-font-size);
    color:var(--ui-tabs-tabpanel-content-color);
    background-color:var(--ui-tabs-tabpanel-surface-color);
    line-height:var(--ui-tabs-tabpanel-line-height);

    &[hidden]{
      display:none;
    }
  }
}