@import './ui-button/ui-button.css';
@import './ui-divider/ui-divider.css';
@import './ui-icon/ui-icon.css';
@import './ui-input/ui-input.css';
@import './ui-switch/ui-switch.css';
@import './ui-checkbox/ui-checkbox.css';
@import './ui-text/ui-text.css';

:root{
  /* font*/
  --ui-font-size-x-small:12px;
  --ui-font-size-small:14px;
  --ui-font-size-medium:16px;
  --ui-font-size-large:18px;
  --ui-font-size-x-large:20px;

  /* border */
  --ui-border-radius-default:8px;
  --ui-border-radius-pill:9999px;
  --ui-border-radius-circle:50%;

  /* color */
  --ui-color-white:oklch(100% 0 0);
  --ui-color-black:oklch(0% 0 0);

  --ui-transition-duration:0.2s;
}

[ui],
[ui] *{box-sizing:border-box!important;}

[ui][disabled]{
  cursor:not-allowed;
  opacity:0.4;}

[ui][disabled] *{
  pointer-events:none;}

[ui] input::-ms-reveal{
  display:none;}

ui-icon,
ui-divider,
ui-button,
ui-input,
ui-switch{
  user-select:none;
  -webkit-user-select:none;}