@import './ui-button/ui-button.css';
@import './ui-checkbox/ui-checkbox.css';
@import './ui-divider/ui-divider.css';
@import './ui-field/ui-field.css';
@import './ui-focus/ui-focus.css';
@import './ui-icon/ui-icon.css';
@import './ui-input/ui-input.css';
@import './ui-spinner/ui-spinner.css';
@import './ui-switch/ui-switch.css';
@import './ui-text/ui-text.css';
@import './ui-textarea/ui-textarea.css';
@import './ui-label/ui-label.css';



:root{
  /* font*/
  --ui-font-size-x-small:12px;
  --ui-font-size-small:14px;
  --ui-font-size-medium:16px;
  --ui-font-size-large:18px;
  --ui-font-size-x-large:20px;

  /* border radius */
  --ui-border-radius-default:8px;
  --ui-border-radius-pill:9999px;
  --ui-border-radius-circle:50%;
  --ui-border-radius-square:none;

  /* color */
  --ui-color-white:oklch(100% 0 0);
  --ui-color-black:oklch(0% 0 0);



  --ui-color-info:rgb(25, 125, 230);
  --ui-color-warning:rgb(245,180,40);
  --ui-color-error:rgb(230,60,60);
  --ui-color-success:rgb(45,160,80);

  --ui-color-blue-050:rgb(0,125,255);
  --ui-transition-duration:0.2s;
}

[ui]{
  -webkit-user-select:none;
  user-select:none;}

[ui],
[ui] *{box-sizing:border-box!important;}

[ui][disabled]{
  cursor:not-allowed;
  opacity:0.4;}

[ui][disabled] *{
  pointer-events:none;}

[ui] input::-ms-reveal{
  display:none;}