@import './ui-button/ui-button.css';
@import './ui-divider/ui-divider.css';
@import './ui-icon/ui-icon.css';
@import './ui-input/ui-input.css';
@import './ui-text/ui-text.css';

:root{
  --ui-font-size-x-small:12px;
  --ui-font-size-small:14px;
  --ui-font-size-medium:16px;
  --ui-font-size-large:18px;
  --ui-font-size-x-large:20px;

  --ui-border-radius:8px;
  --ui-transition-duration:0.2s;
}

[ui],
[ui] *{box-sizing:border-box!important;}

[ui][disabled]{
  cursor:not-allowed;
  opacity:0.5;}

[ui][disabled] *{
  pointer-events:none;}

[ui][animated]{
  transition-duration:var(--ui-transition-duration);}

ui-icon,
ui-divider,
ui-button,
ui-input{
  user-select:none;
  -webkit-user-select:none;}