<section class="intro">
  <h1>Text</h1>
  <p>A simple semantic container component.</p>
</section>

<section class="details">
  <h2>Info</h2>
  <p>This component acts only as a semantic container, without behavior, styling, or layout.</p>
</section>

<section class="content">

  <div class="content-item">
    <div class="example">
      <div class="preview">
        <ui-text>Text</ui-text>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-text&gt;Text&lt;/ui-text&gt;
</code></pre>

      </div>
    </div>
  </div>

</section>