<section class="intro">
  <h1>Text</h1>
  <div class="description">A simple wrapper component that acts only as a semantic container, without behavior, styling, or layout.</div>
</section>

<section class="details">
  <div class="info">
    <h2>Usage</h2>
    <ul>
      <li>
        Wrap content inside this component to provide a simple semantic container; all styling and behavior should be handled by the parent component where it is used.
      </li>
    </ul>
  </div>
</section>

<section class="content">

  <div class="content-item">
    <div class="example">
      <div class="preview">
        <ui-text>Text</ui-text>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-text&gt;Text&lt;/ui-text&gt;
</code></pre>

      </div>
    </div>
  </div>

</section>