ui-checkbox{
  --checkbox-size:var(--control-choice-medium);
  --checkbox-border-radius:calc(var(--checkbox-size) * 0.25);
  --checkbox-indicator-bg:var(--control-choice-indicator-bg);
  --checkbox-indicator-fg:var(--control-choice-indicator-fg);

  position:relative;
  display:inline-flex;
  vertical-align:middle;
  user-select:none;

  height:var(--checkbox-size);
  width:var(--checkbox-size);
  border-radius:var(--checkbox-border-radius);

  input:is([type="checkbox"]){
    appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;

    cursor:var(--cursor-interactive);
    touch-action:manipulation;
    -webkit-tap-highlight-color:transparent;

    background-color:var(--control-choice-bg);

    border-width:var(--control-border-width);
    border-style:var(--control-border-style);
    border-color:var(--control-border-color);

    outline-width:var(--outline-focus-width);
    outline-style:var(--outline-focus-style);
    outline-offset:var(--outline-focus-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:outline-color;

    &:disabled{
      cursor:var(--cursor-disabled);
    }

    &:focus-visible{
      outline-color:var(--outline-focus-color);
    }
  }

  & > input[type="checkbox"],
  & > span{
    position:absolute;
    width:inherit;
    height:inherit;
    border-radius:inherit;
  }

  & > span{
    pointer-events:none;
    display:block;
    opacity:0;
    background-color:var(--control-choice-indicator-bg);

    transition-duration:var(--duration-default);
    transition-property:opacity;
  }

  & > input[type="checkbox"]:is(:checked,:indeterminate) + span{
    opacity:1;
  }

  & > span::before,
  & > span::after{
    pointer-events:none;
    content:'';
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    opacity:0;

    transition-duration:var(--duration-default);
    transition-property:opacity;
  }

  & > span::before{
    height:calc(var(--checkbox-size) * 0.5);
    width:calc(var(--checkbox-size) * 0.35);
    border:0;
    border-style:solid;
    border-color:var(--control-choice-indicator-fg);
    border-right-width:max(calc(var(--checkbox-size) * 0.15),2px);
    border-bottom-width:max(calc(var(--checkbox-size) * 0.15),2px);
    transform:translate(-48%,-60%) rotate(45deg);
  }

  & > span::after{
    height:round(calc(var(--checkbox-size) * 0.15),1px);
    width:calc(var(--checkbox-size) * 0.5);
    background-color:var(--control-choice-indicator-fg);
    transform:translate(-50%,-50%);
  }

  & > input[type="checkbox"]:checked + span::before,
  & > input[type="checkbox"]:indeterminate + span::after{
    opacity:1;
  }

  &[size="small"]{--checkbox-size:var(--control-choice-small);}
  &[size="medium"]{--checkbox-size:var(--control-choice-medium);}
  &[size="large"]{--checkbox-size:var(--control-choice-large);}

  &[rounded="full"]{--checkbox-border-radius:var(--rounded-full);}
  &[rounded="none"]{--checkbox-border-radius:var(--rounded-none);}
}