ui-checkbox{
  --ui-checkbox-border-radius:var(--ui-border-radius-rounded);
  --ui-checkbox-height:24px;
  --ui-checkbox-width:24px;
  --ui-checkbox-surface-color:var(--ui-surface-color-default);
  --ui-checkbox-content-color:var(--ui-color-white);
  --ui-checkbox-border-color:var(--ui-color-gray-500);
  --ui-checkbox-svg-surface-color:var(--ui-color-blue-500);

  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:var(--ui-checkbox-height);
  width:var(--ui-checkbox-width);
  border-radius:var(--ui-checkbox-border-radius);
  background-color:var(--ui-checkbox-surface-color);
  color:var(--ui-checkbox-content-color);
  transition-property:outline-color;

  &[disabled]{
    cursor:not-allowed;
    opacity:0.5;
    pointer-events:auto;
  }

  &::before{
    position:absolute;
    content:'';
    inset:0;
    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--ui-checkbox-border-color);
  }

  & > ui-icon{
    --ui-icon-height:100%;
    --ui-icon-width:100%;

    position:absolute;
    border-radius:inherit;
    opacity:0;
    transition-property:opacity;
    background-color:var(--ui-checkbox-svg-surface-color);
  }

  &[checked] > ui-icon{
    opacity:1;
  }
}