ui-checkbox{
  --checkbox-border-radius:calc(var(--checkbox-size) / 4);
  --checkbox-border-color:var(--border-color);

  position:relative;
  display:inline-flex;
  vertical-align:middle;
  user-select:none;
  line-height:0;
  height:var(--checkbox-size);
  width:var(--checkbox-size);
  border-radius:var(--checkbox-border-radius);
  color:var(--color-white);

  & > input[type="checkbox"]{
    position:absolute;
    width:inherit;
    height:inherit;
    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--checkbox-bg, var(--surface-bg-default));
    transition-duration:var(--duration-default);
    transition-property:outline-color;

    &:disabled{cursor:not-allowed;}
  }

  & > input[type="checkbox"] + ui-icon{
    position:absolute;
    width:inherit;
    height:inherit;
    border-radius:inherit;
    opacity:0;
    pointer-events:none;
    background-color:var(--color-blue-600);
    transition-duration:var(--duration-default);
    transition-property:opacity;
  }

  & > input[type="checkbox"]:is(:checked,:indeterminate) + ui-icon{
    opacity:1;
  }

  /* size */
  &[data-size="small"]{--checkbox-size:1rem;}
  &:not([data-size]),
  &[data-size="medium"]{--checkbox-size:1.25rem;}
  &[data-size="large"]{--checkbox-size:1.5rem;}
}