ui-checkbox{
  --checkbox-border-radius:var(--border-radius-default);

  --checkbox-height:24px;
  --checkbox-width:24px;
  --checkbox-surface-color:var(--surface-color-default);
  --checkbox-content-color:var(--color-white);
  --checkbox-border-color:var(--color-neutral-500);
  --checkbox-svg-surface-color:var(--color-blue-500);

  position:relative;
  display:inline-flex;
  align-items:center;
  vertical-align:middle;
  height:var(--checkbox-height);
  width:var(--checkbox-width);
  border-radius:var(--checkbox-border-radius);
  background-color:var(--checkbox-surface-color);
  color:var(--checkbox-content-color);
  transition-property:outline-color;

  &[disabled]{
    cursor:not-allowed;
    opacity:0.5;
    pointer-events:auto;
  }

  &::before{
    position:absolute;
    content:'';
    inset:0;
    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--checkbox-border-color);
  }

  & > ui-icon{
    --icon-height:100%;
    --icon-width:100%;

    position:absolute;
    border-radius:inherit;
    opacity:0;
    transition-property:opacity;
    background-color:var(--checkbox-svg-surface-color);
  }

  &[checked] > ui-icon{
    opacity:1;
  }
}