ui-checkbox{
  --checkbox-size:1.25rem;
  --checkbox-border-radius:calc(var(--checkbox-size) / 4);
  --checkbox-border-color:var(--border-color);

  position:relative;
  user-select:none;
  height:var(--checkbox-size);
  width:var(--checkbox-size);
  border-radius:var(--checkbox-border-radius);
  color:var(--color-white);

  & > button::before{
    content:'';
    position:absolute;
    inset:0;
    pointer-events:none;
    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--checkbox-bg, var(--control-bg-default));
  }

  & > input[type="checkbox"]{
    position:relative;
    width:inherit;
    height:inherit;
    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--checkbox-bg, var(--control-bg-default));
  }

  & > button{
    position:relative;
    display:flex;
    align-items:center;
    height:inherit;
    width:inherit;
    border-radius:inherit;
    color:inherit;
    background-color:var(--checkbox-bg, transparent);
    transition-duration:var(--transition-duration-default);
    transition-property:background-color,outline-color;
  }

  & > button > ui-icon{
    --icon-height:var(--checkbox-size);
    --icon-width:var(--checkbox-size);
    border-radius:inherit;
    opacity:0;
    transition-duration:var(--transition-duration-default);
    transition-property:opacity;
  }

  /* radius */
  &[radius="full"]{--checkbox-radius:var(--radius-full);}
  &[radius="none"]{--checkbox-radius:var(--radius-none);}

  /* size */
  &[size="small"]{--checkbox-size:1rem;}
  &[size="medium"]{--checkbox-size:1.25rem;}
  &[size="large"]{--checkbox-size:1.5rem;}

  &:is([checked],[indeterminate]) > button{
    --checkbox-bg:var(--color-blue-600);
  }

  &:is([checked],[indeterminate]) > button > ui-icon{
    opacity:1;
  }
}