ui-button{
  --button-size:var(--control-action-md);
  --button-radius:calc(var(--button-size) * 0.25);
  --button-border-color:transparent;

  --button-padding-inline:var(--control-padding-md);
  --button-font-size:var(--control-font-md);
  --button-icon-size:var(--icon-md);
  --button-column-gap:calc(var(--button-size) * 0.25);

  position:relative;
  display:inline-block;
  vertical-align:middle;
  user-select:none;
  -webkit-user-select:none;

  height:var(--button-size);
  border-radius:var(--button-radius);

  &[disabled]{
    --state-button-fg-color:var(--fg-color-disabled);

    &:is(
      :not([variant]),
      [variant="solid"],
      [variant="soft"]
    ){
      --state-button-bg-color:var(--bg-color-disabled);
    }

    &[variant="outline"]{
      --state-button-border-color:var(--border-color-disabled);
    }
  }

  &[size="sm"]{
    --button-size:var(--control-action-sm);
    --button-padding-inline:var(--control-padding-sm);
    --button-font-size:var(--control-font-sm);
    --button-icon-size:var(--icon-sm);
  }
  &[size="md"]{
    --button-size:var(--control-action-md);
    --button-padding-inline:var(--control-padding-md);
    --button-font-size:var(--control-font-md);
    --button-icon-size:var(--icon-md);
  }
  &[size="lg"]{
    --button-size:var(--control-action-lg);
    --button-padding-inline:var(--control-padding-lg);
    --button-font-size:var(--control-font-lg);
    --button-icon-size:var(--icon-lg);
  }

  &[radius="full"]{--button-radius:var(--radius-full);}
  &[radius="none"]{--button-radius:var(--radius-none);}

  &[icon-only]{
    --button-padding-inline:0;
    width:var(--button-size);
  }

  &[justify="start"]{--button-justify-content:flex-start;}
  &[justify="end"]{--button-justify-content:flex-end;}

  & > button::before{
    content:'';
    position:absolute;
    inset:0;
    z-index:-1;
    opacity:0;
    pointer-events:none;

    background-color:currentColor;
    border-radius:var(--button-radius);

    transition-duration:var(--duration-default);
    transition-property:background-color,opacity;
  }

  & > button{
    appearance:none;
    margin:0;
    padding:0;
    border:none;
    background:none;

    cursor:var(--cursor-interactive);
    touch-action:manipulation;

    isolation:isolate;
    position:relative;
    display:inline-flex;
    align-items:center;
    vertical-align:top;
    line-height:1;
    width:100%;
    height:var(--button-size);

    border-radius:var(--button-radius);
    border-width:var(--control-border-width);
    border-style:var(--control-border-style);
    border-color:var(--state-button-border-color,var(--button-border-color));
  
    column-gap:var(--button-column-gap);
    justify-content:var(--button-justify-content,center);
    padding-inline:var(--button-padding-inline);
  
    font-family:var(--font-family-default);
    font-size:var(--button-font-size);
    /*font-weight:var(--font-weight-medium);*/

    background-color:var(--state-button-bg-color,var(--button-bg-color));
    color:var(--state-button-fg-color,var(--button-fg-color,inherit));

    outline-width:var(--focus-ring-width);
    outline-style:var(--focus-ring-style);
    outline-offset:var(--focus-ring-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:background-color,outline-color,border-color;

    &:disabled{
      cursor:var(--cursor-disabled);
    }

    &:focus-visible{
      outline-color:var(--focus-ring-color);
    }
  }

  & > button > ui-icon{
    --icon-height:var(--button-icon-size);
    --icon-width:var(--button-icon-width, var(--button-icon-size));
    margin-inline:-2px;
  }

  & > ui-spinner{
    --spinner-icon-size:var(--button-icon-size);
    --spinner-bg:var(--control-bg-disabled);
    --spinner-border-radius:var(--button-radius);
  }

  /* default */
  &:not([variant]){
    &[color]{
      --button-bg-color:var(--accent-bg-color-default);
      --button-fg-color:var(--accent-fg-color-default);

      @media (hover: hover){
        & > button:not(:disabled):hover{
          --button-bg-color:var(--accent-bg-color-default-hover);
        }
      }

      & > button:not(:disabled):active{
        --button-bg-color:var(--accent-bg-color-default-active);
      }
    }
    &:not([color]){
      --button-bg-color:var(--neutral-bg-color-default);
      --button-fg-color:var(--neutral-fg-color-default);

      @media (hover: hover){
        & > button:not(:disabled):hover{
          --button-bg-color:var(--neutral-bg-color-default-hover);
        }
      }

      & > button:not(:disabled):active{
        --button-bg-color:var(--neutral-bg-color-default-active);
      }
    }
  }

  /* solid */
  &[variant="solid"]{
    &[color]{
      --button-bg-color:var(--accent-bg-color-default);
      --button-fg-color:var(--accent-fg-color-default);

      @media (hover: hover){
        & > button:not(:disabled):hover{
          --button-bg-color:var(--accent-bg-color-default-hover);
        }
      }

      & > button:not(:disabled):active{
        --button-bg-color:var(--accent-bg-color-default-active);
      }
    }
    &:not([color]){
      --button-bg-color:var(--neutral-bg-color-default);
      --button-fg-color:var(--neutral-fg-color-default);

      @media (hover: hover){
        & > button:not(:disabled):hover{
          --button-bg-color:var(--neutral-bg-color-default-hover);
        }
      }

      & > button:not(:disabled):active{
        --button-bg-color:var(--neutral-bg-color-default-active);
      }
    }
  }


  /* soft */
  &[variant="soft"]{
    &[color]{
      --button-bg-color:var(--accent-bg-color-subtle);
      --button-fg-color:var(--accent-fg-color-subtle);

      @media (hover: hover){
        & > button:not(:disabled):hover{
          --button-bg-color:var(--accent-bg-color-subtle-hover);
        }
      }
      & > button:not(:disabled):active{
        --button-bg-color:var(--accent-bg-color-subtle-active);
      }
    }
    &:not([color]){
      --button-bg-color:var(--neutral-bg-color-subtle);
      --button-fg-color:var(--control-fg-color-subtle);

      @media (hover: hover){
        & > button:not(:disabled):hover{
          --button-bg-color:var(--neutral-bg-color-subtle-hover);
        }
      }

      & > button:not(:disabled):active{
        --button-bg-color:var(--neutral-bg-color-subtle-active);
      }
    }
  }

  /* outline */
  &[variant="outline"]{
    &[color]{
      --button-bg-color:transparent;
      --button-fg-color:var(--accent-fg-color-subtle);
      --button-border-color:var(--accent-border-color-subtle);

      @media (hover: hover){
        &:has( > :is(button):not(:disabled):hover){
          --button-bg-color:var(--accent-bg-color-subtle);
        }
      }

      &:has( > :is(button):not(:disabled):active){
        --button-bg-color:transparent;
      }
    }
    &:not([color]){
      --button-bg-color:transparent;
      --button-fg-color:var(--neutral-fg-color-subtle);
      --button-border-color:var(--neutral-border-color-subtle);

      @media (hover: hover){
        &:has( > :is(button):not(:disabled):hover){
          --button-bg-color:var(--neutral-bg-color-subtle);
        }
      }

      &:has( > :is(button):not(:disabled):active){
        --button-bg-color:var(--neutral-bg-color-subtle-active);
      }
    }
  }

  /* ghost */
  &[variant="ghost"]{
    &[color]{
      --button-bg-color:transparent;
      --button-fg-color:var(--accent-fg-color-subtle);

      @media (hover: hover){
        & > button:not(:disabled):hover{
          --button-bg-color:var(--accent-bg-color-subtle);
        }
      }

      & > button:not(:disabled):active{
        --button-bg-color:var(--accent-bg-color-subtle-active);
      }
    }
    &:not([color]){
      --button-bg-color:transparent;
      --button-fg-color:var(--neutral-fg-color-subtle);

      @media (hover: hover){
        & > button:not(:disabled):hover{
          --button-bg-color:var(--neutral-bg-color-subtle);
        }
      }

      & > button:not(:disabled):active{
        --button-bg-color:var(--neutral-bg-color-subtle-active);
      }
    }
  }



}