ui-textarea{
  --textarea-height:auto;
  --textarea-width:100%;

  --textarea-border-radius:var(--rounded-base);
  --textarea-padding:0.5rem 0.75rem;

  position:relative;
  width:var(--textarea-width);
  border-radius:var(--textarea-border-radius);

  & > textarea{
    appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;

    width:inherit;
    padding:var(--textarea-padding);
    resize:vertical;
    font-family:inherit;
    font-size:inherit;
    color:inherit;

    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--border-color);

    background-color:transparent;

    outline-width:var(--outline-focus-width);
    outline-style:var(--outline-focus-style);
    outline-offset:var(--outline-focus-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:outline-color;

    &:disabled{
      cursor:var(--cursor-disabled);
    }

    &:focus-visible{
      outline-color:var(--outline-focus-color);
    }
  }

  &[rounded="none"]{
    --textarea-border-radius:var(--rounded-none);
  }
}