ui-textarea{
  --textarea-height:auto;
  --textarea-width:100%;
  --textarea-border-radius:var(--radius-md);
  --textarea-padding:0.5rem 0.75rem;

  --textarea-fg:var(--variant-fg);
  --textarea-bg:var(--variant-bg);
  --textarea-border-color:var(--control-border-color);

  position:relative;
  width:var(--textarea-width);
  border-radius:var(--textarea-border-radius);

  & > textarea{
    appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;

    width:inherit;
    padding-block:var(--textarea-padding);
    padding-inline:var(--textarea-padding);
    resize:vertical;
    font-family:var(--font-family-default);
    font-size:var(--textarea-font-size);
    color:var(--textarea-fg);
    background-color:transparent;

    border-radius:inherit;
    border-width:var(--control-border-width);
    border-style:var(--control-border-style);
    border-color:var(--textarea-border-color);

    outline-width:var(--focus-ring-width);
    outline-style:var(--focus-ring-style);
    outline-offset:var(--focus-ring-offset);
    outline-color:transparent;

    transition-duration:var(--duration-default);
    transition-property:outline-color;

    &:disabled{
      cursor:var(--cursor-disabled);
    }

    &::placeholder{
      color:var(--control-fg-placeholder);
    }

    &:focus-visible{
      outline-color:var(--focus-ring-color);
    }

    @media (hover: hover){
      &:not(:disabled):hover{
        --textarea-border-color:var(--control-border-color-hover);
      }
    }
  }

  &[radius="none"]{
    --textarea-border-radius:var(--radius-none);
  }
}