ui-textarea{
  --textarea-border-radius:var(--border-radius-default);
  --textarea-padding:10px 12px;
  --textarea-border-color:var(--border-color);

  position:relative;
  display:inline-flex;
  height:fit-content;
  width:100%;
  background-color:var(--textarea-background-color);

  & > textarea{
    direction:inherit;
    min-height:var(--textarea-min-height);
    width:100%;
    padding:var(--textarea-padding);
    resize:vertical;
    color:var(--textarea-font-color);
    border-radius:inherit;
    border-width:1px;
    border-style:solid;
    border-color:var(--textarea-border-color);
    background-color:transparent;
  }

  /* shape */
  &[shape="rounded"]{--textarea-border-radius:var(--border-radius-rounded);}
  &[shape="square"]{--textarea-border-radius:var(--border-radius-square);}
}