ui-textarea{
  --textarea-height:auto;
  --textarea-width:100%;

  --textarea-border-radius:var(--border-radius-default);
  --textarea-padding:10px 12px;
  --textarea-border-color:var(--control-border-color);

  width:var(--textarea-width);

  & > textarea{
    direction:inherit;
    min-height:2lh;
    width:100%;
    padding:var(--textarea-padding);
    resize:vertical;
    color:var(--textarea-font-color);
    border-radius:var(--border-radius-default);
    border-width:1px;
    border-style:solid;
    border-color:var(--textarea-border-color);
    background-color:transparent;
  }

  /* shape */
  &[shape="rounded"]{
    --textarea-border-radius:var(--border-radius-rounded);
  }

  &[shape="square"]{
    --textarea-border-radius:var(--border-radius-square);
  }
}