<!--<div class="sidebar">
  <div class="static">
    <span class="version">{{site.version}}</span>
  </div>

  <nav>
    <ul>
      <li class="nav-category" data-nav-category="Essentials"><div class="menu-title">Essentials</div>
        <ul>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/foundation">Foundation</a></li>
        </ul>
      </li>
      <li class="nav-category" data-nav-category="Tokens">
        <div class="menu-title">Tokens</div>
        <ul>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/typography">Typography</a></li>
        </ul>
      </li>
      <li class="nav-category" data-nav-category="Theme">
        <div class="menu-title">Theme</div>
        <ul>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/icons">Icons</a></li>
        </ul>
      </li>
      <li class="nav-category" data-nav-category="Primitives">
        <div class="menu-title">Primitives</div>
        <ul>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/icon">Icon</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/separator">Separator</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/spinner">Spinner</a></li>
        </ul>
      </li>
      <li class="nav-category" data-nav-category="Form Controls">
        <div class="menu-title">Form Controls</div>
        <ul>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/button">Button</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/checkbox">Checkbox</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/field">Field</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/input">Input</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/radio">Radio</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/select">Select</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/switch">Switch</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/textarea">Textarea</a></li>
        </ul>
      </li>
      <li class="nav-category" data-nav-category="Components">
        <div class="menu-title">Components</div>
        <ul>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/accordion">Accordion</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/alert">Alert</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/badge">Badge</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/breadcrumb">Breadcrumb</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/disclosure">Disclosure</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/tabs">Tabs</a></li>
        </ul>
      </li>
      <li class="nav-category" data-nav-category="Utilities">
        <div class="menu-title">Utilities</div>
        <ul>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/focus">Focus</a></li>
          <li><a class="menu-item" href="{{site.baseUrl}}pages/portal">Portal</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="static"></div>
</div>
-->