<section class="intro">
  <h1>Heading</h1>
  <p>A simple semantic component defining a section heading for accessible documents.
</p>
</section>

<section class="details">
  <h2>Info</h2>
  <p>Automatically applies role="heading" for accessibility. aria-level="6" is added by default only when the role is "heading"; both role and aria-level can be overridden manually.</p>
</section>

<section class="content">

  <div class="content-item">
    <div>Default</div>
    <div class="example">
      <div class="preview">
        <ui-heading>Heading</ui-heading>
      </div>
      <div class="toolbar">
        <span>HTML</span>
      </div>
      <div class="code">

<pre><code>
&lt;ui-heading&gt;Heading&lt;/ui-heading&gt;
</code></pre>

      </div>
    </div>
  </div>

</section>